<!DOCTYPE html>
<html>
<head>
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/report.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body style="border:1px solid white;">
    <div class="row pdf-header-content text-extra-small" style="border:0px solid black; max-height:60px; margin-left: 0; margin-right: 0; margin-top: 20px;">
        <div id="col_left" class="col-xs-4" style="border:0px solid red;padding-left: 0; margin-top:-20px; margin-bottom:20px;">
            <div id="pdfkit_name">&nbsp;</div>
            <div id="pdfkit_pet_name">&nbsp;</div>
        </div>
        <div class="col-xs-8" style="padding-left:0; margin-top:-20px; margin-bottom:20px;">
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-5" style="padding-right:5px;">
                            <div id="pdfkit_code"></div>
                            <div id="pdfkit_date"></div>
                        </div>
                        <div class="col-xs-7" style="padding-left:5px;padding-right:5px;">
                            <div class="row">
                                <div class="col-xs-6" style="padding-right:5px;">
                                    <div id="pdfkit_code_h1"></div>
                                    <div id="pdfkit_date_h1"></div>
                                </div>
                                <div class="col-xs-6" style="padding-left:5px;">
                                    <div id="pdfkit_code_h2"></div>
                                    <div id="pdfkit_date_h2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-right"  style="padding-right: 0;">
                    <div id="pdfkit_vet"></div>
                    <div id="pdfkit_status"></div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var pdfInfo = {};
        var x = document.location.search.substring(1).split('&');
        for (var i in x) { var z = x[i].split('=',2); pdfInfo[z[0]] = unescape(z[1]); }
        function getPdfInfo() {
            var page = pdfInfo.page || 1;
            if (page != 1) {
                document.getElementById('pdfkit_name').textContent = '{{ report.owner.lastName | upper }} {{ report.owner.firstName | upper }}';
                document.getElementById('pdfkit_pet_name').textContent = '{{ report.version.samples[0].pet.name | upper }}';
                document.getElementById('pdfkit_code').textContent = '{{ report.version.samples[0].code }}';
                document.getElementById('pdfkit_date').textContent = '{{ report.version.samples[0].dateReceived | date("d/m/Y")}}';

                {% if report.hasHistory(0) %}
                document.getElementById('pdfkit_code_h1').textContent = '{{ report.codeHistory[0] }}';
                document.getElementById('pdfkit_date_h1').textContent = '{{ report.dateHistory[0] | date("d/m/Y")}}';
                {% endif %}
                {% if report.hasHistory(1) %}
                document.getElementById('pdfkit_code_h2').textContent = '{{ report.codeHistory[1] }}';
                document.getElementById('pdfkit_date_h2').textContent = '{{ report.dateHistory[1] | date("d/m/Y")}}';
                {% endif %}

                document.getElementById('pdfkit_status').textContent = '{{ report.version.samples[0].completed | statusAsText(report.language) | upper }}';

                document.getElementById('pdfkit_vet').textContent = '{{ report.veterinary.lastName | upper }} {{ report.veterinary.firstName | upper }}';
            }
            if (page == 1) {
                document.getElementById('col_left').innerHTML = '<img style="width:100px;" src="{{ asset('bundles/zoolyxcore/images/logo.jpg', absolute=true) }}">';
            }
        }
        getPdfInfo();
    </script>
</body></html>