{% extends "ZoolyxCoreBundle::empty.html.twig" %}

{% block Main %}
    For the most recent version of this report visit <br>
    <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('zoolyx_report',{hash:hash}) }}">
        {{ app.request.getSchemeAndHttpHost() }}{{ path('zoolyx_report',{hash:hash}) }}
    </a>

{% endblock %}