
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 report-header-container">
            {% if report.owner %}
            <b>{{ report.owner.lastName | upper }} {{ report.owner.firstName | upper }}</b><br />
            {{ report.owner.street }}<br />
            {{ report.owner.country }}-{{ report.owner.zipCode }} {{ report.owner.city }}<br />
            <br />
            {{ report.getReportType() }}<br />
            {% else %}
                <br /><br /><br /><br /><br />
            {% endif %}
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-2 col-md-5 col-md-offset-2 report-header-container">
            <b>{{ report.veterinary.lastName | upper }} {{ report.veterinary.firstName | upper }}</b><br />
            {{ report.practice.street }}<br />
            {{report. practice.country }}-{{ report.practice.zipCode }} {{ report.practice.city }}<br />
            <br />
            <b>{% trans into report.language %}report.your_reference{% endtrans %}: {{ report.report.practiceReference }}</b>
        </div>
    </div>
    {% if report.report.files|length > 0 %}
        <div class="row sample-container">
            {% for file in report.report.files %}
                <div class="col-xs-2">
                    <a href="{{ asset(attachment_path ~ file.name, absolute=true) }}" target="_new">
                        {% if file|isImage %}
                            <img class="img-responsive" src="{{ asset(attachment_path ~ file.name, absolute=true) }}" />
                        {% else %}
                            <i class="fa {{ file | icon }} fa-3x"></i>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
