{% extends "ZoolyxCoreBundle::empty.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/report.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/ionicons.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    {% if isPdf %}
        <link href="{{ asset('bundles/zoolyxcore/css/pdf.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    {% endif %}
{% endblock %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:Report:report_content.html.twig', {
        'isPdf' : isPdf,
        'report': report,
        'avoidPageBreakInGroup': avoidPageBreakInGroup
    }) }}

    <div class="no-page-break">
        <div class="row">
            <div class="col-xs-12">
                {% trans into report.language %}report.report_version{% endtrans %}:
                {{ report.report.createdOn |date("d/m/Y H:i")}}<br />

                {% set validators = report.getValidators %}
                {% if validators | length > 0 %}
                    {% trans into report.language %}report.approved_by{% endtrans %}
                    {% for validator in validators %}
                        {{ validator.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    {% if isPdf %}
        <div class="row" style="margin-top: 50px">
            <div class="col-xs-12">
                {% trans into report.language %}report.disclaimer{% endtrans %}:
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}