    {{ include('ZoolyxCoreBundle:Report:report_header.html.twig') }}

    {% for sample in report.samples %}
    <div class="no-page-break a">
        <div class="row sample-container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-2">
                        <img style="margin: 0 auto; height: 50px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ report.petSpeciesName ~ '.png', absolute=true) }}" alt="{{ report.petSpeciesName() }}">
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <span class="text-bold">{{ sample.pet.name }} {% if sample.externalId %}, {{ sample.externalId }}{% endif %}</span><br/>
                        {% if sample.pet | hasAge %}{{ sample.pet | age(report.language) }} ({{ sample.pet.birthDate | date('j/m/Y')}}){% endif %}<br/>
                        {{ sample.pet | breed }}
                        {% if sample.pet.gender == "M" or sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                        {% if sample.pet.gender == "V" or sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                    </div>
                    <div class="hidden-xs col-sm-3">
                        {% if sample.pet.chipNbr %}
                            <div class="row">
                                <div class="col-xs-4">{% trans into report.language %}pet.chip_nbr{% endtrans %}</div>
                                <div class="col-xs-8">{{ sample.pet.chipNbr }}</div>
                            </div>
                        {% endif %}
                        {% if sample.pet.tattooNbr %}
                            <div class="row">
                                <div class="col-xs-4">{% trans into report.language %}pet.tattoo_nbr{% endtrans %}</div>
                                <div class="col-xs-8">{{ sample.pet.tattooNbr }}</div>
                            </div>
                        {% endif %}
                        {% if sample.pet.pedigreeNbr %}
                            <div class="row">
                                <div class="col-xs-4">{% trans into report.language %}pet.pedigree_nbr{% endtrans %}</div>
                                <div class="col-xs-8">{{ sample.pet.pedigreeNbr }}</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-4 col-sm-3 text-right">
                        <b>{{ sample.completed | statusAsText(report.language) | upper }}</b><br>
                        {{ sample.dateCompleted |date("d/m/Y")}}
                    </div>
                </div>
                <div class="spacer10"></div>
                {{ include('ZoolyxCoreBundle::Report/Row/samples.html.twig', {report: report}) }}
                {{ include('ZoolyxCoreBundle::Report/Row/received.html.twig', {report: report}) }}
            </div>
        </div>
        {% if loop.first %}
            {{ include('ZoolyxCoreBundle::Report/Row/headers.html.twig', {report: report}) }}
        {% endif %}
        {% if report.getSuggestions(sample.id) %}
            <div class="row parameter-group-container">
                <div class="col-xs-12">
                    {% trans %}report.genius_title{% endtrans %}
                </div>
            </div>
            {% for suggestion in report.getSuggestions(sample.id) %}
            <div class="row myzoolyx_row2">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-1 text-right">
                            <input type="checkbox" class="checkbox_{{ sample.id }}" data-profile="{{ suggestion.parameterProfile.reference }}">
                        </div>
                        <div class="col-xs-10">
                            <a href="../../../{{ report.language }}/wiki/PP_{{ suggestion.parameterProfile.reference }}" target="_blank">{{ suggestion.parameterProfile.getDescription(report.language).description }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8" style="padding-left:0">
                    {{ suggestion.getDescription(report.language).description }}
                </div>
            </div>
            {% endfor %}
            <div class="row myzoolyx_row2">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <form action="{{ path('request_suggestion', {hash:report.hash}) }}" method="post" onsubmit="return checkProfiles_{{ sample.id }}()">
                                <input type="hidden" id="profiles_{{ sample.id }}" name="profiles" value="" />
                                <input type="hidden" name="sample" value="{{ sample.id }}" />
                                <input type="submit" class="btn btn-primary" value="{% trans %}report.genius_button{% endtrans %}">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <script>
                function checkProfiles_{{ sample.id }}(){
                    var profiles = [];
                    $('.checkbox_{{ sample.id }}').each(function() {
                        var $checkbox = $(this);
                        console.log('checking - ' + $checkbox.data('profile'));
                        if ($checkbox.is(':checked')) {
                            profiles.push($checkbox.data('profile'));
                            console.log('added profile');
                        }
                    });
                    $('#profiles_{{ sample.id }}').val(profiles.join(','));

                    return profiles.length>0;
                }
            </script>
        {% endif %}
        {% for parameterGroup in sample.parameterGroups %}
            {% if not loop.first %}
                <div class="no-page-break b">
            {% endif %}

            <div class="row parameter-group-container">
                <div class="col-xs-12">
                    {{ parameterGroup.parameterGroupBase.getDescription(report.language).description | upper }}
                </div>
            </div>
            {% for parameter in parameterGroup.parameters %}
                <div class="no-page-break p">
                    {{ include('ZoolyxCoreBundle::Report/Row/parameter.html.twig', {report: report, parameter: parameter }) }}

                    {% if parameter.comment %}
                        {{ include('ZoolyxCoreBundle::Report/Row/comment.html.twig', {report: report, parameter: parameter }) }}
                    {% endif %}

                    {{ include('ZoolyxCoreBundle::Report/Row/reference_comment.html.twig', {report: report, parameter: parameter }) }}

                    {% if parameter.files|length or parameter.reference.image%}
                        {{ include('ZoolyxCoreBundle::Report/Row/images.html.twig', {report: report, parameter: parameter }) }}
                    {% endif %}
                </div>

                {% if loop.length == 3 and loop.index == 2 %}
                    </div>  <!-- no page break test-->
                    <div class="no-page-break">
                {% endif %}

                {% if loop.length > 3 %}
                    {% if loop.index == 2 %}
                        </div>  <!-- no page break -->
                    {% endif %}
                    {% if loop.revindex0 == 2 %}
                        <div class="no-page-break">
                    {% endif %}
                {% endif %}

            {% endfor %}
            </div> <!-- no page break -->

        {% endfor %}
        {% if not loop.last %}
            <div class="spacer10"></div>
        {% endif %}

    {% endfor %}

    {{ include('ZoolyxCoreBundle:Report:report_footer.html.twig') }}


