{% extends "::main.html.twig" %}


{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top:20px;">
        <div class="jumbotron center">
            <h4>Confirmation failed</h4>
        </div>
    </div>
</div>
{% endblock %}