{% extends "::layout.html.twig" %}

{% block PageHeader %}
    <div class="jumbotron text-center">
        <p>
            {% trans %}form.registration.mail_sent{% endtrans %} {{ email }}
        </p>
    </div>
{% endblock %}