{% extends "::main.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8" style="margin-top:20px;">
        {{ form_start(form, {'attr': {'class': 'zlx_form'}}) }}
        {{ form_errors(form) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                        <h4>{% trans %}form.registration.title{% endtrans %}</h4>
                    </div>
                    <hr/>
                    {{ include('ZoolyxTemplateBundle:Terms:terms_'~app.request.locale~'.html.twig')}}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.firstName) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.firstName) }}
                                {%for error in form.firstName.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.lastName) }}
                                {%for error in form.lastName.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.email) }}
                                {%for error in form.email.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.language) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.language) }}
                                {%for error in form.language.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right ">
                                {{ form_widget(form.agreeWithConditions) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                <b>
                                    {% trans %}form.registration.agree_with_conditions.1{% endtrans %}
                                    <a href="{{ url_conditions }}">{% trans %}form.registration.conditions{% endtrans %}</a>
                                    {% trans %}form.registration.agree_with_conditions.2{% endtrans %}
                                    <a href="{{ url_privacy }}">{% trans %}form.registration.privacy{% endtrans %}</a>
                                </b>
                                {{ form_errors(form.agreeWithConditions) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right">
                                {{ form_widget(form.acceptMails) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_label(form.acceptMails) }}
                                {{ form_errors(form.acceptMails) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-sm-5">
                            <a class="btn btn-link btn-block" href="{{ path('fos_user_security_login') }}">{% trans %}login.existing{% endtrans %}</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <p class="no-margin" style="padding:6px"><i>{% trans %}login.or{% endtrans %}</i></p>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary btn-block">{% trans %}login.register{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}