{% extends "::main_min.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top:20px;">
        {{ form_start(form, {'attr': {'class': 'zlx_form'}}) }}
        {%for error in form.vars.errors%}
            <p style="color:red">{{error.message}}</p>
        {%endfor%}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                        <h4>{% trans %}form.registration.title_complete{% endtrans %}</h4>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                <label>{% trans %}form.registration.email{% endtrans %}</label>
                            </div>
                            <div class="col-xs-7 vcenter">
                                <span>{{ user.email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.password.first) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.password.first) }}
                                {%for error in form.password.first.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                                <p id="password-strength-text" style="font-weight: bold; margin-top:5px;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.password.second) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.password.second) }}
                                {%for error in form.password.second.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.firstName) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.firstName) }}
                                {%for error in form.firstName.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.lastName) }}
                                {%for error in form.lastName.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.language) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.language) }}
                                {%for error in form.language.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.street) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.street) }}
                                {%for error in form.street.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.zipCode) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.zipCode) }}
                                {%for error in form.zipCode.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.city) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.city) }}
                                {%for error in form.city.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.country) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.country) }}
                                {%for error in form.country.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.telephone) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.telephone) }}
                                {%for error in form.telephone.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.isVeterinary) }}
                                {%for error in form.isVeterinary.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display:none" id="form_order_number">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.orderNumber) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.orderNumber) }}
                                {%for error in form.orderNumber.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <button type="submit" id="submit_button" class="btn btn-primary btn-block">{% trans %}login.register{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/zxcvbn.js', absolute=true) }}"></script>
    <script>

        $(document).ready(function() {
            var $isVeterinary = $('#UserRegistration_isVeterinary_0');
            if ($isVeterinary.attr('checked')) {
                $('#form_order_number').show()
            } else {
                $('#form_order_number').hide()
            }
            $isVeterinary.change(function() {
                if (this.checked) {
                    $('#form_order_number').show()
                } else {
                    $('#form_order_number').hide()
                }
            });
        });

        var strength = {
            0: {code: "Very weak", color:"red"},
            1: {code: "Weak", color:"red"},
            2: {code: "Still weak", color:"orange"},
            3: {code: "Good", color:"blue"},
            4: {code: "Strong", color:"green"}
        };

        var password = document.getElementById('UserRegistration_password_first');
        var text = document.getElementById('password-strength-text');
        var $submitButton = $('#submit_button');
        $submitButton.prop("disabled",true);

        password.addEventListener('input', function() {
            var val = password.value;
            var result = zxcvbn(val);

            // Update the text indicator
            if (val !== "") {
                text.innerHTML = "Strength: " + strength[result.score].code;
                text.style.color = strength[result.score].color;
            } else {
                text.innerHTML = "";
            }
            if (result.score >2) {
                $submitButton.prop("disabled",false);
            } else {
                $submitButton.prop("disabled",true);
            }
        });
    </script>
{% endblock %}