{% extends "::layout.html.twig" %}

{% block PageHeader %}
    <div class="jumbotron text-center">
        <p>
            {% trans %}form.registration.registration_succes{% endtrans %}
        </p>
        {% if user.isVeterinary %}
            <p>
                {% trans %}form.registration.veterinary_pending{% endtrans %}
            </p>
        {% endif %}
    </div>
{% endblock %}