{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.geoop{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.geoop{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}


{% block Main %}
    <script>
        function submitFor() {
            var keyword = $("#keyword").val();
            $("#search-form").attr("action", keyword == '' ? '{{ path("admin_geoop_log") }}' : '{{ path("admin_geoop_log") }}?key='+keyword);
        }
    </script>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <form id="search-form" action="" method="post">
                <div class="input-group zlx_form">
                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="{% if keyword is defined%}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" data-toggle="tooltip" title="Search" onclick="submitFor()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Created</th>
                    <th>JobId</th>
                    <th>JobReference</th>
                    <th>ClientId</th>
                    <th>Result</th>
                    <th>Priority</th>
                    <th>Practice</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Voorzien</th>
                    <th>Ophaling</th>
                    <th>Line 1</th>
                    <th>Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postcode</th>
                </tr>
                </thead>
                <tbody>
                {% for geoOpLog in pager.currentPageResults %}
                    <tr>
                        <td><a href="https://www.geoop.com/console.php?s=editjob&jobid={{ geoOpLog.jobId }}" target="_new"><span class="glyphicon glyphicon-link"></span></a></td>
                        <td>{{ geoOpLog.createdOn | date("Y-m-d H:i:s") }}</td>
                        <td>{{ geoOpLog.jobId }}</td>
                        <td>{{ geoOpLog.jobReference }}</td>
                        <td>{{ geoOpLog.clientId }}</td>
                        <td>{{ geoOpLog.response }}</td>
                        <td>{{ geoOpLog.priority }}</td>
                        <td>{% if geoOpLog.veterinaryPractice.practice.name %}{{ geoOpLog.veterinaryPractice.practice.name }}{% endif %}</td>
                        <td>{% if geoOpLog.veterinary %}{{ geoOpLog.veterinary.firstName }}{% endif %}</td>
                        <td>{% if geoOpLog.veterinary %}{{ geoOpLog.veterinary.lastName }}{% endif %}</td>
                        <td>{{ geoOpLog.title }}</td>
                        <td>{% if geoOpLog.voorzien is not null %}{{ geoOpLog.voorzien | date("Y-m-d H:i:s") }}{% endif %}</td>
                        <td>{{ geoOpLog.ophaling }}</td>
                        <td>{{ geoOpLog.line1 }}</td>
                        <td>{{ geoOpLog.line2 }}</td>
                        <td>{{ geoOpLog.city }}</td>
                        <td>{{ geoOpLog.state }}</td>
                        <td>{{ geoOpLog.postCode }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}
    
    <div class="col-xs-12 page-links pagination">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
        {% endif %}
    </div>
{% endblock %}
