{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.staalophaling{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.staalophaling{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}
 
{% block Main %}
<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path('veterinary_pickup_history') }}">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            {% trans %}pickup.history{% endtrans %}
        </div>
    </div>
    
   

    <div class="row">
        <div class="col-xs-12">
            <h2>{% trans %}pickup.planned_pickups{% endtrans %}</h2>
             <p class="well">{% trans %}pickup.pickup_change_instructions{% endtrans %}.</p>
        </div>
        <div class="col-xs-12">
          	 <div style="padding: 10px 15px;">
     	       <div class="row myzoolyx_row_header">
           	     <div class="col-xs-6 col-sm-3 col-md-3">
                    {% trans %}pickup.pickup_date{% endtrans %}
         	     </div>
               	 <div class="col-xs-4 col-sm-2 col-md-2">
                    {% trans %}pickup.sample_available_on{% endtrans %} 
                 </div>

               	 <div class="hidden-xs col-sm-3 col-md-3">
                    {% trans %}pickup.address{% endtrans %} 
                 </div>
               	 <div class="hidden-xs col-sm-2 col-md-2">
                    {% trans %}pickup.requested_by{% endtrans %}
                 </div>
               </div>
            </div>
        </div>

        {% for practiceJob in practiceJobs %}
            {% set practice = practiceJob["practice"] %}
            {% set jobs = practiceJob["jobs"] %}

            <!--
            <div class="col-xs-12">
                Praktijk : {{ practice.id }}
            </div>
            -->
            {% for job in jobs %}
                <div class="col-xs-12">
                    <div class="myzoolyx_row">
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            {{ job.ophaling }}
                        </div>
                        <div class="col-xs-4 col-sm-2 col-md-2">
                            {{ job.voorzien | date("Y-m-d H:i") }}
                        </div>
                        <div class="hidden-xs col-sm-3 col-md-3">
                            {{ job.line1 }}, {{ job.postCode }} {{ job.city }}
                        </div>
                        <div class="hidden-xs col-sm-2 col-md-2">
                            {{ job.veterinaryPractice.veterinary.firstName }} {{ job.veterinaryPractice.veterinary.lastName }}
                        </div>
                        <div class="col-xs-2">
                       	 <a href="{{ path('veterinary_pickup_details') }}{{ job.id }}" class="btn btn-default">
                        	<span class="glyphicon glyphicon-edit"></span> 
                        	<span  class="hidden-xs hidden-sm"">{% trans %}pickup.change{% endtrans %}</span>                 
                      	 </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

    </div>
    
    

    <div class="row" style="margin-top: 50px;">
        <div class="col-xs-6 text-right">
            <a class="btn btn-default" href="{{ path('veterinary_report_index') }}"> {% trans %}pickup.cancel{% endtrans %}</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-default" href="{{ path('veterinary_pickup_details') }}"> {% trans %}pickup.new_pickup{% endtrans %}</a>
        </div>

    </div>
  </div>
</div>

{% endblock %}
	
