{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.staalophaling{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.staalophaling{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="jumbotron text-center">
    <div class="alert alert-danger" role="alert">
        {% trans %}pickup.failure{% endtrans %}
    </div>
     <br>
    <a class="btn btn-default" href="{{ path('veterinary_report_index') }}">{% trans %}pickup.continue{% endtrans %}</a>
    </div>
{% endblock %}