{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}pickup.log{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}pickup.log{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}


{% block Main %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans %}pickup.created{% endtrans %}</th>
                    <th>{% trans %}pickup.title{% endtrans %}</th>
                    <th>{% trans %}pickup.voorzien{% endtrans %}</th>
                    <th>{% trans %}pickup.ophaling{% endtrans %}</th>
                    <th>{% trans %}pickup.result{% endtrans %}</th>
                    <th>{% trans %}pickup.priority{% endtrans %}</th>
                    <th>{% trans %}pickup.first_name{% endtrans %}</th>
                    <th>{% trans %}pickup.last_name{% endtrans %}</th>
                    <th>{% trans %}pickup.straat{% endtrans %}</th>
                    <th>{% trans %}pickup.postcode{% endtrans %}</th>
                    <th>{% trans %}pickup.city{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for geoOpLog in pager.currentPageResults %}
                    <tr>
                        <td>{{ geoOpLog.createdOn | date("Y-m-d H:i:s") }}</td>
                        <td>{{ geoOpLog.title }}</td>
                        <td>{% if geoOpLog.voorzien is not null %}{{ geoOpLog.voorzien | date("Y-m-d H:i:s") }}{% endif %}</td>
                        <td>{{ geoOpLog.ophaling }}</td>
                        <td>{{ geoOpLog.response }}</td>
                        <td>{{ geoOpLog.priority }}</td>
                        <td>{% if geoOpLog.veterinary %}{{ geoOpLog.veterinary.firstName }}{% endif %}</td>
                        <td>{% if geoOpLog.veterinary %}{{ geoOpLog.veterinary.lastName }}{% endif %}</td>
                        <td>{{ geoOpLog.line1 }}</td>
                        <td>{{ geoOpLog.postCode }}</td>
                        <td>{{ geoOpLog.city }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}
    
    <div class="col-xs-12 page-links pagination">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
        {% endif %}
    </div>
{% endblock %}
