{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.staalophaling{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.staalophaling{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block head %}
   <link href="{{ asset('bundles/zoolyxcore/js/pickadate/themes/default.css') }}" rel="stylesheet" type="text/css" media="all" />
   <link href="{{ asset('bundles/zoolyxcore/js/pickadate/themes/default.time.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
 
{% block Main %}
    
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path('veterinary_pickup_history') }}">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
            {% trans %}pickup.history{% endtrans %}
        </div>
    </div>


    {% if jobToBeRescheduled is not null %}
    <h2>{% trans %}pickup.selected_pickup{% endtrans %}</h2>    
    <div class="well">
         <div class="row">
        	     <div class="col-xs-6 col-sm-3 col-md-3">
                   <strong> {% trans %}pickup.pickup_date{% endtrans %}</strong>
         	     </div>
               	 <div class="col-xs-6 col-sm-3 col-md-3">
                    <strong>{% trans %}pickup.sample_available_on{% endtrans %} </strong>
                 </div>

               	 <div class="hidden-xs col-sm-3 col-md-3">
                    <strong>{% trans %}pickup.address{% endtrans %}</strong>
                 </div>
               	 <div class="hidden-xs col-sm-3 col-md-3">
                    <strong>{% trans %}pickup.requested_by{% endtrans %}</strong>
                 </div>
         </div>
         <div class="row">
               <div class="col-xs-6 col-sm-3 col-md-3">
                   {{ jobToBeRescheduled.ophaling }}
               </div>
               <div class="col-xs-6 col-sm-3 col-md-3">
                   {{ jobToBeRescheduled.voorzien | date("Y-m-d H:i") }}
               </div>
               <div class="hidden-xs col-sm-3 col-md-3">
                   {{ jobToBeRescheduled.line1 }}, {{ jobToBeRescheduled.postCode }} {{ jobToBeRescheduled.city }}
               </div>
               <div class="hidden-xs col-sm-3 col-md-3">
                   {{ jobToBeRescheduled.veterinaryPractice.veterinary.firstName }} {{ jobToBeRescheduled.veterinaryPractice.veterinary.lastName }}
               </div>
    		</div>
     </div>
    {% endif %}
    
	<form class="form-horizontal zlx_form" action="{{ path('veterinary_post_job') }}{% if jobToBeRescheduled is not null %}{{ jobToBeRescheduled.id }}{% endif %}" method="post" onsubmit="return checkFormSubmit()">

        <h2>{% trans %}pickup.where{% endtrans %}</h2>
        <div class="form-group">
            <label class="col-xs-12 col-sm-2 control-label" for="address">{% trans %}pickup.pick_address_instruction{% endtrans %}</label>
            <div class="col-xs-12 col-sm-4">
                {% for veterinaryPractice in veterinary.getVeterinaryPractices() %}
                    <div class="row">
                        <div class="col-xs-2">
                            <label for="address-{{ loop.index }}"></label>
                            <input type="radio" name="practice" id="address-{{ loop.index }}" value="{{ veterinaryPractice.id }}" {% if loop.index==1 %}checked{% endif %}>
                        </div>
                        <div class="col-xs-10">
                            {{ veterinary.firstName }} {{ veterinary.lastName }}<br>
                            {{ veterinaryPractice.practice.name }} <br>
                            {{ veterinaryPractice.practice.street }}<br>
                            {{ veterinaryPractice.practice.zipCode }} {{ veterinaryPractice.practice.city }}<br>
                            <br>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <h2>{% trans %}pickup.when{% endtrans %}</h2>
	    <div class="form-group">
		    <label class="col-xs-12 col-sm-2 control-label" for="radios">{% trans %}pickup.sample_day{% endtrans %}</label>
		    <div class="col-xs-12 col-sm-6">
                <label class="radio-inline" for="today">
                  <input type="radio" name="when" id="today" value="1" checked>
                  {% trans %}pickup.today{% endtrans %}
                </label>
                <label class="radio-inline" for="nextday">
                  <input type="radio" name="when" id="nextday" value="2">
                  {% trans %}pickup.next_day{% endtrans %} ({{ nextWorkingDay | intlDate("EEEE d MMMM",app.request.locale) }})
                </label>
		    </div>
		</div>
		
		 <div class="form-group"> 
		    <label class="col-xs-12 col-sm-2 control-label">{% trans %}pickup.sample_hour{% endtrans %}</label>  
            <div class="col-xs-12  col-sm-6">
                <div class="datetimepicker">
                    <input name="available-from" class="timepicker" type="text" placeholder="{% trans %}pickup.pick_time{% endtrans %}" readonly aria-haspopup="true" aria-expanded="true" aria-readonly="false">
                </div>
                <p style="color:red; display:none" id="when-error-msg">{% trans %}pickup.sample_type.when_required{% endtrans %}</p>
            </div>	
        </div>
        
        <div style="display: none" id="is-urgent-div"> 
        	<div class="form-group">
           	 	<label class="col-sm-2 control-label" for="is-urgent">{% trans %}pickup.urgent{% endtrans %}</label>
           	 	<div class="col-sm-10">
               		 <input type="checkbox" id="is-urgent" name="is-urgent">
           	 	</div>
           	</div>
           	<div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 alert alert-danger" role="alert" style="text-align:center">
	    		{% trans %}pickup.alert{% endtrans %}
	   		</div>
		</div>
		
        <div class="form-group">
            <div class="col-xs-12  col-sm-6 col-sm-offset-2">

            </div>
            <div class="col-xs-12  col-sm-6 col-sm-offset-2" style="display: none" id="is-urgent-div">
                <input type="checkbox" id="is-urgent"> <label for="is-urgent">dringend</label>
            </div>
		</div>

		<h2>{% trans %}pickup.what{% endtrans %}</h2>
		<div class="form-group">
  			<label class="col-xs-12 col-sm-2 control-label" for="checkboxes">{% trans %}pickup.pick_sample_type_instruction{% endtrans %}</label>
 			<div class="col-xs-12 col-sm-8">
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-0">
					<input type="checkbox" name="what[]" id="checkboxes-0" value="routine">
					{% trans %}pickup.sample_type.sample{% endtrans %}
				</label>
				</div>
 			    <div class="col-sm-3">
 			    <label class="checkbox-inline" for="checkboxes-1">
					<input type="checkbox" name="what[]" id="checkboxes-1" value="anapat">
					{% trans %}pickup.sample_type.anapat{% endtrans %}
				</label>
				</div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-2">
					<input type="checkbox" name="what[]" id="checkboxes-2" value="immunoph">
					{% trans %}pickup.sample_type.immunopharm{% endtrans %}
				</label>
				</div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-3">
					<input type="checkbox" name="what[]" id="checkboxes-3" value="bac">
					{% trans %}pickup.sample_type.bacterio{% endtrans %}
				</label>
				</div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-4">
					<input type="checkbox" name="what[]" id="checkboxes-4" value="gen">
					{% trans %}pickup.sample_type.genetics{% endtrans %}
				</label></div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-5">
				<input type="checkbox" name="what[]" id="checkboxes-5" value="hond">
					{% trans %}pickup.sample_type.body_dog{% endtrans %}
				</label></div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-6">
					<input type="checkbox" name="what[]" id="checkboxes-6" value="kat">
					{% trans %}pickup.sample_type.body_cat{% endtrans %}
				</label></div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-7">
					<input type="checkbox" name="what[]" id="checkboxes-7" value="knaagdier">
					{% trans %}pickup.sample_type.body_rodent{% endtrans %}
				</label></div>
 			    <div class="col-sm-3">
				<label class="checkbox-inline" for="checkboxes-8">
				<input type="checkbox" name="what[]" id="checkboxes-8" value="vogel">
					{% trans %}pickup.sample_type.body_bird{% endtrans %}
				</label></div>
 			    <div class="col-sm-3">
			    <label class="checkbox-inline" for="checkboxes-9">
				<input type="checkbox" name="what[]" id="checkboxes-9" value="reptiel">
					{% trans %}pickup.sample_type.body_reptile{% endtrans %}
				</label>
				</div>
				<div class="col-xs-12">
                	<p style="color:red; display:none" id="what-error-msg">{% trans %}pickup.sample_type.required{% endtrans %}</p>
                </div>
  			</div>
		</div>

        <div>
        	<div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 alert alert-success" id="expected-pickup" style="display:none;" role="alert" >
       	     	 <div class="col-xs-12">
       	      		<h3>{% trans %}pickup.expected{% endtrans %}</h3>
       	     	 </div>
       	     	 <div class="col-xs-12">
      	      		<h4 style="text-align:center"><span id="pickup-day"></span> {% trans %}pickup.between{% endtrans %} <span id="pickup-start-time">...</span> {% trans %}pickup.and{% endtrans %} <span id="pickup-end-time">...</span></h4>
     	      	 </div>
     	      	<div class="col-xs-12">
     	      		<input class="col-xs-1" type="checkbox" id="akkoord"> 
     	      		<label class="col-xs-11" for="akkoord">{% trans %}pickup.agree{% endtrans %}</label>
     	      		<p style="color:red; display:none" id="agreed-error-msg">{% trans %}pickup.sample_type.agreed_required{% endtrans %}</p>
     	      	</div>
         	 </div>
        </div>

		<div class="form-group">
		 	<div class="col-xs-12 text-center">
                <input type="hidden" id="input-ophaling" name="ophaling" value="">
				<input id="submit-ophaling" class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}pickup.submit{% endtrans %}">
      	  	</div>
      	</div> 
      	
      	<div>
      		<div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 alert alert-danger" id="error-msg" style="display: none">
      			{% trans %}pickup.fix_errors{% endtrans %}
      		</div> 
      	</div> 
        
	</form>
{% endblock %}
	

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/pickadate/picker.js', absolute=true) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/pickadate/picker.time.js', absolute=true) }}"></script>
    
    <script>
        function checkFormSubmit() {
            var result = checkForm();
            if (result) {
                $("#submit-ophaling").prop('disabled', true);
            }
            return result;
        }
        function checkForm() {
            var $whatErrorMsg = $('#what-error-msg');
            var $whenErrorMsg = $('#when-error-msg');
            var $agreedErrorMsg = $('#agreed-error-msg');
            var $errorMsg = $('#error-msg');
            var error = false;

            //check the what field
            var whatOk = $('input[name="what[]"]:checked').length > 0;
            if (whatOk) { $whatErrorMsg.hide() } else { $whatErrorMsg.show(); error=true;}

            //check the selected hour
            var whenOk = picker.get("select") !== null;
            if (whenOk) { $whenErrorMsg.hide() } else { $whenErrorMsg.show(); error=true;}

            //check agreed
            var agreed = $("#akkoord").is(':checked');
            if (agreed) { $agreedErrorMsg.hide() } else { $agreedErrorMsg.show(); error=true;}
            
            if (error) { $errorMsg.show() } else { $errorMsg.hide();}

            return whatOk && whenOk && agreed;
        }

        function formatPickerTime(time, earliest) {
            var hour = time.hour.toString();
            if (hour.length == 1) hour = "0"+hour;
            var minute = time.mins.toString();
            if (minute.length == 1) minute = "0"+minute;
            var result =  hour+":"+minute;
            return result < earliest ? earliest : result;
        }
    </script>


    <script>
        var picker;
        var t = new Date();
        var nd = new Date('{{ nextWorkingDay | date("Y-m-d") }}');
        var nnd = new Date('{{ afterNextWorkingDay | date("Y-m-d") }}');
        var pd = new Date();

        $(function() {
            var $timepicker = $('.timepicker').pickatime({
                format: 'H:i',
                formatSubmit: 'H:i',
                min: isToday() ? true : "09:00",
                max: '21:00',
                interval: 30,
                formatLabel: function(time) {
                    var hours = ( time.pick - this.get('now').pick ) / 60;
                    if (isToday()) {
                        var label = hours == 0 ?
                            '{% trans %}pickup.now{% endtrans %}' :
                            '{% trans %}pickup.in{% endtrans %} ' + hours + ' {% trans %}pickup.hours{% endtrans %}';
                        return 'H:i  <sm!all>' + label +'</sm!all>';
                    } else {
                        return 'H:i';
                    }
                }
            });
            picker = $timepicker.pickatime('picker');
        });

        $('input[name="when"]').change(function() {
            console.log("when is changed");
            clearSelectedTime();
        });

        $('input[name="what[]"]').change(function(){
           checkForm();
        });
        $('input[name="practice"]').change(function() {
            var id = $(this).val();
            updatePickupTill(id);
            updateExpectedPickup();
        });
        $("#akkoord").change(function() {
            checkForm();
        });
        $("#is-urgent").change(function(){
            updateExpectedPickup();
        });
        $('input[name="available-from"]').change(function() {
            updateExpectedPickup();

            var selectedHour = picker.get("select");
            var selectedHourNum = picker.get().replace(":","");
            
            var $urgentDiv = $("#is-urgent-div");

            if (selectedHour == null) {
                $("#is-urgent").attr("checked",false);
                $urgentDiv.hide();
                return;
            }

            if (
                    ( $("#today").is(':checked') && selectedHourNum > 1200  && selectedHourNum <= pickupTill  && t.getDay() < 6  ) ||
                    ( $("#nextday").is(':checked') && selectedHourNum > 1200  && selectedHourNum <= pickupTill  && pd.getDay() != 6  ) ||
                    ( $("#today").is(':checked') && ['24-12', '31-12'].indexOf( t.getDate() + '-' + ( t.getMonth() + 1 ) ) == 0 ) ||
                    ( $("#nextday").is(':checked') && ['24-12', '31-12'].indexOf( pd.getDate() + '-' + ( pd.getMonth() + 1 ) ) == 0 )
            ) {
                $urgentDiv.show();
            } else {
                $("#akkoord").attr("checked",false);
                $("#is-urgent").attr("checked",false);
                $urgentDiv.hide();
            }
        });

        function isToday() {
            var selectedDay= $('input[name="when"]:checked').attr("id");
            return selectedDay == "today";
        }

        var pickupTill = 1700;
        var pickupTillDefault = 1700;
        var practices = {{ practicesPickupTillJson | raw}};
        var pickupTodayPossible = {% if ( "now"|date('l') == "Saturday" and "now"|date("Hi") > 1200 ) or "now"|isNoWorkingDay %}false{% else %}true{% endif %};
        var currentHour = {{ "now"|date("Hi") }};
        updatePickupTill(practices[0].id);

        function updatePickupTill(id) {
            console.log("update for "+id);
            practices.forEach(function(practice){
                if (practice.id == id) {
                    pickupTill = practice.pickup_till;
                }
            });
            pickupTill = pickupTill == null ? pickupTillDefault : pickupTill;
            var $radioToday = $("#today");
            var $radioNextday = $("#nextday");
            if (pickupTodayPossible && currentHour < pickupTill) {
                console.log("today ok");
                $radioToday.attr('disabled',false);
                $radioToday.prop('checked',true);
                $radioNextday.prop('checked',false);
            } else {
                console.log("today not ok");
                $radioToday.attr('disabled',true);
                $radioToday.prop('checked',false);
                $radioNextday.prop('checked',true);
            }
            clearSelectedTime();
        }

        function clearSelectedTime() {
            if (typeof picker !== "undefined") {
                picker.set("min",isToday() ? true : '09:00');
                picker.clear();
                picker.render();
                updateExpectedPickup();
            }

        }
        function updateExpectedPickup() {
            $("#akkoord").attr("checked",false);
            checkForm();

            var $expectedPickupDiv = $("#expected-pickup");
            var selectedHour = picker.get("select");
            var selectedHourNum = picker.get().replace(":","");
            
            if (selectedHour == null) {
                $expectedPickupDiv.hide();
                return;
            } else {
                $expectedPickupDiv.show();
            }

            // check availability
            var dateToday = "{{ today | intlDate("EEEE d MMMM",app.request.locale) }}";
            var dateNextWorkingDay = "{{ nextWorkingDay | intlDate("EEEE d MMMM",app.request.locale) }}";
            var dateAfterNextWorkingDay = "{{ afterNextWorkingDay | intlDate("EEEE d MMMM",app.request.locale) }}";
            var stringToday = "{% trans %}pickup.today{% endtrans %}";
            var stringNextWorkingDay = "{% trans %}pickup.next_day{% endtrans %} ({{ nextWorkingDay | intlDate("EEEE d MMMM",app.request.locale) }})";
            var stringAfterNextWorkingDay = "{% trans %}pickup.after_next_day{% endtrans %} ({{ afterNextWorkingDay | intlDate("EEEE d MMMM",app.request.locale) }})";

            if (isToday()) {
                pd = t;
                if (selectedHourNum <= 1200 ) {
                    setOphaling(dateToday, stringToday, formatPickerTime(selectedHour, "11:00"), "16:00");
                } else {
                    if (selectedHourNum <= pickupTill) {
                        if ($("#is-urgent").is(':checked')) {
                            setOphaling(dateToday, stringToday, formatPickerTime(selectedHour), "21:00");
                        } else {
                            pd = nd;
                            setOphaling(dateNextWorkingDay, stringNextWorkingDay, "11:00", "16:00");
                        }
                    } else {
                        pd = nd;
                        setOphaling(dateNextWorkingDay, stringNextWorkingDay, "11:00", "16:00");
                    }
                }
            } else {
                pd = nd;
                if (selectedHourNum <= 1200 ) {
                    setOphaling(dateNextWorkingDay, stringNextWorkingDay, formatPickerTime(selectedHour, "11:00"), "16:00");
                } else {
                    if (selectedHourNum <= pickupTill) {
                        if ($("#is-urgent").is(':checked')) {
                            setOphaling(dateNextWorkingDay, stringNextWorkingDay, formatPickerTime(selectedHour), "21:00");
                        } else {
                            pd = nnd;
                            setOphaling(dateAfterNextWorkingDay, stringAfterNextWorkingDay, "11:00", "16:00");
                        }
                    } else {
                        pd = nnd;
                        setOphaling(dateAfterNextWorkingDay, stringAfterNextWorkingDay, "11:00", "16:00");
                    }
                }
            }
        }

        var $pickupDay = $("#pickup-day");
        var $pickupStartTime = $("#pickup-start-time");
        var $pickupEndTime = $("#pickup-end-time");
        var $ophalingInput = $("#input-ophaling");

        function setOphaling(date, day, startTime, endTime) {
            $pickupDay.html(day);
            $pickupStartTime.html(startTime);
            $pickupEndTime.html(endTime);

            $ophalingInput.val(date + " {% trans %}pickup.between{% endtrans %} "+startTime+" {% trans %}pickup.and{% endtrans %} "+endTime);
        }

    </script>

{% endblock %}