<div class="row">
    <div class="col-xs-12">
        {% if (event.state == 0) %}
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: 'Ticket wordt gecopieerd naar ' ~  event.copiedTo }) }}
        {% else %}
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: 'Ticket wordt niet meer gecopieerd naar ' ~  event.copiedTo }) }}
        {% endif %}
    </div>
</div>