<div class="row">
    <div class="col-xs-12">
        <i style="color:gray">
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: 'Ticket toegekend aan de groep ' ~  event.assignedTo.name }) }}
        </i>
    </div>
</div>