<div class="row">
    <div class="col-xs-12">
        {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: 'Ticket toegekend aan ' ~  event.assignedTo.username }) }}
    </div>
</div>