{% extends "ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig" %}

{% block message %}
    {% if app.user.hasRole('ROLE_ADMINISTRATOR') %}
        {% for watcher in ticket.watchers %}
            <span class="badge" style="cursor:pointer; {% if watcher | watcherState(event) %}background-color: green; {% endif %}" data-toggle="tooltip" data-placement="top" title="{{ watcher.user.email }}">
                {{ watcher.user.email | firstChar }}
            </span>
        {% endfor %}
    {% endif %}
{% endblock %}