<div class="row">
    <div class="col-xs-9">
        <i style="color:gray">
            {% block message %}{{ message }}{% endblock %}
        </i>
    </div>
    <div class="col-xs-3 text-right">
        <i style="color:gray">
            {% if event.author is not null %}{{ event.author.userName }}{% endif %}
        </i>
    </div>
</div>