{% set mail = mail_parser.loadParser(event.fileId) %}
<div class="row">
    <div class="col-xs-12">
        <div style="background-color: #d8edff; padding:5px;">
            From: {{ mail.from() }}<br>
            Subject: {{ mail.subject() }}<br>
            <hr>
            {% if mail.isHtml %}
                {{ mail.content() | filterBadTags | linkUrls | raw  }}
            {% else %}
                {{ mail.content() | nl2br | linkUrls | raw }}
            {% endif %}
            {% if mail.attachments() %}
                Attachments
                <ul>
                    {%  for attachment in mail.attachments() %}
                        <li>
                            <a href="{{ path('zoolyx_ticket_mail_attachment', {id: event.fileId, attachmentId: loop.index0}) }}" target="_new">{{ attachment.filename }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <i style="color:gray">
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer.html.twig', { message: '' }) }}
        </i>
    </div>
</div>