<div class="row">
    <div class="col-xs-12">
        <div style="background-color: {{ event | eventColor }}; padding:5px;">
            <div>
                {{ event.content | raw | nl2br}}
            </div>
            {% if event.attachment is not null and event.attachment is not empty %}
            <div style="margin-top: 20px;">
                attachments: <br>
                <ul>
                    {% for filename in event.attachment | split(',') %}
                        <li><a href="{{ asset(attachment_path ~ filename, absolute=true) }}" target="new">{{ filename }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <i style="color:gray">
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer.html.twig', { message: '' }) }}
        </i>
    </div>
</div>