<div class="row">
    <div class="col-xs-12">
        <div style="padding:5px;">
            <p>New registration for a vet</p>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-11">
        <div style="padding:5px;">
            <div class="row">
                <div class="col-xs-2 text-right">
                    Name
                </div>
                <div class="col-xs-10">
                    {{ event.request.account.firstName }} {{ event.request.account.lastName }} ({{ event.request.account.email }})
                </div>
                <div class="col-xs-2 text-right">
                    Order Nr
                </div>
                <div class="col-xs-10">
                    <b>{{ event.request.info[constant('Zoolyx\\AccountBundle\\Model\\UserRegistrationRequest\\Info::NAME_ORDER_NUMBER')] }}</b>
                </div>
                <div class="col-xs-2 text-right">
                    Address
                </div>
                <div class="col-xs-10">
                    {{ event.request.account.street }} - {{ event.request.account.zipcode }} {{ event.request.account.city }} {{ event.request.account.country }}
                </div>
                <div class="col-xs-2 text-right">
                    Phone
                </div>
                <div class="col-xs-10">
                    {{ event.request.account.telephone }} (taal: {{ event.request.account.language }})
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-11">
        <div style="padding:5px;">
            <a href="{{ path('zoolyx_veterinary_request', {id: event.request.id}) }}" class="btn btn-primary">Handle Request</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <i style="color:gray">
            {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: '' }) }}
        </i>
    </div>
</div>