<div class="row">
    <div class="col-xs-12">
        {{ include('ZoolyxTicketBundle:TicketEvent:event_footer_layout.html.twig', { message: 'Status: ' ~  event.ticketState.name }) }}
    </div>
</div>