<?xml version="1.0" encoding="UTF-8"?>
<wikipages>
    {% for parameterPage in parameterPages %}{{ include('ZoolyxCoreBundle::Wiki/parameter.xml.twig', {parameterPage: parameterPage }) }}{% endfor %}
    {% for parameterProfilePage in parameterProfilePages %}{{ include('ZoolyxCoreBundle::Wiki/parameter_profile.xml.twig', {parameterProfilePage: parameterProfilePage }) }}{% endfor %}
</wikipages>
