<wikipage id="{{ parameterProfilePage.id }}" lang="{{ parameterProfilePage.language }}">
    <title>{{ parameterProfilePage.description }}</title>
    <source><![CDATA[
    <table class="wikitable">
        <tr>
            <th colspan="2">{% trans into parameterProfilePage.language %}wiki.codes{% endtrans %}</th>
        </tr>
        <tr>
            <td>{% trans into parameterProfilePage.language %}wiki.omschrijving{% endtrans %}</td>
            <td>{{ parameterProfilePage.description }}</td>
        </tr>
        <tr>
            <td>{% trans into parameterProfilePage.language %}wiki.rubriek{% endtrans %}</td>
            <td>{{ parameterProfilePage.category }}</td>
        </tr>
        <tr>
            <td>{% trans into parameterProfilePage.language %}wiki.bestelcode{% endtrans %}</td>
            <td>{{ parameterProfilePage.reference }}</td>
        </tr>
        <tr>
            <th colspan="2">{% trans into parameterProfilePage.language %}wiki.prijs{% endtrans %}</th>
        </tr>
        <tr>
            <td>{% trans into parameterProfilePage.language %}wiki.excl_vat{% endtrans %}</td>
            <td>{{ parameterProfilePage.price }} €</td>
        </tr>
        <tr>
            <td>{% trans into parameterProfilePage.language %}wiki.incl_vat{% endtrans %}</td>
            <td>{{ parameterProfilePage.priceInclusive }} €</td>
        </tr>
    </table>

    <table class="wikitable">
        <tr>
            <th>{% trans into parameterProfilePage.language %}wiki.doeldiersoort{% endtrans %}</th>
        </tr>
        <tr>
            <td>{{ parameterProfilePage.speciesName }}</td>
        </tr>
        {% for breed in parameterProfilePage.breeds %}
        <tr>
            {% if breed.hasUrl %}
            <td><a href="http://www.fci.be/en/nomenclature/{{ breed.url }}.html">{{ breed.description }}</a></td>
            {% else %}
                <td>{{ breed.description }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <table class="wikitable">
        <tr><th>{% trans into parameterProfilePage.language %}wiki.analyses{% endtrans %}</th></tr>
        {% for parameter in parameterProfilePage.parameters %}
            <tr>
                <td>
                    <a href="/{{ parameterProfilePage.language }}/wiki/{{ parameter.name }}">{{ parameter.description }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <table class="wikitable">
        <tr><th colspan="3">{% trans into parameterProfilePage.language %}wiki.staalname{% endtrans %}</th></tr>
        {% for sampleType in parameterProfilePage.sampleTypes %}
            <tr>
                <td>
                    <img src="{{ absolute_url(asset('bundles/zoolyxcore/images/sample_types/'~sampleType.definition.imageName)) }}" width="60"/>
                </td>
                <td>
                    {{ sampleType.definition.getDescription(parameterProfilePage.language).description }}
                </td>
            </tr>
        {% endfor %}
    </table>
    ]]></source>
    <categories>
        <categorie type="subcategory">{{ parameterProfilePage.category }}</categorie>
        <categorie type="species" img="{{ absolute_url(asset('bundles/zoolyxcore/images/animals/'~parameterProfilePage.speciesImageName~'.png')) }}">{{ parameterProfilePage.speciesName }} </categorie>
    </categories>
</wikipage>
