<wikipage id="{{ parameterPage.id }}" lang="{{ parameterPage.language }}">
    <title>{{ parameterPage.description }} - {{ parameterPage.category }}</title>
    <source><![CDATA[
    {% if parameterPage.hasAlternativeUnit %}
        <script language="JavaScript">
            function calculateFormula (a,b,c,d) {
                var result;
                var unita=parseFloat(a);
                var unitb=parseFloat(b);
                var conv=parseFloat(c);
                var dec=Math.pow(10,parseFloat(d));
                if  (!isNaN(unita) ) {
                    unitb=unita * conv;
                }
                else if (!isNaN(unitb) ) {
                    unita=unitb / conv;
                }
                result=Math.round(unita * dec) / dec;
                document.formulaForm.unit1.value=result;
                result=Math.round(unitb * dec) / dec;
                document.formulaForm.unit2.value=result;
            }
        </script>
    {% endif %}
    <table class="wikitable">
        <tr>
            <th colspan="2">{% trans into parameterPage.language %}wiki.codes{% endtrans %}</th>
        </tr>
        {% if parameterPage.description is not empty %}
        <tr>
            <td>{% trans into parameterPage.language %}wiki.omschrijving{% endtrans %}</td>
            <td>{{ parameterPage.description }}</td>
        </tr>
        {% endif %}
        {% if parameterPage.descriptionShort is not empty %}
        <tr>
            <td>{% trans into parameterPage.language %}wiki.afkorting{% endtrans %}</td>
            <td>{{ parameterPage.descriptionShort }}</td>
        </tr>
        {% endif %}
        {% if parameterPage.category is not empty %}
        <tr>
            <td>{% trans into parameterPage.language %}wiki.rubriek{% endtrans %}</td>
            <td>{{ parameterPage.category }}</td>
        </tr>
        {% endif %}
        {% if parameterPage.loinc is not empty %}
        <tr>
            <td>Loinc</td>
            <td>{% if parameterPage.loinc %}<a href="http://s.details.loinc.org/LOINC/{{ parameterPage.loinc }}.html">{{ parameterPage.loinc }}</a>{% else %}&nbsp;{% endif %}</td>
        </tr>
        {% endif %}
        {% if parameterPage.method is not empty %}
        <tr>
            <td>{% trans into parameterPage.language %}wiki.methode{% endtrans %}</td>
            <td>{{ parameterPage.method }}</td>
        </tr>
        {% endif %}
        <tr>
            <th colspan="2">{% trans into parameterPage.language %}wiki.resultaat{% endtrans %}</th>
        </tr>
        <tr>
            <td>{% trans into parameterPage.language %}wiki.doorlooptijd{% endtrans %}</td>
            <td>{{ parameterPage | formatDelay }}</td>
        </tr>
        {% if parameterPage.unit is not empty %}
        <tr>
            <td>{% trans into parameterPage.language %}wiki.eenheid{% endtrans %}</td>
            <td>{{ parameterPage.unit }}</td>
        </tr>
        {% endif %}
        {% if parameterPage.hasAlternativeUnit %}
            <tr>
                <td>{% trans into parameterPage.language %}wiki.conversie{% endtrans %}</td>
                <td>
                    <form name="formulaForm" id="formulaForm">
                        <div class="row form-group">
						  <div class="col-xs-6">
							<input type="text" class="form-control" name="unit1">
						  </div>
						  <p class="col-xs-6">{{ parameterPage.unit }}</p>
						</div>

						<div class="row form-group">
						 <div class="col-xs-6 col-xs-offset-6">
						   <input class="form-control-plaintext" type="text" name="conv" value="{{ parameterPage.conversionFactor }}" readonly="">
						 </div>
						</div>

						<div class="row form-group">
						  <div class = "col-xs-6">
						   <input class="form-control"  type="text"  name="unit2">
						  </div>
						  <p class="col-xs-6">{{ parameterPage.alternativeUnit }}</p>
						</div>

						<div class="row form-group2">
							<div style="text-align:center" class="col-xs-12">
									<button class="fusion-button button-flat fusion-button-square button-medium button-default" type="button" name="Calculate" value="Calc" onclick="calculateFormula(document.formulaForm.unit1.value, document.formulaForm.unit2.value, document.formulaForm.conv.value,{{ parameterPage.decimals }})">Calc</button>
									<button class="fusion-button button-flat fusion-button-square button-medium button-default" type="reset" name="resetButton" value="Reset">Reset</button>
							</div>
					    </div>
                    </form>
                </td></tr>
        {% endif %}
    </table>
    {% if parameterPage.species %}
    <table class="wikitable">
        <tr>
            <th colspan="4">{% trans into parameterPage.language %}wiki.diersoort{% endtrans %}</th>
        </tr>
        {% for species in parameterPage.species %}
            <tr>
                <td>{{ species.name }}</td>
                <td>{{ species.reference }}</td>
                <td>{% if species.reference is not empty %}{{ parameterPage.unit }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <table class="wikitable">
        <tr>
            <th colspan="4">{% trans into parameterPage.language %}wiki.staalname{% endtrans %}</th>
        </tr>
        {% for sampleType in parameterPage.sampleTypes %}
            <tr>
                <td>{% if sampleType.pref %}*{% else %}&nbsp;{% endif %}</td>
                <td>{% if sampleType.sampleType %}<img src="{{ absolute_url(asset('bundles/zoolyxcore/images/sample_types/'~sampleType.sampleType.imageName)) }}" width="60"/>{% else %}&nbsp;{% endif %}</td>
                <td>{% if sampleType.sampleType %}{{ sampleType.getSampleType.getDescription(parameterPage.language).description }}{% else %}&nbsp;{% endif %}</td><td></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan=4>* = {% trans into parameterPage.language %}wiki.voorkeur{% endtrans %}</td>
        </tr>
    </table>
    ]]></source>
    <categories>
        <categorie type="subcategory">{{ parameterPage.category }}</categorie>
        <!--
        {% for species in parameterPage.species %}
            <categorie type="species" img="{{ absolute_url(asset('bundles/zoolyxcore/images/animals/'~species.image~'.png')) }}">{{ species.name }} </categorie>
        {% endfor %}
        -->
    </categories>
</wikipage>
