{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
   	<link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
<div class="grid grid-pad">
    <div class="col-1-1">

        <div class="checkout">
            <h1 class="checkout-title">Your shopping cart</h1>

            <form name="store_cart_form_type_cart" method="post" action="{{ path('shop_cart_address') }}">
                {{ include('ZoolyxShopBundle:Cart:progress.html.twig', {
                        size: 5,
                        step: 3,
                        previousCaption: 'Cart',
                        previousRoute : 'shop_cart_material',
                        nextCaption: 'Payment'
                    })
                }}
            </form>
        </div>
        <div class="col-2-3">
            <div class="checkout">
                <form method="post" action="http://www.opt.localhost/repositories/bart/elcodi/bamboo5/web/app_dev.php/cart/address/save" class="address-list" >
                    {% for address in addresses %}
                        <dl class="address-item" data-test="address-4">
                            <dt class="address-item-selection"></dt>
                            <dd class="address-item-selection">
                                <div class="address-item-selection-item">
                                    <div class="switch">
                                        <input id="billing-{{ address.practiceId }}"
                                               type="radio"
                                               name="billing"
                                               value="{{ address.practiceId }}"
                                               checked="checked"
                                                >
                                        <label for="billing-{{ address.practiceId }}"></label>
                                    </div>
                                    Billing
                                </div>
                                <div class="address-item-selection-item">
                                    <div class="switch">
                                        <input id="delivery-{{ address.practiceId }}"
                                               type="radio"
                                               name="delivery"
                                               value="{{ address.practiceId }}"
                                               checked="checked"
                                                >
                                        <label for="delivery-{{ address.practiceId }}"></label>
                                    </div>
                                    Delivery
                                </div>
                            </dd>
                            <dt>Name</dt>
                            <dd><strong>{{ address.name }}</strong></dd>
                            <dt>Address</dt>
                            <dd>{{ address.street }}, {{ address.zipCode }} {{ address.city }}, {{ address.country }}</dd>
                            <dt class="address-item-actions">Actions</dt>
                            <dd class="address-item-actions">
                                <a href="" class="button button-primary" data-test="address-4-edit"><i
                                            class="fa fa-pencil"></i> Edit
                                </a>
                                <a href="" class="button button-ko" data-test="address-4-remove"><i
                                            class="fa fa-trash-o"></i> Remove
                                </a>
                            </dd>
                        </dl>
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="col-1-3">
            <div class="white-panel">
                {{ include('ZoolyxShopBundle:Cart:cart-preview.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}