<div class="cart-preview">
    <h2>Your cart</h2>
    <div class="cart-list">
        {% for cartLine in app.user.cart.cartLines %}
        <dl class="cart-item-preview">
            <dt class="cart-item-image">Image</dt>
            <dd class="cart-item-image">
                {% if cartLine.isAnalyse %}
                    <img src="/shop/analyse.png" alt="" class="product-thumbnail" />
                {% else %}
                    <img src="/shop/{{ cartLine.product.imageId }}.png" alt="" class="product-thumbnail" />
                {% endif %}
            </dd>
            <dt class="cart-item-name">Item</dt>
            <dd class="cart-item-name">{% if cartLine.isAnalyse %}Analyse{% else %}{{ cartLine.product.name }}{% endif %}</dd>
            <dt class="cart-item-units">Units</dt>
            <dd class="cart-item-units">{{ cartLine.items }}</dd>
            <dt class="cart-item-price">Price</dt>
            <dd class="cart-item-price">€{{ (cartLine.price/100) | number_format(2, ',', '.') }}</dd>
            <dt class="cart-item-total">Total</dt>
            <dd class="cart-item-total">€{{ (cartLine.price/100) | number_format(2, ',', '.') }}</dd>
        </dl>
        {% endfor %}
    </div>
    <p class="cart-total"><span>Total </span>€{{ (app.user.cart.price/100) | number_format(2, ',', '.') }}</p>
</div>