{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
<div class="grid grid-pad">
    <div class="col-1-1">

        <div class="checkout">
            <h1 class="checkout-title">Your shopping cart</h1>

            <form name="store_cart_form_type_cart" method="post" action="{{ path('shop_cart_update') }}">
                {{ include('ZoolyxShopBundle:Cart:progress.html.twig', {
                        size: 5,
                        step: 1,
                        nextCaption: 'Checkout'
                    })
                }}
                <div class="cart-list">
                    {% for cartLine in cart.cartLines %}
                        {% if cartLine.isAnalyse %}
                            {{ include('ZoolyxShopBundle::Cart/Item/analyse.html.twig') }}
                        {% else %}
                            {{ include('ZoolyxShopBundle::Cart/Item/product.html.twig') }}
                        {% endif %}
                    {% endfor %}
                </div>

                <p class="cart-total"><span>Total </span>€{{ (totalPrice/100) | number_format(2, ',', '.') }}</p>

                <div class="cart-actions">
                    <a class="button button-secondary" href="{{ path('shop_cart_material') }}" data-test="checkout-button">Next &nbsp;<i class="fa fa-arrow-right"></i> </a>
                    <a class="button button-empty cart-actions-continue" href="{{ path('zoolyx_shop_homepage') }}"><i class="fa fa-arrow-left"></i> Continue Shopping</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}