{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
<div class="grid grid-pad">
    <div class="col-1-1">

        <div class="checkout">
            <h1 class="checkout-title">Your shopping cart</h1>

            <form name="store_cart_form_type_cart" method="post" action="{{ path('shop_cart_material') }}">
                {{ include('ZoolyxShopBundle:Cart:progress.html.twig', {
                        size: 5,
                        step: 2,
                        previousCaption: 'Cart',
                        previousRoute : 'shop_cart',
                        nextCaption: 'Address'
                    })
                }}
            </form>
        </div>
    </div>
    {% for pet in pets %}
        {{ pet["pet"].name }}
        {% for profile in pet["profiles"] %}
            <div class="col-1-1">
                {{ include('ZoolyxShopBundle::Cart/Item/analyse.html.twig', {cartLine: profile["cartLine"]}) }}
            </div>
        {% endfor %}
        <div class="col-1-1">
            <div class="product-list">
                {% for sampleType in pet["sampleTypes"] %}
                    {{ include('ZoolyxShopBundle::Default/Product/product.html.twig', {product: sampleType["product"]}) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}