{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
<div class="grid grid-pad">
    <div class="col-1-1">

        <div class="checkout">
            <h1 class="checkout-title">Your shopping cart</h1>

            <form name="store_cart_form_type_cart" method="post" action="{{ path('shop_cart_payment') }}">
                {{ include('ZoolyxShopBundle:Cart:progress.html.twig', {
                        size: 5,
                        step: 4,
                        previousCaption: 'Address',
                        previousRoute : 'shop_cart_address',
                        nextCaption: 'Confirm'
                    })
                }}
            </form>
        </div>
    </div>
</div>
{% endblock %}