<div class="checkout-actions checkout-actions-top">
    <span class="order-progress order-progress-size-{% if size is defined %}{{ size }}{% else %}3{% endif %}">
        <span class="order-progress-complete order-progress-status-{{ step }}">
            <span class="order-progress-marker"></span>
        </span>
    </span>
    <div class="col-xs-6">
        {% if previousCaption is defined %}
            <a class="fusion-button button-default button-small" href="{{ path(previousRoute) }}"><i class="fa fa-arrow-left"></i>&nbsp; {{ previousCaption }}</a>
        {% endif %}
    </div>

    <div class="col-xs-6 text-right">
        {% if nextCaption is defined %}
            <input type="submit" class="fusion-button button-default button-small" value="{{ nextCaption }}" />
        {% endif %}
    </div>
</div>
