{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
    <div class="grid desktop">
        <!--
        <ul class="category-nav" data-test="category-nav">
            <li>
                <a href="http://www.opt.localhost/repositories/bart/elcodi/bamboo5/web/app_dev.php/shop/"  class="active">New</a>
            </li>
            <li >
                <a href="http://www.opt.localhost/repositories/bart/elcodi/bamboo5/web/app_dev.php/category/sample-containers/3"
                        >
                    Sample containers
                </a>
            </li>
        </ul>
        -->
    </div>
    <a href="#mobile-menu" class="button mobile"><i class="fa fa-arrow-down"></i> Menu</a>


    <div class="grid message-grid">
        <div class="col-1-1">
        </div>
    </div>

<div class="grid grid-pad">
    <div class="col-1-1">

        <div class="checkout">
            <h1 class="checkout-title">Your request has been processed</h1>

            <p>success</p>


    </div>
</div>
{% endblock %}