<div class="col-xs-12" style="margin-bottom:20px;">
<p class="checkout-actions checkout-actions-top">
    <span class="order-progress order-progress-size-{% if size is defined %}{{ size }}{% else %}3{% endif %}">
        <span class="order-progress-complete order-progress-status-{{ router.getTwigStep }}">
            <span class="order-progress-marker"></span>
        </span>
    </span>

    <div class="col-xs-6">
    {% if router.previous is not null %}
        <a class="fusion-button button-default button-small" href="{{ path('request_step',{step:router.previous}) }}"><i class="fa fa-arrow-left"></i>&nbsp; {{ router.previousCaption }}</a>
    {% endif %}
    </div>

    <div class="col-xs-6 text-right">
    {% if router.nextCaption %}
        {% if buttonId is defined %}
         <input type="submit" id="{{ buttonId }}" class="fusion-button button-default button-small" value="{{ router.nextCaption }}" />
        {% endif %}
    {% endif %}
    </div>
</p>
</div>