    <div class="row" style="margin-top:20px;">
        <div class="col-xs-offset-2 col-xs-10">
            {% trans %}report_additional_request.selected_profiles{% endtrans %}
        </div>
    </div>

    {% for profile in parameterProfiles %}
        <div class="row">
            <div class="col-xs-offset-2 col-xs-10">
                <div class="row">
                    <div class="col-xs-2">
                        {{ profile.reference }}
                    </div>
                    <div class="col-xs-8">
                        {{ profile.description.description }}
                    </div>
                    <div class="col-xs-2 text-right">
                        {{ profile.price.value | number_format(2, '.') }} €
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-2 parameter-description-2">

                    </div>
                </div>
            </div>
        </div>

        {% if profile.sampleTypes | length %}
            <div class="spacer10">&nbsp </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-3" style="border:1px solid #aaa; border-radius: 10px; background-color: #eee; padding:5px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Dit profiel wordt uitgevoerd op de volgende stalen</p>
                        </div>
                    </div>
                    <form id="sampleTypes">
                    {% for sampleType in profile.sampleTypes %}
                        <div class="row">
                            <div class="col-xs-2">
                                <img class="img-responsive" style="margin: 0 auto; " src="{{ asset('bundles/zoolyxcore/images/sample_types/' ~ sampleType.definition.imageName, absolute=true) }}">
                            </div>
                            <div class="col-xs-1 text-right">
                                {% if profile.sampleTypesDisabled %}
                                    <input type="checkbox" disabled checked />
                                    <input type="hidden"
                                           name="sampleTypes[{{ profile.reference }}][]"
                                           value="{{ sampleType.definition.reference }}"
                                            />
                                {% else %}
                                    <input type="radio"
                                           {% if sampleType.preferred %}checked{% endif %}
                                           name="sampleTypes[{{ profile.reference }}]"
                                           value="{{ sampleType.definition.reference }}"
                                            />
                                {% endif %}
                            </div>
                            <div class="col-xs-4">
                                {{ sampleType.definition.getDefaultDescription().description }}
                            </div>
                            <div class="col-xs-5">
                                {{ sampleType.comment }}
                            </div>
                        </div>
                    {% endfor %}
                    </form>
                </div>
            </div>
        {% endif %}

        {% if profile.form and profile.form | formIsNew %}
            <div class="spacer10">&nbsp </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-3" style="border:1px solid #aaa; border-radius: 10px; background-color: #eee; padding:5px;">
                    {{ profile.form | autocomplete(sample.pet) | raw}}
                </div>
            </div>
        {% endif %}
    <div class="spacer50">&nbsp </div>
    {% endfor %}
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="row">
                <div class="col-xs-10 text-right">
                    {% trans %}report_samples.total{% endtrans %}
                </div>
                <div class="col-xs-2 text-right">
                    {{ total | number_format(2, '.') }} €
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="row">
                <div class="col-xs-12 text-right">
                    Excl {{ vat }}% {% trans %}report_samples.vat{% endtrans %}
                </div>
            </div>
        </div>
    </div>

<form id="main" action="{{ form_action }}" method="POST" enctype="multipart/form-data" onsubmit="return mergeForms(this)">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="row">
                <div class="col-xs-12 text-right">
                    {% for pd in postData %}
                        <input type="hidden" name="price[]" value="{{ pd.price }}">
                        <input type="hidden" name="extra[]" value="{{ pd.extra }}">
                    {% endfor %}
                    <input class="btn btn-primary" type="submit" value="Confirm">
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function mergeForms(main) {
        var $main = $(main);
        var formsCollection = document.getElementsByTagName("form");

        for(var i=0;i<formsCollection.length;i++)
        {
            var form = formsCollection[i];
            if (form.id && form.id!='main') {
                var formElements = document.getElementById(form.id).elements;
                var formData = [];
                for (var j=0; j<formElements.length; j++)
                {
                    var formElement = formElements[j];
                    if (formElement.type == 'file') {
                        var random = makeRandomId();
                        var $upload = $(formElement);
                        formData.push({ name: $upload.attr('name'), value: random+"_"+form.id+"_"+$upload.attr('name')+"_"+$upload.val().split('\\').pop()});
                        $upload.attr('name', random+"_"+form.id+"_"+$upload.attr('name'));
                        $main.append($(formElement));
                    } else {
                        formData.push({ name: formElement.name, value: formElement.value})
                    }
                }
                var $input = $("<input type='hidden' name='"+form.id+"' value='"+JSON.stringify(formData)+"'/>");
                $main.append($input);
            }
        }

    }
    function makeRandomId() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }
</script>