{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.notifications{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.notifications{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Notification Url</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for notificationEndpoint in notificationEndpoints %}
                    <tr>
                        <td>{{ notificationEndpoint.name }}</td>
                        <td>{{ notificationEndpoint.url }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('admin_notification_endpoint',{'id':notificationEndpoint.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <a class="btn btn-primary" href="{{ path('admin_notification_endpoint', {'id': 0}) }}">new endpoint</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
