{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Notification Endpoint</h1>
        </div>
    </div>
    <div>
        <a href="{{ path('admin_notifications') }}">back to overview</a>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal zlx_form">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-xs-3">
                    Name
                </label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="name" value="{{ notificationEndpoint.name }}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3">
                    Notification Url
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="url" value="{{ notificationEndpoint.url }}" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3">
                    Subscription Url
                </label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="subscriptionUrl" value="{{ notificationEndpoint.subscriptionUrl }}" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <input class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="Save" />
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
