(texte français ci-dessous)

Welkom bij Zoolyx!

Je ontvangt deze email omdat er een laboverslag met u gedeeld werd.

Om het verslag te raadplegen heb je een myzoolyx-account (https://www2.zoolyx.be). Activeer het snel door een paswoord in te stellen via de link hieronder.

Je login is het emailadres waarnaar deze email werd gestuurd.

{{ changePasswordUrl }}

Reviseer je accountvoorkeuren via het myzoolyx menu door op je naam of emailadres te klikken en klaar.



Over Zoolyx

Zoolyx is een laboratorium dat 100% ten dienste staat van de diergeneeskunde en het diergeneeskundig onderzoek.

Van Alpaca tot Zeehond. Naast de klassieke gezelschaps- en landbouwdieren kan u bij ons ook terecht voor analyses voor duiven, siervogels, reptielen, vissen, wildlife en exoten.

Door jarenlange opgebouwde ervaring kunnen wij als contactpunt optreden voor al uw laboratoriumanalytische behoeften. Wij helpen en adviseren u graag, zelfs bij de meest exotische vragen. 

We streven er naar de resultaten binnen de kortst mogelijke termijn aan u te bezorgen via het innovatieve myzoolyx platform. 

Zoolyx
Groeneweg 17, B-9320 Aalst, Belgique
+32 (0)53 72 90 20

-----------------------

Bienvenue chez Zoolyx!

Vous recevez cet email parce qu'un rapport d'analyse laboratoire est partagez avec vous.

Pour consulter le rapport, vous devez avoir un compte myzoolyx. (https://www2.zoolyx.be/fr). Activez-le rapidement en mettant un mot de passe à l'aide du lien ci-dessous.

Votre login est l'adresse e-mail à laquelle ce courrier a été envoyé.

{{ changePasswordUrl }}

Revissez les paramètres de votre compte accesible par le menu myzoolyx en cliquent votre nom ou addresse email et c'est parti.



A propos de Zoolyx

Zoolyx est un laboratoire à 100% au service de la médecine vétérinaire et de la recherche vétérinaire.

De l’alpaga jusqu’au zèbre. En plus des animaux de compagnie classiques et des animaux de rente, vous pouvez également nous contacter pour des analyses sur les pigeons, les oiseaux d'ornement, les reptiles, les poissons, les animaux sauvages et les espèces exotiques.

Grâce à une expérience acquise pendant de longues années nous pouvons servir comme point de contact pour tous vos besoins en laboratoire analytique. En plus nous avons le plaisir de vous conseiller pour des questions qui concernent les animaux exotiques.

Nous essayons de vous faire parvenir les résultats dans les meilleurs délais via l'outil innovant myzoolyx.


Zoolyx
Groeneweg 17, B-9320 Aalst, Belgique
+32 (0)53 72 90 28