Bienvenue chez Zoolyx!

Vous recevez cet email parce qu'un rapport d'analyse laboratoire est partagez avec vous.

Pour consulter le rapport, vous devez avoir un compte myzoolyx. (https://www2.zoolyx.be/fr). Activez-le rapidement en mettant un mot de passe à l'aide du lien ci-dessous.

Votre login est l'adresse e-mail à laquelle ce courrier a été envoyé.

{{ changePasswordUrl }}

Revissez les paramètres de votre compte accesible par le menu myzoolyx en cliquent votre nom ou addresse email et c'est parti.



A propos de Zoolyx

Zoolyx est un laboratoire à 100% au service de la médecine vétérinaire et de la recherche vétérinaire.

De l’alpaga jusqu’au zèbre. En plus des animaux de compagnie classiques et des animaux de rente, vous pouvez également nous contacter pour des analyses sur les pigeons, les oiseaux d'ornement, les reptiles, les poissons, les animaux sauvages et les espèces exotiques.

Grâce à une expérience acquise pendant de longues années nous pouvons servir comme point de contact pour tous vos besoins en laboratoire analytique. En plus nous avons le plaisir de vous conseiller pour des questions qui concernent les animaux exotiques.

Nous essayons de vous faire parvenir les résultats dans les meilleurs délais via l'outil innovant myzoolyx.


Zoolyx
Groeneweg 17, B-9320 Aalst, Belgique
+32 (0)53 72 90 28