Welkom bij Zoolyx!

Je ontvangt deze email omdat er een laboverslag met u gedeeld werd.

Om het verslag te raadplegen heb je een myzoolyx-account (https://www2.zoolyx.be). Activeer het snel door een paswoord in te stellen via de link hieronder.

Je login is het emailadres waarnaar deze email werd gestuurd.

{{ changePasswordUrl }}

Reviseer je accountvoorkeuren via het myzoolyx menu door op je naam of emailadres te klikken en klaar.



Over Zoolyx

Zoolyx is een laboratorium dat 100% ten dienste staat van de diergeneeskunde en het diergeneeskundig onderzoek.

Van Alpaca tot Zeehond. Naast de klassieke gezelschaps- en landbouwdieren kan u bij ons ook terecht voor analyses voor duiven, siervogels, reptielen, vissen, wildlife en exoten.

Door jarenlange opgebouwde ervaring kunnen wij als contactpunt optreden voor al uw laboratoriumanalytische behoeften. Wij helpen en adviseren u graag, zelfs bij de meest exotische vragen. 

We streven er naar de resultaten binnen de kortst mogelijke termijn aan u te bezorgen via het innovatieve myzoolyx platform. 




Zoolyx
Groeneweg 17, B-9320 Aalst, Belgium
+32 (0)53 72 90 20