<html lang="nl">
<head>
<meta charset="utf-8">
<!-- utf-8 works for most cases -->
<meta name="viewport" content="width=device-width">
<!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Use the latest (edge) version of IE rendering engine -->
<meta name="x-apple-disable-message-reformatting">
<!-- Disable auto-scale in iOS 10 Mail entirely -->
<title>myzoolyx</title>
<style>
html, body {
	margin: 0 auto !important;
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
}         
* {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}         
div[style*="margin: 16px 0"] {
	margin: 0 !important;
}         
table, td {
	mso-table-lspace: 0pt !important;
	mso-table-rspace: 0pt !important;
}
table {
	border-spacing: 0 !important;
	border-collapse: collapse !important;
	table-layout: fixed !important;
	margin: 0 auto !important;
}
table table table {
	table-layout: auto;
}
img {
	-ms-interpolation-mode: bicubic;
}          /* What it does: A work-around for iOS meddling in triggered links. */
*[x-apple-data-detectors] {
	color: inherit !important;
	text-decoration: none !important;
}          /* What it does: A work-around for Gmail meddling in triggered links. */
.x-gmail-data-detectors, .x-gmail-data-detectors *, .aBn {
	border-bottom: 0 !important;
	cursor: default !important;
}          /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
.a6S {
	display: none !important;
	opacity: 0.01 !important;
}         /* If the above doesn't work, add a .g-img class to any image in question. */
img.g-img + div {
	display: none !important;
}          /* What it does: Prevents underlining the button text in Windows 10 */
.button-link {
	text-decoration: none !important;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) { /* iPhone 6 and 6+ */
.email-container {
	min-width: 375px !important;
}
}
.test {
	background-image: url('https://www2.zoolyx.be/bundles/zoolyxcore/images/team.jpg');
	background-repeat: no-repeat;
	background-size: 250px 180px;
}
</style>
<!-- What it does: Makes background images in 72ppi Outlook render at correct size. --><!--[if gte mso 9]> 	<xml> 		<o:OfficeDocumentSettings> 			<o:AllowPNG/> 			<o:PixelsPerInch>96</o:PixelsPerInch> 		</o:OfficeDocumentSettings> 	</xml> 	<![endif]--><!-- Progressive Enhancements -->
<style>          
.button-td, .button-a {
    transition: all 100ms ease-in;         
}
.button-td:hover, .button-a:hover {
    background: #555555 !important;
    border-color: #555555 !important;         
}                
@media screen and (max-width: 600px) {
	.email-container p { 				
		font-size: 17px !important;
		line-height: 22px !important; 
	}
}      
</style>
</head>
<body width="100%" bgcolor="#222222" style="margin: 0; mso-line-height-rule: exactly;">
<center style="width: 100%; background: #222222; text-align: left;">
  <!-- Visually Hidden Preheader Text : BEGIN -->
  <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;">Het nieuwe webplatform is online!</div>
  <div style="max-width: 600px; margin: auto;" class="email-container">
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
      <tr>
        <td style="padding: 20px 0; text-align: center ; background:#ddd " ><img src="https://www2.zoolyx.be/bundles/zoolyxcore/images/Zoolyx_logo.png" aria-hidden="true" width="200" height="50" alt="alt_text" border="0" style="height: auto;  font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;"></td>
      </tr>
    </table>
    <!-- Email Header : END --> <!-- Email Body : BEGIN -->
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
      <!-- Hero Image, Flush : BEGIN -->
      <tr>
        <td bgcolor="#000"><img src="https://www2.zoolyx.be/bundles/zoolyxcore/images/team.jpg" aria-hidden="true" width="600" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;" class="g-img"></td>
      </tr>
      
      <tr>
      
      <td bgcolor="#ffffff">
      
      <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;"><h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">Het nieuwe webplatform is online!</h1>
            <p style="margin: 0;">Stel snel een paswoord in via de knop hieronder en ontdek de vernieuwde rapportlayout en handige functies van de myzoolyx webtool.</p>
            <p style="margin: 0;">&nbsp;</p>
            <p style="margin: 0;">Je login is het emailadres waarnaar deze email werd gestuurd. </p>
            <p style="margin: 0;">&nbsp;</p>
            <p style="margin: 0;">Reviseer je accountvoorkeuren via het myzoolyx menu door op je naam of emailadres te klikken en klaar. </p>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">           
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
              <tr>
                <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                  <a href="{{ changePasswordUrl }}" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a"/> 
                  <span style="color:#ffffff;" class="button-link">Stel paswoord in</span>
                </td>
              </tr>
            </table>           
         </td>
        </tr>
        <tr>
          <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;"><h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">What's new</h2>
            <ul>
              <li>Grafische weergave van het resultaat tov referentiewaarden</li>
              <li>Integratie van grafische en fotografische resultaten</li>
              <li>Integratie van verslagen van derde laboratoria</li>
              <li>One-click aanbevolen reflextesting </li>
              <li>Prijsopgave van het gevraagde onderzoek</li>
              <li>Verwachte datum resultaat</li>
              <li>Link naar het gescande aanvraagformulier </li>
              <li>Download verslag in pdf-formaat</li>
              <li>Bijaanvraag met zoekfunctie en filter op ras</li>
              <li>Vraag een staalophaling met follow-up email</li>
              <li>Stel vragen in context van een verslag</li>
              <li>Deel een verslag met collega's</li>
              <li>Deel een verslag automatisch met eigenaars</li>
              <li>Integratie verslag in praktijksoftware via webservice </li>
              <li>Upload files (rx, fotos, verslagen,...) in context van een laboverslag</li>
              <li>Toegang tot wikilab (labogids met uitgebreide info)</li>
            </ul>
            <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">What's next</h2>
            <p style="margin: 0;"></p>
            <p style="margin: 0;">Het oude webplatform blijft online tot 31 december. Alle verslagen vanaf september 2018 zijn beschikbaar op het nieuwe platform, oudere verslagen worden niet automatisch overgezet.</p>
            <p style="margin: 0;">&nbsp;</p>
            <p style="margin: 0;">Ondertussen wordt gewerkt aan volgende functionaliteiten</p>
            <ul>
              <li>Webshop voor online-aanvraag</li>
              <li>Integratie praktijksoftware voor online aanvraag</li>
              <li>Aanpassen eigenaar -en patiëntgegevens </li>
              <li>Download verslag in Excel-formaat</li>
              <li>Historiek van het verslag</li>
            </ul>
            <p style="margin: 0;">&nbsp;</p>
            <p style="margin: 0;">&nbsp;</p>
            <p style="margin: 0;">Het Zoolyx team</p></td>     
        </tr>       
      </table>
      </td>
      
      </tr>
      
      <tr>
        <td  style="text-align: center; background: #eee"><img aria-hidden="true" src="https://www.zoolyx.be/bundles/zoolyxcore/images/team.jpg" align="center" style="width: 100%; max-width: 600px;" /></td>
      </tr>

      <tr>
        <td bgcolor="#ffffff">
          <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
              <td  align="center" style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;"><a href="https://www.zoolyx.be"> <img  src="https://www2.zoolyx.be/bundles/zoolyxcore/images/www_64.png"/> </a> <a href="https://www.facebook.com/zoolyxlaboratory"> <img  src="https://www2.zoolyx.be/myzoolyx/bundles/zoolyxcore/images/fb_64.png"/> </a> <a href="https://www.youtube.com/channel/UCJVXyPUbLwUpixV5pkQxw0A"> <img src="https://www2.zoolyx.be/bundles/zoolyxcore/images/youtube_64.png"/> </a> <a href="https://plus.google.com/b/103410537615030242769/103410537615030242769"> <img src="https://www2.zoolyx.be/bundles/zoolyxcore/images/g+_64.png"/> </a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    
    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
      <tr>
        <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; line-height:18px; text-align: center; color: #888888;" class="x-gmail-data-detectors"><br>
          <br>
          Zoolyx<br>
          Groeneweg 17, B-9320 Aalst, Belgium<br>
          +32 (0)53 72 90 20</td>
      </tr>
    </table>
  </div>
</center>
</body>
</html>