La nouvelle plateforme web est en ligne!

Choisissez rapidement un mot de passe à l'aide du lien ci-dessous et découvrez la nouvelle mise en page du rapport d'analyse et les fonctions utiles de l'outil Web myzoolyx.

Votre login est l'adresse e-mail à laquelle ce courrier a été envoyé.

{{ changePasswordUrl }}

Revissez les paramètres de votre compte accesible par le menu myzoolyx en cliquent votre nom ou addresse email et c'est parti.



Les nouveautés

* Représentation graphique des résultats par rapport aux valeurs de référence
* Integration des résultats graphiques ou photographique
* Integration des rapports des laboratoires tiers
* One-click reflex testing recommandé
* Prix des examens demandés
* Date de résultat prévue 
* Lien au formulaire de demande scanné
* Télécharger le rapport en format pdf
* Demandes supplémentaire avec fonction de recherche et filtre sur la race
* Demande le passage du coursier avec un email de suivi
* Poser des questions en contexte d'un rapport d'analyse
* Partager des rapports avec des collègues
* Partager automatiquement le rapport avec des propriétaires
* Integration du rapport dans des logiciels de gestion cabinet
* Télécharger des fichiers (rx, photos, rapports,...) en contexte d'un rapport d'analyse
* Accès au wikilab (guide de laboratoire)



Pour la suite

L'ancienne plateforme reste en ligne jusqu'à le 31 décembre. Tous les rapports à partir de septembre 2018 sont disponibles sur le nouveau site. Les rapports plus anciens ne seront pas transférés automatiquement.

Entretemps nous continuons le développement des fonctionnalités suivantes

* Webshop pour la demande en ligne
* Integration des logiciels de gestion cabinet pour la demande en ligne
* Modifications des données propriétaire et animal
* Télécharger le rapport en format Excel
* L'historique du rapport



Zoolyx
Groeneweg 17, B-9320 Aalst, Belgique
+32 (0)53 72 90 28