Het nieuwe webplatform is online!

Stel snel een paswoord in via de knop hieronder en ontdek de vernieuwde rapportlayout en handige functies van de myzoolyx webtool.

Je login is het emailadres waarnaar deze email werd gestuurd.

{{ changePasswordUrl }}

Reviseer je accountvoorkeuren via het myzoolyx menu door op je naam of emailadres te klikken en klaar.



What's new

* Grafische weergave van het resultaat tov referentiewaarden
* Integratie van grafische en fotografische resultaten
* Integratie van verslagen van derde laboratoria
* One-click aanbevolen reflextesting 
* Prijsopgave van het gevraagde onderzoek
* Verwachte datum resultaat
* Link naar het gescande aanvraagformulier 
* Download verslag in pdf-formaat
* Bijaanvraag met zoekfunctie en filter op ras
* Vraag een staalophaling met follow-up email
* Stel vragen in context van een verslag
* Deel een verslag met collega's
* Deel een verslag automatisch met eigenaars
* Integratie verslag in praktijksoftware via webservice 
* Upload files (rx, fotos, verslagen,...) in context van een laboverslag
* Toegang tot wikilab (labogids met uitgebreide info)



What's next

Het oude webplatform blijft online tot 31 december. Alle verslagen vanaf september 2018 zijn beschikbaar op het nieuwe platform, oudere verslagen worden niet automatisch overgezet.

Ondertussen wordt gewerkt aan volgende functionaliteiten

* Webshop voor online-aanvraag
* Integratie praktijksoftware voor online aanvraag
* Aanpassen eigenaar -en patiëntgegevens 
* Download verslag in Excel-formaat
* Historiek van het verslag



Zoolyx
Groeneweg 17, B-9320 Aalst, Belgium
+32 (0)53 72 90 20