Beste,

Het ticket met ref {{ ticketId }} werd aan u toegewezen.

Lees het bericht hier: {{ ticketUrl }}


---

Bonjour,

Le ticket avec référence {{ ticketId }} est assigné à vous.

Lisez le message ici: {{ ticketUrl }}

