Bedankt voor uw bericht.

  Wij behandelen het zo spoedig mogelijk. Bij dringende vragen kunt u ons telefonisch contacteren op +32 (0)53 72 90 20.

  Volg het bericht via deze link: {{ ticketUrl }}
  
  Paswoord vergeten of onbekend? Gebruik de "Paswoord vergeten"-link op de loginpagina. Uw gebruikersnaam is <strong>{{ user.email }}.

  [Gelieve het onderwerp van deze email niet te wijzigen, dit is belangrijk voor de opvolging van uw bericht.]

------------------

Merci pour votre message.

  Nous traiterons votre demande dans les plus bref délais. Pour des questions urgentes vous pouvez nous contacter sur +32 (0)53 72 90 28.

  Suivez le message via ce lien: {{ ticketUrl }}
  
  Mot de passe oublié ou inconnu? Utilisez le lien "Mot de passe oublié" sur la page de connexion. Votre identifiant est {{ user.email }}.

  [Merci de na pas changer le sujet de cet email, c'est important pour le suivi de votre message.]

Uw bericht / Votre message
-------------------------------------------------------------------------
{{ originalMessage }}