<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Ticket</title>
    <style type="text/css">
        .button__shadow {
            border-bottom: 2px solid rgba(0,0,0,0.1);
            border-radius: 4px;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
        @media (min-width: 500px) {
            .button, .button__shadow {
                display: inline-block !important;
                width: auto !important;
            }
        }


        .body {
            font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif;
            line-height: initial;
            max-width: 580px;
            font-size: 1rem
        }
        p, h1 {
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 0.5em;
            padding: 0;
        }
        h1 {
            font-size: 1.25rem;
        }
        a.button {
            background: #204dd5;
            border: 1px solid #000;
            border-radius: 3px;
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
        p.button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body class="body">
<h1>
    Bedankt voor uw bericht.
</h1>
<p>
    Wij behandelen het zo spoedig mogelijk. Bij dringende vragen kunt u ons telefonisch contacteren op +32 (0)53 72 90 20.
</p>
<p>
    U kan het bericht via de knop hieronder opvolgen.
</p>
<p>
    <a class="button" href="{{ ticketUrl }}">Bericht</a>
</p>
<p>&nbsp;</p>
<p>
	Paswoord vergeten of onbekend? Gebruik de "Paswoord vergeten"-link op de loginpagina. Uw gebruikersnaam is <strong>{{ user.email }}</strong>.
</p>
<p>&nbsp;</p>
<p>
    [Gelieve het onderwerp van deze email niet te wijzigen, dit is belangrijk voor de opvolging van uw bericht.]
</p>
<p>&nbsp;</p>
<hr>
<h1>
    Merci pour votre message.
</h1>
<p>
    Nous traiterons votre demande dans les plus bref délais. Pour des questions urgentes vous pouvez nous contacter sur +32 (0)53 72 90 28.
</p>
<p>
    Vous pouvez suivre le message via le bouton ci-dessous.
</p>
<p>
    <a class="button" href="{{ ticketUrl }}">Message</a>
</p>
<p>&nbsp;</p>
<p>
    Mot de passe oublié ou inconnu? Utilisez le lien "Mot de passe oublié" sur la page de connexion. Votre identifiant est <strong>{{ user.email }}</strong>.
</p>
<p>&nbsp;</p>
<p>
    [Merci de na pas changer le sujet de cet email, c'est important pour le suivi de votre message.]
</p>

<hr>

<p>
    Uw bericht / Votre message
</p>
<p>
    {{ originalMessage }}
</p>
</body>