Beste,

Wij hebben een vraag of opmerking in verband met het labo-onderzoek met referentie {{ requestId }}.

Bekijk het bericht hier: {{ reportQuestionUrl }}

Paswoord vergeten of onbekend? Gebruik de "Paswoord vergeten"-link op de loginpagina. Uw gebruikersnaam is {{ user.email }}.

---

Bonjour

Nous avons une question ou remarque par rapport à l'analyse de laboratoire avec référence {{ requestId }}.

Voyez le message ici: {{ reportQuestionUrl }}

Mot de passe oublié ou inconnu? Utilisez le lien "Mot de passe oublié" sur la page de connexion. Votre identifiant est {{ user.email }}.

---

{{ lastMessage }}