<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Question update</title>
<style type="text/css">
.body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif;
	line-height: initial;
	max-width: 580px;
	font-size: 1rem
}
p, h1 {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
}
h1 {
	font-size: 1.25rem;
}
</style>
</head>
<body class="body">
<p> Beste, </p>
<p> Er werd geantwoord op de vraag met referentie {{ ticketId }}. </p>
<p>&nbsp;</p>
<hr>
<p>&nbsp;</p>
<p> Bonjour, </p>
<p> La question avec référence {{ ticketId }} a été répondu. </p>
<hr>
<p>
    {{ lastMessage | nl2br }}
</p>
</body>
