Beste,

Er werd geantwoord op uw vraag met ref {{ ticketId }}.

Lees het bericht hier: {{ ticketUrl }}

Paswoord vergeten of onbekend? Gebruik de "Paswoord vergeten"-link op de loginpagina. Uw gebruikersnaam is {{ user.email }}.

---

Bonjour

Votre question avec référence {{ ticketId }} a été repondu.

Lisez le message ici: {{ ticketUrl }}

Mot de passe oublié ou inconnu? Utilisez le lien "Mot de passe oublié" sur la page de connexion. Votre identifiant est {{ user.email }}.

---

{{ lastMessage }}