Beste,

Er werd geantwoord op bericht met referentie {{ ticketId }} dat u in behandeling hebt.

Lees het bericht hier: {{ ticketUrl }}


---

Bonjour,

Il y avait répondu sur le message avec référence {{ ticketId }} que vous traitez.

Lisez le message ici: {{ ticketUrl }}

