{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <h2>{% trans %}settings.change_password{% endtrans %}</h2>
	Uw password is gewijzigd<br>
    <a href="{{ path('zoolyx_account_settings') }}" class="btn btn-success">Continue</a>
{% endblock %}
