{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path("zoolyx_account_settings") }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>
    
    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('zoolyx_change_password')} }) }}
  	<h2>{% trans %}settings.change_password{% endtrans %}</h2>
		
	    <div class="form-group">
			<label class="control-label col-sm-2" for="Account_lastName">
                {{ form_label(form.oldPassword) }}
			</label>
			<div class="col-xs-12 col-sm-6">
				{{ form_widget(form.oldPassword) }}
                {%for error in form.oldPassword.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
			</div>
		</div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Account_firstName" >
            {{ form_label(form.newPassword.first) }}
        </label>
        <div class="col-xs-12 col-sm-6">
            {{ form_widget(form.newPassword.first) }}
            {%for error in form.newPassword.first.vars.errors%}
                <p style="color:red">{{error.message}}</p>
            {%endfor%}
            <p id="password-strength-text" style="font-weight: bold; margin-top:5px;"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Account_firstName" >
            {{ form_label(form.newPassword.second) }}
        </label>
        <div class="col-xs-12 col-sm-6">
            {{ form_widget(form.newPassword.second) }}
            {%for error in form.newPassword.second.vars.errors%}
                <p style="color:red">{{error.message}}</p>
            {%endfor%}
        </div>
    </div>

    <div class="col-xs-6" style="margin-top: 40px; margin-bottom: 40px;">
      <input id="submit_button" class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}settings.submit{% endtrans %}">
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/zxcvbn.js', absolute=true) }}"></script>
    <script>
        var strength = {
            0: {code: "Very weak", color:"red"},
            1: {code: "Weak", color:"red"},
            2: {code: "Still weak", color:"orange"},
            3: {code: "Good", color:"blue"},
            4: {code: "Strong", color:"green"}
        };
        var password = document.getElementById('PasswordNew_newPassword_first');
        var text = document.getElementById('password-strength-text');
        var $submitButton = $('#submit_button');
        console.log($submitButton);
        $submitButton.prop("disabled",true);

        password.addEventListener('input', function() {
            var val = password.value;
            var result = zxcvbn(val);

            // Update the text indicator
            if (val !== "") {
                text.innerHTML = "Strength: " + strength[result.score].code;
                text.style.color = strength[result.score].color;
            } else {
                text.innerHTML = "";
            }
            if (result.score >2) {
                $submitButton.prop("disabled",false);
            } else {
                $submitButton.prop("disabled",true);
            }
        });
    </script>
{% endblock %}