{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path('zoolyx_practice_settings',{id: id}) }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>
    
    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('zoolyx_change_email', {id: id, veterinaryPracticeId: veterinaryPracticeId})} }) }}
    <h2>{% trans %}settings.change_email{% endtrans %}</h2>

    <div class="form-group">
        <label class="control-label col-sm-2" for="Account_lastName">
            {{ form_label(form.email) }}
        </label>
        <div class="col-xs-12 col-sm-6">
            {{ form_widget(form.email) }}
            {%for error in form.email.vars.errors%}
                <p style="color:red">{{error.message}}</p>
            {%endfor%}
        </div>
    </div>

    <div class="col-xs-6" style="margin-top: 40px; margin-bottom: 40px;">
        <input id="submit_button" class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}settings.submit{% endtrans %}">
    </div>
    
    {{ form_end(form) }}
{% endblock %}
