{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path("zoolyx_account_settings") }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>

    <h2>{% trans %}settings.practice_details{% endtrans %}</h2>

    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('zoolyx_practice_settings', {id: veterinaryPracticeId})} }) }}

        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_name">
                {% trans %}settings.practice_name{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.name) }}
                {%for error in form.name.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_street">
                {% trans %}settings.street{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.street) }}
                {%for error in form.street.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_zipCode">
                {% trans %}settings.zip_code{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-2">
                {{ form_widget(form.zipCode) }}
                {%for error in form.zipCode.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
            <label class="control-label col-sm-1" for="AccountPractice_city">
                {% trans %}settings.city{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-3">
                {{ form_widget(form.city) }}
                {%for error in form.city.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_country">
                {% trans %}settings.country{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.country) }}
                {%for error in form.country.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_telephone">
                {% trans %}settings.tel{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.telephone) }}
                {%for error in form.telephone.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_vat">
                {% trans %}settings.tva_id{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.vat) }}
                {%for error in form.vat.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="AccountPractice_vat">
                {% trans %}request.invoice{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {% for key, item in form.invoiceDefault.children %}
                    <div>
                        {{ form_widget(item,{'attr': {'class': "invoice-for", 'placeholder': "Voer BTW nummer in"}} ) }}
                        {{ form_label(item) }}
                    </div>
                {% endfor %}
                {%for error in form.invoiceDefault.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
            </div>
        </div>
        
    {% if ( app.user.hasRole('ROLE_VETERINARY') or app.user.hasRole('ROLE_ORGANISATION') ) %}

        <div class="form-group">
            <label class="control-label col-sm-2">
                {% trans %}settings.notifications{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-10 checkbox">
                <label class="col-sm-10">{{ form_widget(form.sendNotifications) }}</label>
                {%for error in form.sendNotifications.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
                <p class="well col-xs-12 col-sm-10">{% trans %}settings.send_notifications_help{% endtrans %}
                    <a href="https://docs.google.com/document/d/1T28izHqFocBcm5XQHSwIoR0FPJwRGqTmgZoDxgjhe3Q/edit?usp=sharing" target="new">{% trans %}settings.pms_integration_link{% endtrans %}</a>
                </p>
            </div>
        </div>

        <div class="notif_rows">

            <div class="form-group">
                <label class="control-label col-sm-2">
                    {% trans %}settings.notification_service{% endtrans %}
                </label>
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.notificationEndpointId,{ 'attr': {'class': 'form-control'}} ) }}
                </div>
            </div>
        </div>

    {% endif %}

    <div class="col-xs-12 text-right" style="margin-top: 40px; margin-bottom: 40px;">
        <input class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}settings.submit{% endtrans %}">
    </div>


    {{ form_end(form) }}
    
    <h2>{% trans %}settings.members{% endtrans %}</h2>
    <div class="panel-body">
   	 	{% trans %}settings.manage_practice_help{% endtrans %}
    </div>
    <form class="form-horizontal" style="margin-bottom: 40px;">
    {% for member in form.vars.value.members %}
         <div class="form-group">
            <label class="control-label col-xs-12 col-sm-3">
                {{ member.firstName }} {{ member.lastName }} ({{ member.email }})
            </label>
            <div class="col-xs-12 col-sm-9">
                {% if member.isAdmin() %}
                    <span class="label label-danger">Admin</span>
                    {% if not member.isMe() %}
                        <a class="btn btn-default btn-sm" href="{{ path('zoolyx_practice_remove_admin', {id: veterinaryPracticeId, veterinaryPracticeId:member.veterinaryPracticeId}) }}">{% trans %}settings.demote{% endtrans %}</a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-default btn-sm" href="{{ path('zoolyx_practice_make_admin', {id: veterinaryPracticeId, veterinaryPracticeId:member.veterinaryPracticeId}) }}">{% trans %}settings.promote{% endtrans %}</a>
                {% endif %}
                <a href="{{ path('zoolyx_veterinary_settings', {id: veterinaryPracticeId, veterinaryPracticeId:member.veterinaryPracticeId}) }}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon glyphicon-user"></span>{% trans %}settings.modify_member{% endtrans %}
                </a>
                {% if not member.isMe() %}
                <a href="{{ path('zoolyx_practice_remove_veterinary', {id: veterinaryPracticeId, veterinaryPracticeId:member.veterinaryPracticeId}) }}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>{% trans %}settings.remove_member{% endtrans %}
                </a>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
    </form>

    {% if form.vars.value.members | length == 1 %}
    <div class="row">
        <div class="col-xs-12">
            <h3>{% trans %}settings.transfer{% endtrans %}</h3>
        </div>
    </div>
        <div class="form-group">

                <div class="col-xs-4">
                    <label class="control-label">
                        {% trans %}settings.transfer_code_generate{% endtrans %}
                    </label>
                </div>
                <div class="col-xs-8">
                    {% if veterinaryPractice.transferCode is not null %}
                        {{ veterinaryPractice.transferCode }} ({% trans %}settings.valid_till{% endtrans %} {{ veterinaryPractice.validTill.format('d/m/Y H:i:s') }})
                    {% else %}
                        <a class="btn btn-default btn-sm" href="{{ path('zoolyx_practice_generate_transfer_code',{id: veterinaryPracticeId}) }}">{% trans %}settings.transfer_code_generate{% endtrans %}</a>
                    {% endif %}
                </div>
                <p class="well col-xs-12 col-sm-10">{% trans %}settings.transfer_code_generate_help{% endtrans %}</p>
            </div>

    {% endif %}

    <div class="row">
        <div class="col-xs-12">
    		<h3>{% trans %}settings.add_member{% endtrans %}</h3>
    		<form class="zlx_form" action="{{ path('zoolyx_practice_add_veterinary', {id: veterinaryPracticeId}) }}" method="post">
       		<div class="form-group">
	       		<label class="control-label col-xs-4 col-sm-3" for="transfer_code_enter">
    	           {% trans %}settings.transfer_code_import{% endtrans %}
        		</label>
            	<div class="col-xs-8 col-sm-4">
                	<input type="text" id="transfer_code_enter" name="transfer_code" placeholder="transfer code" required />
            	</div>
            	<div class="col-xs-12 col-sm-3">
                	<input type="submit" class="form-control btn btn-warning btn-sm" value="{% trans %}settings.transfer_code_import{% endtrans %}">
            	</div>
            	<p class="well col-xs-12 col-sm-10">{% trans %}settings.transfer_code_import_help{% endtrans %}</p>
        	</div>
        <div class="col-xs-12" style="margin-top: 40px; margin-bottom: 40px;">
        </div>
    </form>
        </div>
    </div>
    
    

{% endblock %}