{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('zoolyx_account_settings')} }) }}
  	<h2>{% trans %}settings.myaccount{% endtrans %}</h2>

		<div class="form-group">
			<label class="control-label col-sm-2">
				{% trans %}settings.email{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				<input class="form-control" type="text" name="email" id="email"  value="{{ user.email }}" disabled>
			</div>
        </div>
        
        <div class="form-group">
			<label class="control-label col-sm-2">
				{% trans %}settings.language{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-4">
				{{ form_widget(form.language,{ 'attr': {'class': 'form-control'}} ) }}
			</div>
        </div>
        
        <div class="form-group">
           <label class="control-label col-sm-2"> {% trans %}settings.password{% endtrans %}</label>
 	       <div class="col-xs-12 col-sm-4">
    	        <a class="form-control btn btn-warning btn-sm" href="{{ path('zoolyx_change_password') }}">
        	        {% trans %}settings.change_password{% endtrans %}
            	</a>
    	    </div>
        </div>

        {% if app.user.hasRole('ROLE_VETERINARY') %}
            <h2>{% trans %}settings.mypractice{% endtrans %}</h2>
        {% else %}
            <h2>{% trans %}settings.myaddress{% endtrans %}</h2>
        {% endif %}

        {% if app.user.hasRole('ROLE_VETERINARY') %}
            {% for veterinaryPractice in account.veterinaryPractices %}
                <div class="form-group">
                    <label class="control-label col-sm-2">
                		 {{ veterinaryPractice.practice.name }}
            		</label>
                    {% if veterinaryPractice.role == 1 %}
                    <div class="col-xs-12 col-sm-4">
                        <a class="form-control btn btn-warning btn-sm" href="{{ path('zoolyx_practice_settings', {id:veterinaryPractice.id}) }}">
                             {% trans %}settings.manage_practice{% endtrans %}
                        </a>
                    </div>
                    {% endif %}
                </div>

            {% endfor %}
        {% else %}

        {% endif %}
	
		<h2>{% trans %}settings.results{% endtrans %}</h2>

		<div class="form-group">
			<label class="control-label col-sm-2" for="report_frequency">
				{% trans %}settings.report_email_frequency{% endtrans %}
			</label> 
		    <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.reportFrequency,{ 'attr': {'class': 'form-control'}} ) }}
				<p class="well">{% trans %}settings.report_email_frequency_help{% endtrans %}</p>
		    </div>
		</div>
		
		{% if app.user.hasRole('ROLE_VETERINARY') %}
		<div class="form-group">
			<label class="control-label col-sm-2">
				{% trans %}settings.report_sharing{% endtrans %}
  		    </label> 
			<div class="col-xs-12 col-sm-10 checkbox">
                <label class="col-sm-10">{{ form_widget(form.autoShareOwners) }}{% trans %}settings.auto_share_owners{% endtrans %}</label>
                {%for error in form.autoShareOwners.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
                <p class="well col-xs-12 col-sm-10">{% trans %}settings.auto_share_owners_help{% endtrans %}</p>
			</div>
		</div>
        {% endif %}
        <div class="col-xs-12 text-right" style="margin-top: 40px; margin-bottom: 40px;">
          <input class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}settings.submit{% endtrans %}">
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block scripts %}
    <script>
        $('#Account_sendNotifications').change(function() {
            if ($('#Account_sendNotifications').is(':checked')) {
                $('.notif_rows').show();
                $('#Account_notificationEndpointId').prop('required',true);
            } else {
                $('.notif_rows').hide();
                $('#Account_notificationEndpointId').prop('required',false);
            }

        })
    </script>
{% endblock %}