{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row" style="margin-bottom: 50px;">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path("zoolyx_practice_settings", {id: veterinaryPracticeId}) }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>
    
    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('zoolyx_veterinary_settings', {id: veterinaryPracticeId, veterinaryPracticeId:veterinaryPractice.id} )} }) }}
  	<h2>{% trans %}settings.member{% endtrans %}</h2>
		
	    <div class="form-group">
			<label class="control-label col-sm-2" for="Veterinary_lastName">
				{% trans %}settings.last_name{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				{{ form_widget(form.lastName) }}
                {%for error in form.lastName.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="Veterinary_firstName" >
				{% trans %}settings.first_name{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				{{ form_widget(form.firstName) }}
                {%for error in form.firstName.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
            </div>
        </div>
        
        <div class="form-group">
			<label class="control-label col-sm-2" for="Veterinary_orderNumber" >
				{% trans %}settings.reg_id{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				{{ form_widget(form.orderNumber) }}
                {%for error in form.orderNumber.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="Veterinary_gsm" >
				{% trans %}settings.gsm{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				{{ form_widget(form.gsm) }}
                {%for error in form.gsm.vars.errors%}
                    <p style="color:red">{{error.message}}</p>
                {%endfor%}
			</div>
		</div>
        
        <div class="form-group">
			<label class="control-label col-sm-2">
				{% trans %}settings.email{% endtrans %}
			</label>
			<div class="col-xs-12 col-sm-6">
				<input class="form-control" type="text" name="email" id="email"  value="{{ user.email }}" disabled>
			</div>
			<div class="col-xs-12 col-sm-4">
            	<a class="form-control btn btn-warning btn-sm" href="{{ path('zoolyx_change_email', {id: veterinaryPracticeId, veterinaryPracticeId:veterinaryPractice.id} ) }}">{% trans %}settings.change_email{% endtrans %}</a>
        	</div>
        </div>

        {% if veterinaryPractice.practice.sendNotifications %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="notification_id">
                {% trans %}settings.notification_id{% endtrans %}
            </label>
            <div class="col-xs-12 col-sm-6">
                {{ form_widget(form.notificationId,{ 'attr': {'class': 'form-control'}} ) }}
            </div>
        </div>
        {% endif %}

        <div class="col-xs-12 text-right" style="margin-top: 40px; margin-bottom: 40px;">
          <input class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}settings.submit{% endtrans %}">
        </div>
        
    {{ form_end(form) }}
{% endblock %}