{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.reports{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.reports{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <script>
        function submitFor() {
            var keyword = $("#keyword").val();
            $("#search-form").attr("action", keyword == '' ? '{{ path("admin_reports") }}' : '{{ path("admin_reports") }}?key='+keyword);
        }
    </script>
    
    <div class="row">
        <div class="col-xs-2 text-center">
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh" onclick="location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-10">
            <form id="search-form" action="" method="post" class="zlx_form">
                <div class="input-group">
                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="{% if keyword is defined%}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" data-toggle="tooltip" title="Search" onclick="submitFor()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-xs-8 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
        <div class="col-xs-4 text-right">
          <a  href="{{ path("admin_reports") }}?lang=nl" role="button" class="btn btn-primary">nl</a>
          <a  href="{{ path("admin_reports") }}?lang=fr" role="button" class="btn btn-primary">fr</a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-stacked">
                {{ include('ZoolyxCoreBundle::Admin/Report/Line/header.html.twig') }}
                {% for report in pager.currentPageResults %}
                    {% if report.hasAVersion %}
                        {% set reportb = reportBuilder.setReportVersion(report.getDefaultVersion()) %}
                        {{ include('ZoolyxCoreBundle::Admin/Report/Line/line.html.twig') }}
                    {% else %}
                        {{ include('ZoolyxCoreBundle::Admin/Report/Line/line_new.html.twig') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
