<link href="/wp-content/themes/Avada/assets/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/wp-content/uploads/fusion-styles/fusion-2.min.css" rel="stylesheet" type="text/css" media="all" />

<link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/sweet-alert.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,300">
<link href="{{ asset('bundles/zoolyxcore/css/main.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxticket/css/main.css') }}" rel="stylesheet" type="text/css" media="all" />

<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<style>
    html, body {
        overflow-x: hidden;
    }
</style>