<link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/sweet-alert.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ asset('bundles/zoolyxcore/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700,300">
<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
