<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
-->
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/jquery.min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/underscore-min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/bootstrap.min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/sweet-alert.min.js', absolute=true) }}"></script>

<script type='text/javascript' src='{{ asset('../wp-content/plugins/fusion-builder/assets/js/min/general/fusion-toggles.js?ver=1', absolute=true) }}'></script>
<script type='text/javascript' src='{{ asset('../wp-content/plugins/fusion-builder/assets/js/min/general/fusion-events.js?ver=1', absolute=true) }}'></script>
<script type='text/javascript' src='{{ asset('../wp-content/themes/Avada/includes/lib/assets/min/js/library/modernizr.js?ver=3.3.1', absolute=true) }}'></script>
<script type='text/javascript' src='{{ asset('../wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.easing.js?ver=1.3', absolute=true) }}'></script>
<script type='text/javascript' src='{{ asset('../wp-content/themes/Avada/includes/lib/assets/min/js/library/jquery.fusion_maps.js?ver=2.2.2', absolute=true) }}'></script>

<script type='text/javascript'>
/* <![CDATA[ */
var avadaMenuVars = {"site_layout":"wide","header_position":"top","logo_alignment":"left","header_sticky":"1","header_sticky_mobile":"","header_sticky_tablet":"","side_header_break_point":"960","megamenu_base_width":"custom_width","mobile_menu_design":"modern","dropdown_goto":"Ga naar...","mobile_nav_cart":"Winkelwagen","mobile_submenu_open":"Open submenu of %s","mobile_submenu_close":"Close submenu of %s","submenu_slideout":"1"};
/* ]]> */
</script>
<script type="text/javascript" src="{{ asset('../wp-content/themes/Avada/assets/min/js/general/avada-menu.js?ver=6.0.2', absolute=true) }}"></script>
