<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/jquery.min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/underscore-min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/bootstrap.min.js', absolute=true) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/sweet-alert.min.js', absolute=true) }}"></script>
