{% extends "::main.html.twig" %}

{% block body_tags %}style="background-color:white;"{% endblock %}

{% block container_class %}container-fluid{% endblock %}

{% block container %}
    <style>
        .lang-menu {
            padding-right: 15px;
            line-height: 40px;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            font-family: 'Open Sans';
            padding-top: 5px;
        }
    </style>
    <header class="fusion-header-wrapper">
        <div class="fusion-header-v3 fusion-logo-left fusion-sticky-menu- fusion-sticky-logo-1 fusion-mobile-logo-1  fusion-mobile-menu-design-modern">

            <div class="fusion-secondary-header">
                <div class="fusion-row">
                    <div class="fusion-alignleft">
                        <div class="fusion-contact-info">T. +32 (0)53 72 90 20 nl | +32 (0)53 72 90 28 fr<span class="fusion-header-separator">|</span><a href="mailto:info@zoolyx.be">info@zoolyx.be</a></div>
                    </div>
                    <div class="fusion-alignright">
                        <div class="fusion-social-links-header">
                            <div class="fusion-social-networks boxed-icons">
                                <div class="fusion-social-networks-wrapper">
                                    <a class="fusion-social-network-icon fusion-tooltip fusion-facebook fusion-icon-facebook" style="color:#ffffff;background-color:#3b5998;border-color:#3b5998;border-radius:4px;" href="https://www.facebook.com/zoolyxlaboratory/" target="_blank" data-placement="bottom" data-title="Facebook" data-toggle="tooltip" title="" data-original-title="Facebook">
                                        <span class="screen-reader-text">Facebook</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="lang-menu">
                            {% if app.request.locale == 'fr' %}
                                <a href="/">NL</a>
                            {% else %}
                                <a href="/fr">FR</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="fusion-header-sticky-height" style="height: 104px; overflow: visible; display: none;"></div>
            <div class="fusion-header" style="height: 104px; overflow: visible;">
                <div class="fusion-row">

                    <div class="fusion-logo" data-margin-top="5px" data-margin-bottom="5px" data-margin-left="" data-margin-right="">
                        <a class="fusion-logo-link" href="/">

                            <!-- standard logo -->
                            <img src="/wp-content/uploads/2018/02/Zoolyx_logo.jpg" srcset="/wp-content/uploads/2018/02/Zoolyx_logo.jpg 1x" width="156" height="75" alt="Zoolyx Logo" retina_logo_url="" class="fusion-standard-logo">

                            <!-- mobile logo -->
                            <img src="/wp-content/uploads/2018/02/Zoolyx_logo.jpg" srcset="/wp-content/uploads/2018/02/Zoolyx_logo.jpg 1x" width="156" height="75" alt="Zoolyx Logo" retina_logo_url="" class="fusion-mobile-logo">

                            <!-- sticky header logo -->
                            <img src="/wp-content/uploads/2018/02/Zoolyx_logo.jpg" srcset="/wp-content/uploads/2018/02/Zoolyx_logo.jpg 1x" width="156" height="75" alt="Zoolyx Logo" retina_logo_url="" class="fusion-sticky-logo">
                        </a>
                    </div>
                    <nav class="fusion-main-menu" aria-label="Main Menu">
                        <ul role="menubar" id="menu-main-menu" class="fusion-menu">
                            <li role="menuitem" id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-19">
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/" class="fusion-bar-highlight">
                                    <span class="menu-text">{% trans %}wp.menu.home{% endtrans %}</span>
                                </a>
                            </li>
                            <li role="menuitem" id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-18 fusion-dropdown-menu">
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/over-zoolyx/" class="fusion-bar-highlight" aria-haspopup="true">
                                    <span class="menu-text">{% trans %}wp.menu.over{% endtrans %}</span>
                                </a>
                                <ul role="menu" class="sub-menu">
                                    <li role="menuitem" id="menu-item-1373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1373 fusion-dropdown-submenu">
                                        <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/team/" class="fusion-bar-highlight">
                                            <span>{% trans %}wp.menu.team{% endtrans %}</span>
                                        </a>
                                    </li>
                                    <li role="menuitem" id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17 fusion-dropdown-submenu">
                                        <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/diensten/" class="fusion-bar-highlight">
                                            <span>{% trans %}wp.menu.diensten{% endtrans %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li role="menuitem" id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/laatste-nieuws/" class="fusion-bar-highlight">
                                    <span class="menu-text">{% trans %}wp.menu.nieuws{% endtrans %}</span>
                                </a>
                            </li>
                            <li role="menuitem" id="menu-item-1777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1777">
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/evenementen" class="fusion-bar-highlight">
                                    <span class="menu-text">{% trans %}wp.menu.events{% endtrans %}</span>
                                </a>
                            </li>
                            <li role="menuitem" id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-15">
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/contact/" class="fusion-bar-highlight">
                                    <span class="menu-text">{% trans %}wp.menu.contact{% endtrans %}</span>
                                </a>
                            </li>
                            <li role="menuitem" id="menu-item-2356" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2356" fusion-dropdown-menu>
                                <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/kb/" class="fusion-bar-highlight" role="menu-item" aria-haspopup="true">
                                    <span class="menu-text">{% trans %}wp.menu.kb{% endtrans %}</span>
                                </a>
                                <ul role="menu" class="sub-menu">
                                	<li role="menuitem" id="menuitem-25658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25658 fusion-dropdown-submenu">
                                        <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/wikilab/aanvraagformulieren/" class="fusion-bar-highlight">
                                            <span>{% trans %}wp.menu.forms{% endtrans %}</span>
                                        </a>
                                    </li>
                                    <li role="menuitem" id="menu-item-18781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18781 fusion-dropdown-submenu">
                                        <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/wikilab/" class="fusion-bar-highlight">
                                            <span>{% trans %}wp.menu.wikilab{% endtrans %}</span>
                                        </a>
                                    </li>
                                    <li role="menuitem" id="menu-item-18764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18764 fusion-dropdown-submenu">
                                        <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/faq/" class="fusion-bar-highlight">
                                            <span>{% trans %}wp.menu.faq{% endtrans %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% set menu = menu_builder.getMenu(app.user,app.request.locale) %}
                            <li role="menuitem" id="menu-item-2230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2230">
                                <a href="{{ menu.defaultItem.path }}" class="fusion-bar-highlight" aria-haspopup="true">
                                    <span class="menu-text">My Zoolyx</span>
                                </a>
                                <ul role="menu" class="sub-menu">
                                    {% for item in menu.items %}
                                        <li role="menuitem" class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                            <a href="{{ item.path }}"><span>{{ item.title }}</span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="fusion-mobile-menu-icons">
                        <a href="#" class="fusion-icon fusion-icon-bars" aria-label="Toggle mobile menu"></a>
                    </div>


                    <nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-center"></nav>
                </div>
            </div>
        </div>
        <div class="fusion-clearfix"></div>
    </header>

    <div class="fusion-body" style="min-height: 600px">
        {% block PageHeader %}
            <div id="page-title" class="fusion-page-title-bar fusion-page-title-bar-breadcrumbs fusion-page-title-bar-center" style="height:150px;margin-bottom: 30px;">
                <div id="page-title" class="fusion-page-title-row">
                    <div class="fusion-page-title-wrapper">
                        <div class="fusion-page-title-captions">
                            <h1 class="entry-title" data-fontsize="60" data-lineheight="80" style="font-size: 52.51px; line-height: 70.013px;">
                                {% block PageHeaderTitle %}{% endblock %}
                            </h1>
                            <div class="fusion-page-title-secondary">
                                <div class="fusion-breadcrumbs">
                                    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <a itemprop="url" href="{% if app.request.locale == 'fr' %}/fr{% endif %}/">
                                            <span itemprop="title">Home</span>
                                        </a>
                                    </span>
                                    <span class="fusion-breadcrumb-sep">•</span>
                                    {% block PageHeaderBreadcrumb %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block Main %}{% endblock %}
    </div>

<div class="fusion-footer" style="margin-top: 100px;">
  <footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area">
    <div class="fusion-row">
      <div class="fusion-columns fusion-columns-3 fusion-widget-area">
        <div class="fusion-column col-lg-4 col-md-4 col-sm-4">
          <section id="text-8" class="fusion-footer-widget-column widget widget_text">
            <h4 class="widget-title" data-fontsize="18" data-lineheight="27">{% trans %}wp.footer.contact{% endtrans %}</h4>
            <div class="textwidget">
              <div class="fusion-sep-clear"></div>
              <div class="fusion-separator sep-single sep-solid" style="border-color:#4d5560;border-top-width:2px;margin-top:0px;margin-bottom:25px;width:100%;max-width:50px;"></div>
              <ul class="fusion-checklist fusion-checklist-1" style="font-size:16px;line-height:27.2px;">
                <li class="fusion-li-item">
                  <span style="height:27.2px;width:27.2px;margin-right:11.2px;" class="icon-wrapper circle-no">
                    <i class="fusion-li-icon fa fa-phone" style="color:#a1a4aa;"></i>
                  </span>
                  <div class="fusion-li-item-content" style="margin-left:38.4px;">{% trans %}wp.footer.phone{% endtrans %}</div>
                </li>
                <li class="fusion-li-item">
                  <span style="height:27.2px;width:27.2px;margin-right:11.2px;" class="icon-wrapper circle-no">
                    <i class="fusion-li-icon fa fa-envelope-o" style="color:#a1a4aa;"></i>
                  </span>
                  <div class="fusion-li-item-content" style="margin-left:38.4px;">
                    <a href="mailto:info@zoolyx.be">info@zoolyx.be</a>
                  </div>
                </li>
              </ul>
            </div>
            <div style="clear:both;"></div>
          </section>
        </div>
        <div class="fusion-column col-lg-4 col-md-4 col-sm-4">
          <section id="text-5" class="fusion-footer-widget-column widget widget_text">
            <h4 class="widget-title" data-fontsize="18" data-lineheight="27">{% trans %}wp.footer.adres{% endtrans %}</h4>
            <div class="textwidget">
              <div class="fusion-sep-clear"></div>
              <div class="fusion-separator sep-single sep-solid" style="border-color:#4d5560;border-top-width:2px;margin-top:0px;margin-bottom:25px;width:100%;max-width:50px;"></div>
              <ul class="fusion-checklist fusion-checklist-2" style="font-size:16px;line-height:27.2px;">
                <li class="fusion-li-item">
                  <span style="height:27.2px;width:27.2px;margin-right:11.2px;" class="icon-wrapper circle-no">
                    <i class="fusion-li-icon fa fa-home" style="color:#a1a4aa;"></i>
                  </span>
                  <div class="fusion-li-item-content" style="margin-left:38.4px;">
                    <p>Groeneweg 17, B-9320 {% trans %}wp.footer.city{% endtrans %}</p>
                  </div>
                </li>
                <li class="fusion-li-item">
                  <span style="height:27.2px;width:27.2px;margin-right:11.2px;" class="icon-wrapper circle-no">
                    <i class="fusion-li-icon fa fa-clock-o" style="color:#a1a4aa;"></i>
                  </span>
                  <div class="fusion-li-item-content" style="margin-left:38.4px;">
                    <p>{% trans %}wp.footer.open{% endtrans %}</p>
                  </div>
                </li>
              </ul>
            </div>
            <div style="clear:both;"></div>
          </section>
        </div>
        <div class="fusion-column fusion-column-last col-lg-4 col-md-4 col-sm-4">
          <img src="https://www2.zoolyx.be/wp-content/uploads/2019/01/googlemap.png" srcset="https://www2.zoolyx.be/wp-content/uploads/2019/01/googlemap-200x80.png 200w, https://www2.zoolyx.be/wp-content/uploads/2019/01/googlemap-300x120.png 300w, https://www2.zoolyx.be/wp-content/uploads/2019/01/googlemap.png 410w" sizes="(max-width: 960px) 100vw, 400px" class="img-responsive"></img>
          <span class="fusion-column-inner-bg hover-type-none">
            <a href="https://www.google.com/maps/place/Zoolyx/@50.9351713,4.0365821,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3bd5ba177cbdb:0x2a4dc19f5edfde39!8m2!3d50.9351713!4d4.0387761" target="_blank" />
            <span class="fusion-column-inner-bg-image" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"></span>
          </span>
        </div>
        <div class="fusion-clearfix"></div>
      </div>
      <!-- fusion-columns -->
    </div>
    <!-- fusion-row -->
  </footer>
  <!-- fusion-footer-widget-area -->
  <footer id="footer" class="fusion-footer-copyright-area fusion-footer-copyright-center">
    <div class="fusion-row">
      <div class="fusion-copyright-content">
        <div class="fusion-copyright-notice" style="padding-bottom: 0px;">
                        <div>
                            <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/juridische-info/">{% trans %}wp.footer.juridisch{% endtrans %}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/privacy-clausule/">{% trans %}wp.footer.privacy{% endtrans %}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/disclaimer/">{% trans %}wp.footer.disclaimer{% endtrans %}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/cookiebeleid/">{% trans %}wp.footer.cookie{% endtrans %}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            <a href="{% if app.request.locale == 'fr' %}/fr{% endif %}/algemene-voorwaarden/">{% trans %}wp.footer.voorwaarden{% endtrans %}</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                            {% trans %}wp.footer.created{% endtrans %} <a href="https://medicommerce.be/" target="_blank">Medicommerce</a>
                        </div>
      </div>
      <!-- fusion-fusion-copyright-content -->
    </div>
    <!-- fusion-row -->
  </footer>
  <!-- #footer -->
</div>
  </footer>
</div>
    
{% endblock %}

{% block scripts %}

    {% if app.user %}

    {% endif %}
{% endblock %}
