<!DOCTYPE html>
<html class="full-background" lang="{{ app.request.locale }}" {% block html_tag '' %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="shortcut icon" href="https://www2.zoolyx.be/wp-content/uploads/2018/02/favicon_small.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="https://www2.zoolyx.be/wp-content/uploads/2018/02/favicon_medium.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://www2.zoolyx.be/wp-content/uploads/2018/02/favicon_large.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/wp-content/uploads/fbrfg/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/wp-content/uploads/fbrfg/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/wp-content/uploads/fbrfg/favicon-16x16.png">
	<link rel="manifest" href="/wp-content/uploads/fbrfg/site.webmanifest">
	<link rel="mask-icon" href="/wp-content/uploads/fbrfg/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/wp-content/uploads/fbrfg/favicon.ico">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="msapplication-config" content="/wp-content/uploads/fbrfg/browserconfig.xml">		
    <title>{% block title 'Zoolyx' %}</title>

    {% include '::meta.html.twig' %}
    {% include '::css.html.twig' %}

    <style>
        html { background: transparent }
    </style>
    {% block head %}{% endblock %}
</head>

<body {% block body_tags '' %}>
    {% block body %}
    <div class="{% block container_class %}{% endblock %}" role="main">
        {% block container %}{% endblock %}
    </div>
    {% endblock %}

    {% include '::js.html.twig' %}
    {% block scripts %}{% endblock %}

</body>


</html>
