<!DOCTYPE html>
<html class="full-background" lang="{{ app.request.locale }}" {% block html_tag '' %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <title>{% block title 'Zoolyx' %}</title>

    {% include '::meta.html.twig' %}
    {% include '::css_min.html.twig' %}

    <style>
        html { background: transparent }
    </style>
    {% block head %}{% endblock %}
</head>

<body {% block body_tags '' %}>
    {% block body %}
    <div class="{% block container_class %}{% endblock %}" role="main">
        {% block container %}{% endblock %}
    </div>
    {% endblock %}

    {% include '::js_min.html.twig' %}
    {% block scripts %}{% endblock %}

</body>


</html>
