<meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
<meta name="robots" content="noindex,nofollow" />
<meta http-equiv="Content-Language" content="{{ app.request.locale }}">

