<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/request_document.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>{% trans %}request.pdf.title{% endtrans %}</h1>
        </div>
    </div>

    <div style="height:40px;"></div>

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <img style="width:100%" src="data:image/png;base64,{{ barcode({code: requestData.reportRequestNumber, type: 'c39e', format: 'png', width: 3, height: 100, color: [0, 0, 0]}) }}" />
            <p>{{ requestData.reportRequestNumber }} {{ requestData.requestDate | date('d-m-Y H:i:s')}}</p>
        </div>
    </div>

    <div style="height:40px;"></div>

    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12"><strong><div class="owner">{% trans %}request.ad{% endtrans %}</strong></div></div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.owner.firstName }} {{ requestData.owner.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.owner.street }}, {{ requestData.owner.zipCode }} {{ requestData.owner.city }} ({{ requestData.owner.country }}) </div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.owner.telephone }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.owner.email }}</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12"><div class="owner"><strong>{% trans %}request.da{% endtrans %}</strong></div></div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.veterinary.firstName }} {{ requestData.veterinary.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.veterinary.street }}, {{ requestData.veterinary.zipCode }} {{ requestData.veterinary.city }} ({{ requestData.veterinary.country }}) </div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.veterinary.telephone }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12">{{ requestData.veterinary.email }}</div>
            </div>
        </div>
    </div>

    <div style="height:40px;"></div>

    <div class="row">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12"><div class="owner"><strong>{% trans %}request.pe{% endtrans %}</strong></div></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">{% trans %}request.pe_name{% endtrans %}</div>
                <div class="col-xs-8">{{ requestData.sample.pet.name }} </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">{% trans %}request.pe_chip_id{% endtrans %}</div>
                <div class="col-xs-8">{{ requestData.sample.pet.chipNbr }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">{% trans %}request.pe_species{% endtrans %} - {% trans %}request.pe_breed{% endtrans %} </div>
                <div class="col-xs-8">{{ requestData.sample.pet.speciesName }} - {{ requestData.sample.pet.breed }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">{% trans %}request.pe_gender{% endtrans %}</div>
                <div class="col-xs-8">{{ requestData.sample.pet.gender }}</div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-right">{% trans %}request.pe_birth_date{% endtrans %}</div>
                <div class="col-xs-8">{{ requestData.sample.pet.birthDate |date('d-m-Y') }}</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12"><div class="owner"><strong>{% trans %}request.pdf.parameter_profiles{% endtrans %}</strong></div></div>
            </div>
            {% for profile in requestData.sample.profiles %}
                <div class="row">
                    <div class="col-xs-2 text-right">
                        {{ profile.code }}
                    </div>
                    <div class="col-xs-6">
                        {{ profile.description }}
                    </div>
                    {# note: disabled
                    <div class="col-xs-4 text-right">
                        {{ profile.price | kommaToDot | number_format(2) }} €
                    </div>
                    #}
                </div>
            {% endfor %}
            <div style="height:10px;"></div>
            <div class="row">
                <div class="col-xs-8 text-right">
                    <strong>{% trans %}request.pdf.total_price{% endtrans %}</strong>
                </div>
                <div class="col-xs-4 text-right">
                    <strong>{{ requestData.getTotalPrice() | number_format(2) }} €</strong>
                </div>
            </div>
        </div>
    </div>
    
    <div style="height:40px;"></div>
    
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12"><div class="owner"><strong>{% trans %}request.pdf.sample_types{% endtrans %}</strong></div></div>
            </div>
            {% for sampleType in requestData.getSampleTypes %}
            <div class="row">
                <div class="col-xs-2 text-right">
                    {{ sampleType.reference }}
                </div>
                <div class="col-xs-3">
                    <img class="img-responsive" style="margin: 0 auto; max-height: 30px; " src="{{ asset('bundles/zoolyxcore/images/sample_types/' ~ sampleType.imageName, absolute=true) }}">
                </div>
                <div class="col-xs-7">
                    {{ sampleType.description }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
        <div style="height:40px;"></div>
    
    <div class="well text-center">
        <p><strong>{% trans %}request.pdf.instruction_1{% endtrans %}</strong></p>
        <p>{% trans %}request.pdf.instruction_2{% endtrans %}</p>
        <p>{% trans %}request.pdf.instruction_3{% endtrans %}</p>
        <p>{% trans %}request.pdf.disclaimer{% endtrans %}</p>
	</div>


</body>
</html>