<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<hr>
    <div class="row">
        <div class="col-xs-1">

        </div>
        
        <div class="col-xs-10 text-center text-extra-small">
            <b>Zoolyx</b> - Groeneweg 17 - 9320 Aalst - Belgium - +32 (0)53 72 90 20 - <a href="mailto:info@zoolyx.be">info@zoolyx.be</a> - <a href="http://www.zoolyx.be">www.zoolyx.be</a><br>
            Zoolyx NV, RPR Dendermonde - BE 0549.932.689
        </div>
        
        <div class="col-xs-1 text-right text-extra-small">
            <span id='pdfkit_page_current'></span>/<span id='pdfkit_page_count'></span>
        </div>
        
        <script>
            var pdfInfo = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) { var z = x[i].split('=',2); pdfInfo[z[0]] = unescape(z[1]); }
            function getPdfInfo() {
                var page = pdfInfo.page || 1;
                var pageCount = pdfInfo.topage || 1;
                document.getElementById('pdfkit_page_current').textContent = page;
                document.getElementById('pdfkit_page_count').textContent = pageCount;
            }
            getPdfInfo();
        </script>
    </div>
</body>
</html>