<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="border:1px solid white;">
    <div class="row pdf-header-content text-extra-small" style="border:0px solid black; max-height:60px; margin-left: 0; margin-right: 0; margin-top: 20px;">
		<div id="col_left" class="col-xs-4" style="border:0px solid red;padding-left: 0; margin-top:-20px; margin-bottom:20px;">
			<img style="width:100px;" src="{{ asset('bundles/zoolyxcore/images/logo.jpg', absolute=true) }}">
    	</div>
    </div>
</body>
</html>