Partagez votre compte Zoolyx

Le vétérinaire {{ vetName }} a demandé de vous ajouter au cabinet {{ practiceName }}.

Utilisez le lien ci-dessous pour gérer l'accès de votre compte.

{{ accountShareUrl }}
