Votre compte Zoolyx a été partagé 

Le vétérinaire {{ vetName }} ({{ limsid }}) a été ajoute au cabinet {{ practiceName }}.

Tous les rapports de ce vétérinaire sont accesibles pour tous les membres du cabinet.

Utilisez le lien ci-dessous pour gérer l'accès de votre compte.

{{ accountShareUrl }}
