Uw Zoolyx account werd gedeeld 

Dierenarts {{ vetName }} ({{ limsid }}) werd toegevoegd aan de praktijk {{ practiceName }}.

Alle rapporten van deze dierenarts zijn vanaf nu zichtbaar voor alle leden van de praktijk.

Klik op onderstaande link om de toegang tot uw account te beheren.

{{ accountShareUrl }}
