Deel uw Zoolyx account

Dierenarts {{ vetName }} vraagt om u toe te voegen aan de praktijk {{ practiceName }}.

Klik op onderstaande link om de toegang tot uw account te beheren.

{{ accountShareUrl }}
