<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Partager compte myzoolyx</title>
    <style type="text/css">
        .button__shadow {
            border-bottom: 2px solid rgba(0,0,0,0.1);
            border-radius: 4px;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
        @media (min-width: 500px) {
            .button, .button__shadow {
                display: inline-block !important;
                width: auto !important;
            }
        }


        .body {
            font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif;
            line-height: initial;
            max-width: 580px;
            font-size: 1rem
        }
        p, h1 {
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 0.5em;
            padding: 0;
        }
        h1 {
            font-size: 1.25rem;
        }
        a.button {
            background: #204dd5;
            border: 1px solid #000;
            border-radius: 3px;
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
        p.button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body class="body">
<h1>
   Partagez votre compte myzoolyx
</h1>
<p>
   Le vétérinaire {{ vetName }} a demandé de vous ajouter au cabinet {{ practiceName }}.
</p>
<p>
   Utilisez le bouton ci-dessous pour chrom
</p>

<p class="button">
    <span class="button__shadow">
        <a class="button" href="{{ accountShareUrl }}" target="_blank">
            Gestion d'accès
        </a>
    </span>
</p>
</body>