{% extends "::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.tickets{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.tickets{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="{% if menuItem is defined and menuItem.selected == constant('Zoolyx\\TicketBundle\\Model\\Menu\\MenuItem::MENU_MY_TICKETS') %}active{% endif %}">
                    <a href="{{ path('zoolyx_ticket_homepage') }}">{% trans %}ticket.my_tickets{% endtrans %}</a>
                </li>
                {% for administrationGroup in administrationGroups %}
                    <li role="presentation" class="{% if menuItem is defined and menuItem.selected == constant('Zoolyx\\TicketBundle\\Model\\Menu\\MenuItem::MENU_GROUP_TICKETS') and menuItem.groupId == administrationGroup.id %}active{% endif %}">
                        <a href="{{ path('zoolyx_ticket_group', {'id': administrationGroup.id}) }}">{{ administrationGroup.name }}</a>
                    </li>
                {% endfor %}
                <li role="presentation" class="{% if menuItem is defined and menuItem.selected == constant('Zoolyx\\TicketBundle\\Model\\Menu\\MenuItem::MENU_ALL_TICKETS') %}active{% endif %}">
                    <a href="{{ path('zoolyx_ticket_all') }}">{% trans %}ticket.all{% endtrans %}</a>
                </li>
                <li role="presentation" class="{% if menuItem is defined and menuItem.selected == constant('Zoolyx\\TicketBundle\\Model\\Menu\\MenuItem::MENU_NEW_TICKET') %}active{% endif %}">
                    <a href="{{ path('zoolyx_ticket_new') }}">{% trans %}ticket.create{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-10">
            {% block tickets_container %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


