{% extends "::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.tickets{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.tickets{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            {% block tickets_container %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


