{% extends "::layout.html.twig" %}

{% block PageHeader %}
    <div class="jumbotron text-center">
        <p>New registration for vet</p>
    </div>
{% endblock %}
{% block Main %}
<div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <div style="padding:5px;">
                    <div class="row">
                        <div class="col-xs-2 text-right">
                            Name
                        </div>
                        <div class="col-xs-10">
                            {{ request.account.firstName }} {{ request.account.lastName }} ({{ request.account.email }})
                        </div>
                        <div class="col-xs-2 text-right">
                            Orde
                        </div>
                        <div class="col-xs-10">
                            <b>{{ request.info[constant('Zoolyx\\AccountBundle\\Model\\UserRegistrationRequest\\Info::NAME_ORDER_NUMBER')] }}</b>
                        </div>
                        <div class="col-xs-2 text-right">
                            Address
                        </div>
                        <div class="col-xs-10">
                            {{ request.account.street }} - {{ request.account.zipcode }} {{ request.account.city }} {{ request.account.country }}
                        </div>
                        <div class="col-xs-2 text-right">
                            Phone
                        </div>
                        <div class="col-xs-10">
                            {{ request.account.telephone }} (taal: {{ request.account.language }})
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div style="padding:5px;">
                    <div class="row">
                        <div class="col-xs-8" style="padding:20px;">
                            <div style="padding:20px; border: 1px dashed gray">
                                <form action="{{ path('zoolyx_veterinary_request_approve', {id: request.id}) }}" method="POST" class="zlx_form">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-4 text-right vcenter">
                                                <label for="Lims_id">Lims Id</label>
                                            </div>
                                            <div class="col-xs-7 vcenter">
                                                <input type="text" id="Lims_id" name="lims_id" class="form-control" placeholder="lims id van de dierenarts">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-xs-6 col-md-offset-3 col-md-6 vcenter">
                                                <button type="submit" class="btn btn-primary btn-block">Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-xs-4 vcenter" style="padding:20px;">
                            <div style="padding:20px; border: 1px dashed gray">
                                <a href="{{ path('zoolyx_veterinary_request_decline', {id: request.id}) }}" class="btn btn-danger btn-block">
                                    Decline
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
