{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="ln-register center-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                    <h4>Welkom bij myZoolyx</h4>
                </div>
                <hr/>
                <div><center>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</center></div>
                <a class="btn btn-primary btn-block" href="{{ path('homepage') }}">Continue</a>
            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
