{% extends "::main.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top:20px;">
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                        <h4>Registreer bij Zoolyx</h4>
                    </div>
                    <hr/>
                    <div>
                        <p>Hier kan u een account aanmaken waarmee u toegang krijgt tot een aantal services, voorbehouden voor dierenartsen, waaronder het online consulteren van laboresultaten. Let wel, door een aanvraag tot registratie in te dienen, gaat u akkoord met onze <a href="{{ path('zoolyx_core_disclaimer') }}">gebruiksovereenkomst voor deze website</a>.</p>
                        <p>Nadat u onderstaande gegevens hebt ingevuld, wordt een <b>aanvraag tot registratie</b> verzonden naar Zoolyx. Wij behandelen uw aanvraag zo snel mogelijk en bevestigen de activatie van uw account per email.</p>
                        <p>Velden met * zijn verplicht.</p>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right vcenter">
                                {{ form_label(form.username, 'Your name') }}
                            </div>
                            <div class="col-md-7 vcenter">
                                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Write your first and last name'}}) }}
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right vcenter">
                                {{ form_label(form.email, 'Your email address') }}
                            </div>
                            <div class="col-md-7 vcenter">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Write your e-mail address'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right vcenter">
                                {{ form_label(form.plainPassword.first, 'Choose your password') }}
                            </div>
                            <div class="col-md-7 vcenter">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Desired password'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right vcenter">
                                {{ form_label(form.plainPassword.second, 'Type your password again') }}
                            </div>
                            <div class="col-md-7 vcenter">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Desired password (again)'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-sm-5">
                            <a class="btn btn-link btn-block" href="{{ path('fos_user_security_login') }}">{% trans %}login.existing{% endtrans %}</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <p class="no-margin" style="padding:6px"><i>{% trans %}login.or{% endtrans %}</i></p>
                        </div>
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary btn-block">{% trans %}login.register{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}