{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block Request %}
    <div class="checkout">
        <h1 class="checkout-title text-center">{% trans %}report_additional_request.confirm{% endtrans %}</h1>
        <form action="{{ path(router.next) }}" method="get">
            {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5,step: 4, buttonId: 'confirm'}) }}
        </form>
        <div class="row">
			<div class="col-xs-12">
				<div class="alert alert-warning">{% trans %}report_additional_request.confirmation_instruction{% endtrans %}</div>
			</div>
		</div>
    </div>
    {{ include('ZoolyxCoreBundle:Request:summary/selected_sample.html.twig') }}
    {{ include('ZoolyxCoreBundle:Request:summary/selected_profiles.html.twig', {displayForm: false}) }}

    <!--
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-right">
                {% if needToPay %}
                    <form id="main" action="{{ path(router.next) }}" method="POST">
                        {% for pd in postData %}
                            <input type="hidden" name="profiles[]" value="{{ pd.id }}">
                        {% endfor %}
                        <input class="btn btn-primary" type="submit" value="Add to your shopping cart">
                    </form>
                {% else %}
                    <a class="btn btn-primary" href="{{ path(router.next) }}">Bevestig bestelling</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    -->
{% endblock %}

