<div class="product-item">
    <h4 class="product-title">
        <a href="{{ path('zoolyx_shop_product',{id:product.id}) }}">{{ product.name(app.request.locale) }}</a>
    </h4>
    <div class="product-image-container">
        <a href="{{ path('zoolyx_shop_product',{id:product.id}) }}" class="product-thumbnail">
            <img class="product-image" src="/shop/{{ product.imageName }}" alt="{{ product.name(app.request.locale) }}" />
        </a>
    </div>
    <p class="product-actions">
        <a class="fa fa-eye button button"
           title="View details"
           href="{{ path('zoolyx_shop_product',{id:product.id}) }}"></a>
        <span class="product-pricing">€{{ (product.price/100) | number_format(2, ',', '.') }}</span>
        <a class="fa fa-shopping-cart button button-secondary"
           data-test="add-product-38-to-cart"
           href="{{ path('shop_cart_add_product',{id:product.id}) }}"
           title="Add to cart"></a>
    </p>
</div>