{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block Request %}
    <div class="checkout">
        <h1 class="checkout-title text-center">{% trans %}report_additional_request.select_samples{% endtrans %}</h1>
        {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5,step: 1}) }}
    </div>
    
    <div class="row" style="margin-top:40px;">
        <div class="col-xs-12">
            <p>{% trans %}report_additional_request.select_sample_instruction{% endtrans %}.</p>

            <ul class="nav nav-pills nav-stacked">
                {% for sample in samples %}
                    <li role="presentation" class="myzoolyx_row">
                        <a href="{{ path('request_additional_sample', { 'hash': report.hash,'sampleId': sample.id}) }}">
                            <div class="row">
                                <div class="col-xs-5 col-sm-2">
                                    {{ sample.code }}
                                </div>
                                <div class="col-xs-7 col-sm-4">
                                    <div class="row">
                                        <div class="hidden-xs col-sm-3">
                                            <img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ report.petSpeciesName(sample.pet) ~ '.png', absolute=true) }}" alt="{{ report.petSpeciesName }}">
                                        </div>
                                        <div class="hidden-xs col-sm-1">
                                            {% if sample.pet.gender == "M" or sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                                            {% if sample.pet.gender == "V" or sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                                        </div>
                                        <div class="col-xs-12 col-sm-7">
                                            {{ sample.pet.name | upper}}{% if sample.externalId %}, {{ sample.externalId }}{% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs col-sm-3">
                                    {{ sample.pet.chipNbr }}
                                </div>
                            </div>
                        </a>
                    </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

