<div class="col-xs-12">
<div class="row myzoolyx_row myzoolyx_row_header">
    <div class="col-xs-12">
        {% trans %}report_additional_request.selected_sample{% endtrans %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12 myzoolyx_row">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                {{ router.requestData.sample.code }}
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="row">
                    <div class="hidden-xs col-sm-2">
                        <img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ router.requestData.sample.pet.speciesCode | speciesImage, absolute=true) }}" alt="">
                    </div>
                    <div class="hidden-xs col-sm-1">
                        {% if router.requestData.sample.pet.gender == "M" or router.requestData.sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                        {% if router.requestData.sample.pet.gender == "V" or router.requestData.sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        {{ router.requestData.sample.pet.name | upper}}
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-3 text-right">
                {{ router.requestData.sample.pet.chipNbr }}
            </div>
        </div>
    </div>
</div>
</div>