<div class="col-xs-12">
    <div class="row myzoolyx_row myzoolyx_row_header">
        <div class="col-xs-12">
            {% trans %}report_additional_request.selected_profiles{% endtrans %}
        </div>
    </div>

    {% for profile in parameterProfiles %}
        <div class="row">
            <div class="col-xs-12">
                <div class="row myzoolyx_row">
                    <div class="hidden-xs col-sm-2">
                        {{ profile.reference }}
                    </div>
                    <div class="col-xs-10 col-sm-8">
                        {{ profile.description.description }}
                    </div>
                    <div class="col-xs-2 text-right">
                        {{ profile.price.value | formatPrice }}€
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 parameter-description-2">

                    </div>
                </div>
            </div>
        </div>


    
        {% if profile.sampleTypes | length and displayForm %}
        <div class="row">
            <div class="col-xs-12">
                {% trans %}report_additional_request.samples_required{% endtrans %}
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-12 myzoolyx_row" style="border:1px solid #aaa; border-radius: 10px; background-color: #eee; padding:5px;">
                <form id="sampleTypes_{{ profile.reference }}">
                {% for sampleType in profile.sampleTypes %}
                    <div class="row">
                        <div class="col-xs-2">
                            <img class="img-responsive" style="margin: 0 auto; max-height: 50px; " src="{{ asset('bundles/zoolyxcore/images/sample_types/' ~ sampleType.definition.imageName, absolute=true) }}">
                        </div>
                        <div class="col-xs-10">
                        <div class="col-xs-1 text-right">
                            {% if profile.sampleTypesDisabled %}
                                <input type="checkbox" disabled checked />
                                <input type="hidden"
                                       name="sampleTypes[{{ profile.reference }}][]"
                                       value="{{ sampleType.definition.reference }}"
                                        />
                            {% else %}
                                <input type="radio"
                                       {% if sampleType.preferred %}checked{% endif %}
                                       name="sampleTypes[{{ profile.reference }}]"
                                       value="{{ sampleType.definition.reference }}"
                                        />
                            {% endif %}
                        </div>
                        <div class="col-xs-3">
                            {{ sampleType.definition.getDescription(language).description }}
                        </div>
                        {% if app.user.hasRole('ROLE_OWNER') %}
                        <div class="col-xs-1 text-right">
                            <!--
                            <input type="checkbox"
                                   name="sampleTypesRequested[{{ profile.reference }}]"
                                   value="{{ sampleType.definition.reference }}"
                                    />
                            -->
                        </div>
                        {% endif %}
                        <div class="col-xs-5">
                            {{ sampleType.comment }}
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </form>
            </div>
        </div>
        {% endif %}

        {% if displayForm and profile.form and profile.form | formIsNew %}
            <div class="spacer10">&nbsp </div>
            <div class="row">
                <div class="col-xs-12" style="border:1px solid #aaa; border-radius: 10px; background-color: #eee; padding:5px;">
                    {{ profile.form | autocomplete(router.requestData.sample.pet) | raw}}
                </div>
            </div>
        {% endif %}
        
    {% endfor %}
    <div class="spacer50">&nbsp </div>
    <div class="row myzoolyx_row">
        <div class="col-xs-12 text-right">
            {% trans %}report_samples.total{% endtrans %}: <span id="total"> {{ total | kommaToDot }}</span>€
        </div>
    </div>
    <div class="row" style="margin-bottom:40px">
        <div class="col-xs-12 text-right">
            Excl {{ router.requestData.vat }}% {% trans %}report_samples.vat{% endtrans %}
        </div>
    </div>
</div>

<script>
    function mergeForms(main) {
        var $main = $(main);
        //$main.hide();
        var formsCollection = document.getElementsByTagName("form");
        var formsMerged = [];

        //validate all forms first
        for(var i=0;i<formsCollection.length;i++) {
            var form = formsCollection[i];
            if (form.id && form.id != 'main') {
                console.log('validating form ' + form.id);
                //check if the form is valid
                var $form = $(form);
                if (!$form[0].checkValidity()) {
                    console.log('form is not valid');
                    $('<input type="submit">').hide().appendTo($form).click().remove();
                    $form.find(':submit').click();
                    return false;
                }
            }
        }
        for(var i=0;i<formsCollection.length;i++)
        {
            var form = formsCollection[i];
            if (form.id && form.id!='main') {
                console.log('processing form '+form.id);

                var formNameParts = form.id.split('_');
                if (formNameParts[0] != 'sampleTypes') formsMerged.push(form.id);
                var formElements = document.getElementById(form.id).elements;
                var formData = [];
                var files = [];
                for (var j=0; j<formElements.length; j++)
                {
                    var formElement = formElements[j];
                    console.log('processing form element '+j + ': '+formElement.type);
                    if (formElement.type == 'file') {
                        //console.log(formElement);
                        //console.log($(formElement).val());
                        if ($(formElement).val()) {
                            var random = makeRandomId();
                            var $formElement = $(formElement).clone().hide();
                            var name = random+"_"+form.id;
                            formData.push({ name: $formElement.attr('name'), value: name});
                            files.push($formElement.attr('name'));
                            $formElement.attr('name', name);
                            $main.append($formElement);
                        }
                    } else if (formElement.type == 'radio') {
                        console.log(formElement);
                        if ($(formElement).is(':checked'))
                            formData.push({ name: formElement.name, value: formElement.value})
                    } else {
                        formData.push({ name: formElement.name, value: formElement.value})
                    }
                }
                formData.push({ name: 'files', value: files });
                var jsonFormData = JSON.stringify(formData);
                jsonFormData = jsonFormData.replace(/'/g,"&#39;");
                console.log(jsonFormData);
                var $input = $("<input type='hidden' name='"+form.id+"' value='"+jsonFormData+"'/>");
                $main.append($input);
            }
        }
        var $formsMerged = $("<input type='hidden' name='forms' value='"+formsMerged.join(',')+"'/>");
        $main.append($formsMerged);
        //return false;
    }
    function makeRandomId() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 10; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
    }
</script>