{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/report.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/ionicons.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:ReportView:report_menu.html.twig', { 'report': report }) }}

    <h3>Voorgestelde profielen</h3>
    {% for sample in report.samples %}
        {{ sample.pet.name }}<br>
        {% for suggestion in report.suggestions[sample.id] %}
            <div style="padding:20px; border: 1px solid gray; border-radius: 5px; margin:10px;">
                profiel : {{ suggestion.parameterProfile.getDescription('nl').description }}
                <a class="btn btn-default" href="{{ path('zoolyx_report_additional_request_sample_types', {'hash':report.hash, 'sampleId':sample.id}) }}">vraag het aan</a><br>
                <i>{{ suggestion.getDescription().description }} </i><br>
                (gc {{ suggestion.reference }}, rule {{ suggestion.rule }})
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}