{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:ReportView:report_menu.html.twig', { 'report': report }) }}
    {{ include('ZoolyxCoreBundle:ReportView:report_samples.html.twig', { 'report': report }) }}

    {% for file in originalRequest.files %}
        {% if file | isImage %}
            <img class="img-responsive" src="{{ asset(attachment_path ~ file.name, absolute=true) }}">
        {% else %}
            <embed src="{{ asset(attachment_path ~ file.name, absolute=true) }}" width="100%" height="450" type='application/pdf'>
        {% endif %}
    {% endfor %}
{% endblock %}
