{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:ReportView:report_menu.html.twig', { 'report': report }) }}
    {{ include('ZoolyxCoreBundle:ReportView:report_samples.html.twig', { 'report': report }) }}
    <!--
    {{ include('ZoolyxCoreBundle:Default:coming_soon.html.twig') }}
    -->
    {{ include('ZoolyxTicketBundle:User:ticket.html.twig', {}) }}
{% endblock %}
