{% set tmp = report.calculatePrices() %}
<div class="well">
    <div class="row">
        <div class="col-xs-12" style="max-height:150px; overflow-y: scroll;">
            {% for sample in report.allSamples %}
                <div class="row myzoolyx_row" {% if (report.displayingSample(sample)) %}style="background-color:#ddd;"{% endif %}>
                    <div class="col-xs-5 col-sm-2">
                        <a href="{{ path("zoolyx_report_sample", {'hash': report.hash, 'sampleId': sample.id}) }}">{{ sample.code | firstUpper}}</a>
                    </div>
                    <div class="col-xs-7 col-sm-4">
                        <div class="row">
                            <div class="hidden-xs col-sm-3">
                                <img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ report.petSpeciesName(sample.pet) ~ '.png', absolute=true) }}" alt="{{ report.petSpeciesName }}">
                            </div>
                            <div class="hidden-xs col-sm-1">
                                {% if sample.pet.gender == "M" or sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                                {% if sample.pet.gender == "V" or sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                {{ sample.pet.name | upper}}{% if sample.externalId %}, {{ sample.externalId }}{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-3">
                        {{ sample.pet.chipNbr }}
                    </div>

                    <div class="hidden-xs col-sm-1">
                    {% if sample.completed  %}
                       <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span>
                    {% endif %}
                    </div>
                    <div class="hidden-xs col-sm-1 text-right">
                        {% if report.canSeePrice() %}
                            {{ report.getPriceForSample(sample) | number_format(2, '.') }}€
                        {% endif %}
                    </div>
                    <div class="hidden-xs col-sm-1 col-md-1 text-right">
                        <a href="{{ path("zoolyx_report_download_sample", {'hash': report.alternativeHash, 'sampleId': sample.id}) }}">
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}

            {% if report.canSeePrice() %}
                <div class="row hidden-xs">
                    <div class="col-sm-10 col-md-9 text-right">
                        {% trans %}report_samples.administrative_fee{% endtrans %}
                    </div>
                    <div class="col-sm-1 col-md-2 text-right">
                        {{ report.getFee() | number_format(2, '.')}}€
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-11 col-md-11 text-right">
                        <b>{% trans %}report_samples.total{% endtrans %} {{ report.getPriceTotalInclusive() | number_format(2, '.')}}€</b> =
                        {{ report.getPriceVat() | number_format(2, '.')}}€ ({{ report.vat }}% {% trans %}report_samples.vat{% endtrans %}) +
                        {{ report.getPriceTotal() | number_format(2, '.')}}€
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-xs-2">
        with selected: pdf, xls
    </div>
    <div class="col-xs-1">Select All</div>
    <div class="col-xs-2">Select None</div>
</div>
-->

