{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/report.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/ionicons.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:ReportView:report_menu.html.twig', { 'report': report }) }}
    {{ include('ZoolyxCoreBundle:ReportView:report_samples.html.twig', { 'report': report }) }}
    {{ include('ZoolyxCoreBundle:Report:report_content.html.twig', { 'report': report, 'avoidPageBreakInGroup': false }) }}
{% endblock %}