<div class="row">
    <div class="col-xs-3">
        <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{% if app.user.hasRole("ROLE_SUPER_ADMIN") or app.user.hasRole("ROLE_ADMINISTRATOR") %}{{ path("admin_reports") }}{% elseif app.user.hasRole("ROLE_VETERINARY") or app.user.hasRole('ROLE_ORGANISATION') %}{{ path("veterinary_report_index") }}{% elseif app.user.hasRole("ROLE_CONTRACTOR") %}{{ path("contractor_report_index") }}{% else %}{{ path("owner_report_index") }}{% endif %}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a> {% trans %}report_menu.back{% endtrans %}
    </div>
    <div class="col-xs-9">
        <ul class="nav nav-tabs">
            <li role="presentation" {% if reportMenu.isActive(constant('ITEM_DISPLAY_REPORT', reportMenu)) %}class="active"{% endif %}>
                {% if (report.isMultiSample) %}
                    <a href="{{ path("zoolyx_report_sample",{ 'hash': report.hash, 'sampleId': report.getFirstSampleId()}) }}">
                        {% trans %}report_menu.display{% endtrans %}
                    </a>
                {% else %}
                    <a href="{{ path("zoolyx_report",{ 'hash': report.hash}) }}">
                        {% trans %}report_menu.display{% endtrans %}
                    </a>
                {% endif %}
            </li>
            {% if app.user.hasRole('ROLE_VETERINARY') or app.user.hasRole('ROLE_ORGANISATION') or app.user.hasRole('ROLE_CONTRACTOR') or app.user.hasRole('ROLE_ADMINISTRATOR') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
            <li role="presentation" {% if reportMenu.isActive(constant('ITEM_ASK_QUESTION', reportMenu)) %}class="active"{% endif %}>
                <a href="{{ path("zoolyx_report_question",{ 'hash': report.hash}) }}">
                    {% trans %}report_menu.ask{% endtrans %}
                </a>
            </li>
            {% endif %}
            <li role="presentation">
                <a href="{{ path("zoolyx_report_download_multi_sample", {'hash': report.alternativeHash}) }}">
                    {% trans %}report_menu.download_full{% endtrans %}
                </a>
            </li>
            {% if report.canHaveAdditionalRequest %}
                <li role="presentation" {% if reportMenu.isActive(constant('ITEM_ADDITIONAL_REQUEST', reportMenu)) %}class="active"{% endif %}>
                    <a href="{{ path("request_additional",{ 'hash': report.hash}) }}">
                        {% trans %}report_menu.additional{% endtrans %}
                    </a>
                </li>
            {% endif %}
            {% if app.user.hasRole('ROLE_VETERINARY') or app.user.hasRole('ROLE_ORGANISATION') or app.user.hasRole('ROLE_ADMINISTRATOR') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
            <li role="presentation" {% if reportMenu.isActive(constant('ITEM_SHARE', reportMenu)) %}class="active"{% endif %}>
                <a href="{{ path("zoolyx_report_share", {'hash': report.hash}) }}">
                    {% trans %}report_menu.share{% endtrans %}
                </a>
            </li>
            {% endif %}
            {% if report.hasOriginalRequest %}
                <li role="presentation" class="pull-right {% if reportMenu.isActive(constant('ITEM_ORIGINAL_REQUEST', reportMenu)) %}active{% endif %}">
                    <a href="{{ path("zoolyx_report_original_request",{ 'hash': report.hash}) }}">
                        {% trans %}report_menu.original{% endtrans %}
                    </a>
                </li>
            {% endif %}
            {% if app.user.hasRole('ROLE_ADMINISTRATOR') or app.user.hasRole('ROLE_SUPER_ADMIN') %}
            <li role="presentation" class="pull-right {% if reportMenu.isActive(constant('ITEM_ORIGINAL_REQUEST', reportMenu)) %}active{% endif %}">
                <a href="{{ path("zoolyx_ticket_all") }}?filter=New,Assigned,Open,Closed&key={{ report.report.requestId | url_encode}}" target="_new">
                    {% trans %}report_menu.tickets{% endtrans %}
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
