{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    {{ include('ZoolyxCoreBundle:ReportView:report_menu.html.twig', { 'report': report }) }}

    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-8 col-xs-offset-2">
            <p>{% trans %}share.title{% endtrans %}</p>
            <ul>
                {% for veterinary in veterinaries %}
                    <li>
                        {{ veterinary.firstName }} {{ veterinary.lastName }}
                        {% if veterinary.account is defined %}
                            ({{ veterinary.account.email }})
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <ul>
                {% for owner in owners %}
                    <li>
                        {{ owner.firstName }} {{ owner.lastName }}
                        {% if owner.account is defined %}
                            ({{ owner.account.email }})
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <hr>
            <p>{% trans %}share.share{% endtrans %}</p>
            <form action="{{ path('zoolyx_report_share', {hash: report.hash}) }}" method="post" class="zlx_form">
                <input type="email" name="email" placeholder="emailadres">
	        <div class="col-xs-12 text-right" style="margin-top: 40px; margin-bottom: 40px;">
	          <input class="fusion-button button-flat fusion-button-square button-medium button-default button-1" type="submit" value="{% trans %}share.submit{% endtrans %}">
    	    </div>
            </form>
        </div>
    </div>


{% endblock %}
