{% if ticket %}
{{ include('ZoolyxTicketBundle:User:ticket_history.html.twig', { 'events': ticket.publicEvents }) }}
<hr>
{% endif %}

<div class="row">
    <div class="col-xs-9 col-xs-offset-3">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_row(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
        <!--
        <div class="form-group">
            <label for="{{ form.type.vars.id }}">{{ form.type.vars.label }}</label>
            {{ form_errors(form.type) }}
            {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        -->
        {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(form) }}
    </div>
</div>



