{"items":
[
{% for item in menu.items %}
    {
        "name": "{{ item.title }}",
        "action": "{{ item.path }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
],
"default": "{{ menu.defaultItem.path }}"}