{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="{{ asset('bundles/zoolyxcore/css/lims_forms.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Request %}
    <div class="checkout">
        <h1 class="checkout-title text-center">{% trans %}report_additional_request.sample_types{% endtrans %}</h1>
        <form id="main" action="{{ path(router.next)}}" method="POST" enctype="multipart/form-data" onsubmit="return mergeForms(this)">
        {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5,step: 3, buttonId: 'confirm'}) }}
            <input type="hidden" name="profiles" value="{{ parameterProfileReferencesString }}">
        </form>
    </div>
    
    {{ include('ZoolyxCoreBundle:Request:summary/selected_sample.html.twig') }}
    {{ include('ZoolyxCoreBundle:Request:summary/selected_profiles.html.twig', {displayForm: true}) }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var breedList = '<option value="0">select breed</option>{% for breed in breeds %}<option value="{{ breed.breedId }}" {% if breed.breedId==currentBreed %}selected{% endif %}>{{ breed.description }}</option>{% endfor %}';
        $(function() {
            $("select[name='pe.breedId']").append(breedList);
            //$("#GENETIC").attr('method','post').attr('enctype','multipart/form-data').append('<input type="submit">');
        });
    </script>
{% endblock %}

