<div>
    <p>
        Créez ici un compte personel qui vous donne accès aux certains services,
        dont la consultation en ligne des résultats.
    </p>
    <p>
        Après avoir rempli le formuliare ci-dessous, un courriel avec de plus amples instructions vous sera automatiquement 
        envoyé à l'adresse email inscrite.
    </p>
</div>
