<div>
    <p>
        Maak hier een persoonlijk account aan om toegang te krijgen tot een aantal services
        waaronder het online consulteren van resultaten.
    </p>
    <p>
        Nadat u onderstaande gegevens hebt ingevuld, wordt binnen enkele minuten automatisch een email met verdere
        instructies verstuurd naar het opgegeven adres.
    </p>
</div>
<div>
    <p>
        Créez ici un compte personel qui vous donne accès aux certains services,
        dont la consultation en ligne des résultats.
    </p>
    <p>
        Après avoir rempli le formuliare ci-dessous, un courriel avec de plus amples instructions vous sera automatiquement 
        envoyé à l'adresse email inscrite.
    </p>
</div>
