<div>
    <p>
        Maak hier een persoonlijk account aan om toegang te krijgen tot een aantal services
        waaronder het online consulteren van resultaten.
    </p>
    <p>
        Nadat u onderstaande gegevens hebt ingevuld, wordt binnen enkele minuten automatisch een email met verdere
        instructies verstuurd naar het opgegeven adres.
    </p>
</div>
