<div class="row">
    <div class="col-md-5 col-xs-12" style="padding-right:5px;">
        {% block column_result_content %}{% endblock %}
    </div>
    <div class="col-md-7 hidden-xs hidden-sm" style="padding-left:5px;padding-right:5px;">
        {% block column_result_history %}
        <div class="row">
            <div class="col-xs-6" style="padding-right:5px;">
                {% block column_result_history1 %}{% endblock %}
            </div>
            <div class="col-xs-6" style="padding-left:5px;">
                {% block column_result_history2 %}{% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</div>