{% extends "ZoolyxCoreBundle::Report/Row/Result/cumulative_layout.html.twig" %}


{% block column_result_content %}
	{% if parameterManager.isValidated %}
    	<span class="{% if parameterManager.exceeds %}text-bold red{% endif %}">{{ parameter.resultString }}</span>
	{% elseif parameterManager.hasDateExpected %}
    	{% trans into report.language %}report.in_execution{% endtrans %}<span class="date_expected"> ({{ parameter.dateExpected | date('d M') }})</span>
	{% else %}
    	{% trans into report.language %}report.in_execution{% endtrans %}
	{% endif %}
{% endblock %}
{% block column_result_history1 %}
    {% if parameterManager.isCumulative and report.hasHistory(0) %}
        {% set resultHistory = report.getResultHistory(parameter)[0] %}
        <span class="small{% if resultHistory[1] %} text-bold red{% endif %}">{{ resultHistory[0] }}</span>
    {% endif %}
{% endblock %}
{% block column_result_history2 %}
    {% if parameterManager.isCumulative and report.hasHistory(1) %}
        {% set resultHistory = report.getResultHistory(parameter)[1] %}
        <span class="small{% if resultHistory[1] %} text-bold red{% endif %}">{{ resultHistory[0] }}</span>
    {% endif %}
{% endblock %}
