{% extends "ZoolyxCoreBundle::Report/Row/Result/cumulative_layout.html.twig" %}

{% block column_result_content %}
    <span class="text-extra-small">{% trans into report.language %}report.result{% endtrans %}</span>
{% endblock %}

{% block column_result_history %}
    {% if report.isCumulative %}
        <span class="text-extra-small">{% trans into report.language %}report.previous_results{% endtrans %}</span>
    {% endif %}
{% endblock %}
