{% extends "ZoolyxCoreBundle::Report/Row/Result/cumulative_layout.html.twig" %}

{% block column_result_content %}
    <span class="text-bold">{{ sample.dateReceived |date("d/m/Y")}}</span>
{% endblock %}

{% block column_result_history1 %}
    {% if report.hasHistory(0) %}
        <span class="text-extra-small">{{ report.dateHistory[0] |date("d/m/Y") }}</span>
    {% endif %}
{% endblock %}

{% block column_result_history2 %}
    {% if report.hasHistory(1) %}
        <span class="text-extra-small">{{ report.dateHistory[1] |date("d/m/Y") }}</span>
    {% endif %}
{% endblock %}
