{% extends "ZoolyxCoreBundle::Report/Row/Result/cumulative_layout.html.twig" %}

{% block column_result_content %}
    <span class="text-bold">{{ sample.code }}</span>
{% endblock %}

{% block column_result_history1 %}
    {% if report.hasHistory(0) %}
        <span class="text-extra-small">{{ report.codeHistory[0] }}</span>
    {% endif %}
{% endblock %}

{% block column_result_history2 %}
    {% if report.hasHistory(1) %}
        <span class="text-extra-small">{{ report.codeHistory[1] }}</span>
    {% endif %}
{% endblock %}
