{% if parameterManager.isValidated %}
    <span class="{% if parameterManager.exceeds %}text-bold red{% endif %}">{{ parameter.resultString }}</span>
{% elseif parameterManager.hasDateExpected %}
    {% trans into report.language %}report.in_execution{% endtrans %}<span class="date_expected"> ({{ parameter.dateExpected | date('d M') }})</span>
{% else %}
    {% trans into report.language %}report.in_execution{% endtrans %}
{% endif %}

