{% extends "::main.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top:20px;">
        {{ form_start(form, {'attr': {'class': 'zlx_form'}}) }}
        {%for error in form.vars.errors%}
            <p style="color:red">{{error.message}}</p>
        {%endfor%}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                        <h4>{% trans into language %}login.change_password{% endtrans %}</h4>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.password.first) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.password.first) }}
                                {%for error in form.password.first.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                                <p id="password-strength-text" style="font-weight: bold; margin-top:5px;"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.password.second) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.password.second) }}
                                {%for error in form.password.second.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right ">
                                {{ form_widget(form.agreeWithConditions) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                <b>
                                    {% trans into language %}form.registration.agree_with_conditions.1{% endtrans %}
                                    <a href="{{ url_conditions }}">{% trans into language %}form.registration.conditions{% endtrans %}</a>
                                    {% trans into language %}form.registration.agree_with_conditions.2{% endtrans %}
                                    <a href="{{ url_privacy }}">{% trans into language %}form.registration.privacy{% endtrans %}</a>
                                </b>
                                {{ form_errors(form.agreeWithConditions) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right">
                                {{ form_widget(form.acceptMails) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_label(form.acceptMails) }}
                                {{ form_errors(form.acceptMails) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <button type="submit" id="submit_button" class="btn btn-primary btn-block">{% trans into language %}login.change_password{% endtrans %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
    <script>
        var strength = {
            0: {code: "Very weak", color:"red"},
            1: {code: "Weak", color:"red"},
            2: {code: "Still weak", color:"orange"},
            3: {code: "Good", color:"blue"},
            4: {code: "Strong", color:"green"}
        };
        var password = document.getElementById('PasswordNew_password_first');
        var text = document.getElementById('password-strength-text');
        var $submitButton = $('#submit_button');
        console.log($submitButton);
        $submitButton.prop("disabled",true);

        password.addEventListener('input', function() {
            var val = password.value;
            var result = zxcvbn(val);

            // Update the text indicator
            if (val !== "") {
                text.innerHTML = "Strength: " + strength[result.score].code;
                text.style.color = strength[result.score].color;
            } else {
                text.innerHTML = "";
            }
            if (result.score >2) {
                $submitButton.prop("disabled",false);
            } else {
                $submitButton.prop("disabled",true);
            }
        });
    </script>
{% endblock %}
