{% extends "::main.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container-fluid' %}

{% block container %}
<div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8" style="margin-top:20px;">
        {{ form_start(form, {'attr': {'class': 'zlx_form'}}) }}
        {{ form_errors(form) }}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}" alt="Zoolyx">
                        <h4>Forgot password</h4>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4 text-right vcenter">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-xs-7 vcenter">
                                {{ form_widget(form.email) }}
                                {%for error in form.email.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
                            <button type="submit" class="btn btn-primary btn-block">{% trans %}login.change_password{% endtrans %}</button>
                        </div>
                        <div class="col-xs-12 text-center" style="margin-top:30px;">
                            <a href="{{ path('fos_user_security_login') }}">{% trans %}login.cancel{% endtrans %}</a>
                        </div>

                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}