{% extends "::layout.html.twig" %}

{% block PageHeader %}
    <div class="jumbotron text-center">
        <p>
            You have changed your password successfully
        </p>
        <p>
            <a href="{{ path('fos_user_security_login') }}">Login</a>
        </p>
    </div>
{% endblock %}