@import "http://fonts.googleapis.com/css?family=Pacifico";
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,600";

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    height: 100%;
    overflow: auto;
    background-color: #EDEDED;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-rendering: optimizelegibility
}

a {
    color: #ff884c;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.scroll::-webkit-scrollbar, pre::-webkit-scrollbar, textarea::-webkit-scrollbar {
    width: 9px;
    height: 10px;
    background: none
}

pre::-webkit-scrollbar-button, textarea::-webkit-scrollbar-button, .scroll::-webkit-scrollbar-button {
    display: none;
    background: none
}

pre::-webkit-scrollbar-track, .scroll::-webkit-scrollbar-track {
    margin: 20px
}

pre::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb {
    background-color: #CCC
}

pre::-webkit-scrollbar-thumb:hover, textarea::-webkit-scrollbar-thumb:hover, .scroll::-webkit-scrollbar-thumb:hover {
    background-color: #AAA
}

.hidden {
    display: none
}

img, object {
    max-width: 100%;
    height: auto
}

ul, ol {
    padding-left: 0;
    list-style: none
}

li > ul, li > ol {
    margin-top: .5em;
    margin-bottom: 0
}

dd {
    margin-left: 0
}

nav ul, .nav {
    margin-bottom: 0;
    letter-spacing: -0.31em;
    word-spacing: -0.43em
}

nav li, .nav li {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal
}

small {
    font-size: 0.8rem;
    line-height: 1.5em
}

img[height="1"][width="1"] {
    position: absolute
}

p {
    margin-top: 0
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .clearfix {
    zoom: 1
}

*:first-child + html .clearfix {
    zoom: 1
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0px
}

[class*='col-'] {
    float: left;
    padding-right: 20px
}
.image-container {
    text-align: center;
}
.image {
    max-width: 372px;
    max-height: 291px;
}
.grid {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
    overflow: hidden;
    position: relative
}

.grid:after {
    content: "";
    display: table;
    clear: both
}

.grid-pad {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px
}

.push-right {
    float: right
}

.col-1-1 {
    width: 100%
}

.col-2-3, .col-8-12 {
    width: 66.66%
}

.col-1-2, .col-6-12 {
    width: 50%
}

.col-1-3, .col-4-12 {
    width: 33.33%
}

.col-1-4, .col-3-12 {
    width: 25%
}

.col-1-5 {
    width: 20%
}

.col-1-6, .col-2-12 {
    width: 16.667%
}

.col-1-7 {
    width: 14.28%
}

.col-1-8 {
    width: 12.5%
}

.col-1-9 {
    width: 11.1%
}

.col-1-10 {
    width: 10%
}

.col-1-11 {
    width: 9.09%
}

.col-1-12 {
    width: 8.33%
}

.col-11-12 {
    width: 91.66%
}

.col-10-12 {
    width: 83.333%
}

.col-9-12 {
    width: 75%
}

.col-5-12 {
    width: 41.66%
}

.col-7-12 {
    width: 58.33%
}

.push-2-3, .push-8-12 {
    margin-left: 66.66%
}

.push-1-2, .push-6-12 {
    margin-left: 50%
}

.push-1-3, .push-4-12 {
    margin-left: 33.33%
}

.push-1-4, .push-3-12 {
    margin-left: 25%
}

.push-1-5 {
    margin-left: 20%
}

.push-1-6, .push-2-12 {
    margin-left: 16.667%
}

.push-1-7 {
    margin-left: 14.28%
}

.push-1-8 {
    margin-left: 12.5%
}

.push-1-9 {
    margin-left: 11.1%
}

.push-1-10 {
    margin-left: 10%
}

.push-1-11 {
    margin-left: 9.09%
}

.push-1-12 {
    margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 10px
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px
    }

    [class*='mobile-col-'] {
        float: left;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 0px
    }

    .mobile-col-1-1 {
        width: 100%
    }

    .mobile-col-2-3, .mobile-col-8-12 {
        width: 66.66%
    }

    .mobile-col-1-2, .mobile-col-6-12 {
        width: 50%
    }

    .mobile-col-1-3, .mobile-col-4-12 {
        width: 33.33%
    }

    .mobile-col-1-4, .mobile-col-3-12 {
        width: 25%
    }

    .mobile-col-1-5 {
        width: 20%
    }

    .mobile-col-1-6, .mobile-col-2-12 {
        width: 16.667%
    }

    .mobile-col-1-7 {
        width: 14.28%
    }

    .mobile-col-1-8 {
        width: 12.5%
    }

    .mobile-col-1-9 {
        width: 11.1%
    }

    .mobile-col-1-10 {
        width: 10%
    }

    .mobile-col-1-11 {
        width: 9.09%
    }

    .mobile-col-1-12 {
        width: 8.33%
    }

    .mobile-col-11-12 {
        width: 91.66%
    }

    .mobile-col-10-12 {
        width: 83.333%
    }

    .mobile-col-9-12 {
        width: 75%
    }

    .mobile-col-5-12 {
        width: 41.66%
    }

    .mobile-col-7-12 {
        width: 58.33%
    }

    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0
    }
}

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0)
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em;
    text-align: center
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa-ul > li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa.pull-left {
    margin-right: .3em
}

.fa.pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
    filter: none
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #ffffff
}

.fa-glass:before {
    content: "\f000"
}

.fa-music:before {
    content: "\f001"
}

.fa-search:before {
    content: "\f002"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-heart:before {
    content: "\f004"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-user:before {
    content: "\f007"
}

.fa-film:before {
    content: "\f008"
}

.fa-th-large:before {
    content: "\f009"
}

.fa-th:before {
    content: "\f00a"
}

.fa-th-list:before {
    content: "\f00b"
}

.fa-check:before {
    content: "\f00c"
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d"
}

.fa-search-plus:before {
    content: "\f00e"
}

.fa-search-minus:before {
    content: "\f010"
}

.fa-power-off:before {
    content: "\f011"
}

.fa-signal:before {
    content: "\f012"
}

.fa-gear:before, .fa-cog:before {
    content: "\f013"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-home:before {
    content: "\f015"
}

.fa-file-o:before {
    content: "\f016"
}

.fa-clock-o:before {
    content: "\f017"
}

.fa-road:before {
    content: "\f018"
}

.fa-download:before {
    content: "\f019"
}

.fa-arrow-circle-o-down:before {
    content: "\f01a"
}

.fa-arrow-circle-o-up:before {
    content: "\f01b"
}

.fa-inbox:before {
    content: "\f01c"
}

.fa-play-circle-o:before {
    content: "\f01d"
}

.fa-rotate-right:before, .fa-repeat:before {
    content: "\f01e"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-list-alt:before {
    content: "\f022"
}

.fa-lock:before {
    content: "\f023"
}

.fa-flag:before {
    content: "\f024"
}

.fa-headphones:before {
    content: "\f025"
}

.fa-volume-off:before {
    content: "\f026"
}

.fa-volume-down:before {
    content: "\f027"
}

.fa-volume-up:before {
    content: "\f028"
}

.fa-qrcode:before {
    content: "\f029"
}

.fa-barcode:before {
    content: "\f02a"
}

.fa-tag:before {
    content: "\f02b"
}

.fa-tags:before {
    content: "\f02c"
}

.fa-book:before {
    content: "\f02d"
}

.fa-bookmark:before {
    content: "\f02e"
}

.fa-print:before {
    content: "\f02f"
}

.fa-camera:before {
    content: "\f030"
}

.fa-font:before {
    content: "\f031"
}

.fa-bold:before {
    content: "\f032"
}

.fa-italic:before {
    content: "\f033"
}

.fa-text-height:before {
    content: "\f034"
}

.fa-text-width:before {
    content: "\f035"
}

.fa-align-left:before {
    content: "\f036"
}

.fa-align-center:before {
    content: "\f037"
}

.fa-align-right:before {
    content: "\f038"
}

.fa-align-justify:before {
    content: "\f039"
}

.fa-list:before {
    content: "\f03a"
}

.fa-dedent:before, .fa-outdent:before {
    content: "\f03b"
}

.fa-indent:before {
    content: "\f03c"
}

.fa-video-camera:before {
    content: "\f03d"
}

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
    content: "\f03e"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-adjust:before {
    content: "\f042"
}

.fa-tint:before {
    content: "\f043"
}

.fa-edit:before, .fa-pencil-square-o:before {
    content: "\f044"
}

.fa-share-square-o:before {
    content: "\f045"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-arrows:before {
    content: "\f047"
}

.fa-step-backward:before {
    content: "\f048"
}

.fa-fast-backward:before {
    content: "\f049"
}

.fa-backward:before {
    content: "\f04a"
}

.fa-play:before {
    content: "\f04b"
}

.fa-pause:before {
    content: "\f04c"
}

.fa-stop:before {
    content: "\f04d"
}

.fa-forward:before {
    content: "\f04e"
}

.fa-fast-forward:before {
    content: "\f050"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-eject:before {
    content: "\f052"
}

.fa-chevron-left:before {
    content: "\f053"
}

.fa-chevron-right:before {
    content: "\f054"
}

.fa-plus-circle:before {
    content: "\f055"
}

.fa-minus-circle:before {
    content: "\f056"
}

.fa-times-circle:before {
    content: "\f057"
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-question-circle:before {
    content: "\f059"
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-crosshairs:before {
    content: "\f05b"
}

.fa-times-circle-o:before {
    content: "\f05c"
}

.fa-check-circle-o:before {
    content: "\f05d"
}

.fa-ban:before {
    content: "\f05e"
}

.fa-arrow-left:before {
    content: "\f060"
}

.fa-arrow-right:before {
    content: "\f061"
}

.fa-arrow-up:before {
    content: "\f062"
}

.fa-arrow-down:before {
    content: "\f063"
}

.fa-mail-forward:before, .fa-share:before {
    content: "\f064"
}

.fa-expand:before {
    content: "\f065"
}

.fa-compress:before {
    content: "\f066"
}

.fa-plus:before {
    content: "\f067"
}

.fa-minus:before {
    content: "\f068"
}

.fa-asterisk:before {
    content: "\f069"
}

.fa-exclamation-circle:before {
    content: "\f06a"
}

.fa-gift:before {
    content: "\f06b"
}

.fa-leaf:before {
    content: "\f06c"
}

.fa-fire:before {
    content: "\f06d"
}

.fa-eye:before {
    content: "\f06e"
}

.fa-eye-slash:before {
    content: "\f070"
}

.fa-warning:before, .fa-exclamation-triangle:before {
    content: "\f071"
}

.fa-plane:before {
    content: "\f072"
}

.fa-calendar:before {
    content: "\f073"
}

.fa-random:before {
    content: "\f074"
}

.fa-comment:before {
    content: "\f075"
}

.fa-magnet:before {
    content: "\f076"
}

.fa-chevron-up:before {
    content: "\f077"
}

.fa-chevron-down:before {
    content: "\f078"
}

.fa-retweet:before {
    content: "\f079"
}

.fa-shopping-cart:before {
    content: "\f07a"
}

.fa-folder:before {
    content: "\f07b"
}

.fa-folder-open:before {
    content: "\f07c"
}

.fa-arrows-v:before {
    content: "\f07d"
}

.fa-arrows-h:before {
    content: "\f07e"
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
    content: "\f080"
}

.fa-twitter-square:before {
    content: "\f081"
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-camera-retro:before {
    content: "\f083"
}

.fa-key:before {
    content: "\f084"
}

.fa-gears:before, .fa-cogs:before {
    content: "\f085"
}

.fa-comments:before {
    content: "\f086"
}

.fa-thumbs-o-up:before {
    content: "\f087"
}

.fa-thumbs-o-down:before {
    content: "\f088"
}

.fa-star-half:before {
    content: "\f089"
}

.fa-heart-o:before {
    content: "\f08a"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-linkedin-square:before {
    content: "\f08c"
}

.fa-thumb-tack:before {
    content: "\f08d"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-sign-in:before {
    content: "\f090"
}

.fa-trophy:before {
    content: "\f091"
}

.fa-github-square:before {
    content: "\f092"
}

.fa-upload:before {
    content: "\f093"
}

.fa-lemon-o:before {
    content: "\f094"
}

.fa-phone:before {
    content: "\f095"
}

.fa-square-o:before {
    content: "\f096"
}

.fa-bookmark-o:before {
    content: "\f097"
}

.fa-phone-square:before {
    content: "\f098"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a"
}

.fa-github:before {
    content: "\f09b"
}

.fa-unlock:before {
    content: "\f09c"
}

.fa-credit-card:before {
    content: "\f09d"
}

.fa-rss:before {
    content: "\f09e"
}

.fa-hdd-o:before {
    content: "\f0a0"
}

.fa-bullhorn:before {
    content: "\f0a1"
}

.fa-bell:before {
    content: "\f0f3"
}

.fa-certificate:before {
    content: "\f0a3"
}

.fa-hand-o-right:before {
    content: "\f0a4"
}

.fa-hand-o-left:before {
    content: "\f0a5"
}

.fa-hand-o-up:before {
    content: "\f0a6"
}

.fa-hand-o-down:before {
    content: "\f0a7"
}

.fa-arrow-circle-left:before {
    content: "\f0a8"
}

.fa-arrow-circle-right:before {
    content: "\f0a9"
}

.fa-arrow-circle-up:before {
    content: "\f0aa"
}

.fa-arrow-circle-down:before {
    content: "\f0ab"
}

.fa-globe:before {
    content: "\f0ac"
}

.fa-wrench:before {
    content: "\f0ad"
}

.fa-tasks:before {
    content: "\f0ae"
}

.fa-filter:before {
    content: "\f0b0"
}

.fa-briefcase:before {
    content: "\f0b1"
}

.fa-arrows-alt:before {
    content: "\f0b2"
}

.fa-group:before, .fa-users:before {
    content: "\f0c0"
}

.fa-chain:before, .fa-link:before {
    content: "\f0c1"
}

.fa-cloud:before {
    content: "\f0c2"
}

.fa-flask:before {
    content: "\f0c3"
}

.fa-cut:before, .fa-scissors:before {
    content: "\f0c4"
}

.fa-copy:before, .fa-files-o:before {
    content: "\f0c5"
}

.fa-paperclip:before {
    content: "\f0c6"
}

.fa-save:before, .fa-floppy-o:before {
    content: "\f0c7"
}

.fa-square:before {
    content: "\f0c8"
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-list-ol:before {
    content: "\f0cb"
}

.fa-strikethrough:before {
    content: "\f0cc"
}

.fa-underline:before {
    content: "\f0cd"
}

.fa-table:before {
    content: "\f0ce"
}

.fa-magic:before {
    content: "\f0d0"
}

.fa-truck:before {
    content: "\f0d1"
}

.fa-pinterest:before {
    content: "\f0d2"
}

.fa-pinterest-square:before {
    content: "\f0d3"
}

.fa-google-plus-square:before {
    content: "\f0d4"
}

.fa-google-plus:before {
    content: "\f0d5"
}

.fa-money:before {
    content: "\f0d6"
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-caret-up:before {
    content: "\f0d8"
}

.fa-caret-left:before {
    content: "\f0d9"
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-columns:before {
    content: "\f0db"
}

.fa-unsorted:before, .fa-sort:before {
    content: "\f0dc"
}

.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd"
}

.fa-sort-up:before, .fa-sort-asc:before {
    content: "\f0de"
}

.fa-envelope:before {
    content: "\f0e0"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-rotate-left:before, .fa-undo:before {
    content: "\f0e2"
}

.fa-legal:before, .fa-gavel:before {
    content: "\f0e3"
}

.fa-dashboard:before, .fa-tachometer:before {
    content: "\f0e4"
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-comments-o:before {
    content: "\f0e6"
}

.fa-flash:before, .fa-bolt:before {
    content: "\f0e7"
}

.fa-sitemap:before {
    content: "\f0e8"
}

.fa-umbrella:before {
    content: "\f0e9"
}

.fa-paste:before, .fa-clipboard:before {
    content: "\f0ea"
}

.fa-lightbulb-o:before {
    content: "\f0eb"
}

.fa-exchange:before {
    content: "\f0ec"
}

.fa-cloud-download:before {
    content: "\f0ed"
}

.fa-cloud-upload:before {
    content: "\f0ee"
}

.fa-user-md:before {
    content: "\f0f0"
}

.fa-stethoscope:before {
    content: "\f0f1"
}

.fa-suitcase:before {
    content: "\f0f2"
}

.fa-bell-o:before {
    content: "\f0a2"
}

.fa-coffee:before {
    content: "\f0f4"
}

.fa-cutlery:before {
    content: "\f0f5"
}

.fa-file-text-o:before {
    content: "\f0f6"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-hospital-o:before {
    content: "\f0f8"
}

.fa-ambulance:before {
    content: "\f0f9"
}

.fa-medkit:before {
    content: "\f0fa"
}

.fa-fighter-jet:before {
    content: "\f0fb"
}

.fa-beer:before {
    content: "\f0fc"
}

.fa-h-square:before {
    content: "\f0fd"
}

.fa-plus-square:before {
    content: "\f0fe"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-double-up:before {
    content: "\f102"
}

.fa-angle-double-down:before {
    content: "\f103"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

.fa-angle-up:before {
    content: "\f106"
}

.fa-angle-down:before {
    content: "\f107"
}

.fa-desktop:before {
    content: "\f108"
}

.fa-laptop:before {
    content: "\f109"
}

.fa-tablet:before {
    content: "\f10a"
}

.fa-mobile-phone:before, .fa-mobile:before {
    content: "\f10b"
}

.fa-circle-o:before {
    content: "\f10c"
}

.fa-quote-left:before {
    content: "\f10d"
}

.fa-quote-right:before {
    content: "\f10e"
}

.fa-spinner:before {
    content: "\f110"
}

.fa-circle:before {
    content: "\f111"
}

.fa-mail-reply:before, .fa-reply:before {
    content: "\f112"
}

.fa-github-alt:before {
    content: "\f113"
}

.fa-folder-o:before {
    content: "\f114"
}

.fa-folder-open-o:before {
    content: "\f115"
}

.fa-smile-o:before {
    content: "\f118"
}

.fa-frown-o:before {
    content: "\f119"
}

.fa-meh-o:before {
    content: "\f11a"
}

.fa-gamepad:before {
    content: "\f11b"
}

.fa-keyboard-o:before {
    content: "\f11c"
}

.fa-flag-o:before {
    content: "\f11d"
}

.fa-flag-checkered:before {
    content: "\f11e"
}

.fa-terminal:before {
    content: "\f120"
}

.fa-code:before {
    content: "\f121"
}

.fa-mail-reply-all:before, .fa-reply-all:before {
    content: "\f122"
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
    content: "\f123"
}

.fa-location-arrow:before {
    content: "\f124"
}

.fa-crop:before {
    content: "\f125"
}

.fa-code-fork:before {
    content: "\f126"
}

.fa-unlink:before, .fa-chain-broken:before {
    content: "\f127"
}

.fa-question:before {
    content: "\f128"
}

.fa-info:before {
    content: "\f129"
}

.fa-exclamation:before {
    content: "\f12a"
}

.fa-superscript:before {
    content: "\f12b"
}

.fa-subscript:before {
    content: "\f12c"
}

.fa-eraser:before {
    content: "\f12d"
}

.fa-puzzle-piece:before {
    content: "\f12e"
}

.fa-microphone:before {
    content: "\f130"
}

.fa-microphone-slash:before {
    content: "\f131"
}

.fa-shield:before {
    content: "\f132"
}

.fa-calendar-o:before {
    content: "\f133"
}

.fa-fire-extinguisher:before {
    content: "\f134"
}

.fa-rocket:before {
    content: "\f135"
}

.fa-maxcdn:before {
    content: "\f136"
}

.fa-chevron-circle-left:before {
    content: "\f137"
}

.fa-chevron-circle-right:before {
    content: "\f138"
}

.fa-chevron-circle-up:before {
    content: "\f139"
}

.fa-chevron-circle-down:before {
    content: "\f13a"
}

.fa-html5:before {
    content: "\f13b"
}

.fa-css3:before {
    content: "\f13c"
}

.fa-anchor:before {
    content: "\f13d"
}

.fa-unlock-alt:before {
    content: "\f13e"
}

.fa-bullseye:before {
    content: "\f140"
}

.fa-ellipsis-h:before {
    content: "\f141"
}

.fa-ellipsis-v:before {
    content: "\f142"
}

.fa-rss-square:before {
    content: "\f143"
}

.fa-play-circle:before {
    content: "\f144"
}

.fa-ticket:before {
    content: "\f145"
}

.fa-minus-square:before {
    content: "\f146"
}

.fa-minus-square-o:before {
    content: "\f147"
}

.fa-level-up:before {
    content: "\f148"
}

.fa-level-down:before {
    content: "\f149"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-pencil-square:before {
    content: "\f14b"
}

.fa-external-link-square:before {
    content: "\f14c"
}

.fa-share-square:before {
    content: "\f14d"
}

.fa-compass:before {
    content: "\f14e"
}

.fa-toggle-down:before, .fa-caret-square-o-down:before {
    content: "\f150"
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
    content: "\f151"
}

.fa-toggle-right:before, .fa-caret-square-o-right:before {
    content: "\f152"
}

.fa-euro:before, .fa-eur:before {
    content: "\f153"
}

.fa-gbp:before {
    content: "\f154"
}

.fa-dollar:before, .fa-usd:before {
    content: "\f155"
}

.fa-rupee:before, .fa-inr:before {
    content: "\f156"
}

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
    content: "\f157"
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
    content: "\f158"
}

.fa-won:before, .fa-krw:before {
    content: "\f159"
}

.fa-bitcoin:before, .fa-btc:before {
    content: "\f15a"
}

.fa-file:before {
    content: "\f15b"
}

.fa-file-text:before {
    content: "\f15c"
}

.fa-sort-alpha-asc:before {
    content: "\f15d"
}

.fa-sort-alpha-desc:before {
    content: "\f15e"
}

.fa-sort-amount-asc:before {
    content: "\f160"
}

.fa-sort-amount-desc:before {
    content: "\f161"
}

.fa-sort-numeric-asc:before {
    content: "\f162"
}

.fa-sort-numeric-desc:before {
    content: "\f163"
}

.fa-thumbs-up:before {
    content: "\f164"
}

.fa-thumbs-down:before {
    content: "\f165"
}

.fa-youtube-square:before {
    content: "\f166"
}

.fa-youtube:before {
    content: "\f167"
}

.fa-xing:before {
    content: "\f168"
}

.fa-xing-square:before {
    content: "\f169"
}

.fa-youtube-play:before {
    content: "\f16a"
}

.fa-dropbox:before {
    content: "\f16b"
}

.fa-stack-overflow:before {
    content: "\f16c"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-flickr:before {
    content: "\f16e"
}

.fa-adn:before {
    content: "\f170"
}

.fa-bitbucket:before {
    content: "\f171"
}

.fa-bitbucket-square:before {
    content: "\f172"
}

.fa-tumblr:before {
    content: "\f173"
}

.fa-tumblr-square:before {
    content: "\f174"
}

.fa-long-arrow-down:before {
    content: "\f175"
}

.fa-long-arrow-up:before {
    content: "\f176"
}

.fa-long-arrow-left:before {
    content: "\f177"
}

.fa-long-arrow-right:before {
    content: "\f178"
}

.fa-apple:before {
    content: "\f179"
}

.fa-windows:before {
    content: "\f17a"
}

.fa-android:before {
    content: "\f17b"
}

.fa-linux:before {
    content: "\f17c"
}

.fa-dribbble:before {
    content: "\f17d"
}

.fa-skype:before {
    content: "\f17e"
}

.fa-foursquare:before {
    content: "\f180"
}

.fa-trello:before {
    content: "\f181"
}

.fa-female:before {
    content: "\f182"
}

.fa-male:before {
    content: "\f183"
}

.fa-gittip:before, .fa-gratipay:before {
    content: "\f184"
}

.fa-sun-o:before {
    content: "\f185"
}

.fa-moon-o:before {
    content: "\f186"
}

.fa-archive:before {
    content: "\f187"
}

.fa-bug:before {
    content: "\f188"
}

.fa-vk:before {
    content: "\f189"
}

.fa-weibo:before {
    content: "\f18a"
}

.fa-renren:before {
    content: "\f18b"
}

.fa-pagelines:before {
    content: "\f18c"
}

.fa-stack-exchange:before {
    content: "\f18d"
}

.fa-arrow-circle-o-right:before {
    content: "\f18e"
}

.fa-arrow-circle-o-left:before {
    content: "\f190"
}

.fa-toggle-left:before, .fa-caret-square-o-left:before {
    content: "\f191"
}

.fa-dot-circle-o:before {
    content: "\f192"
}

.fa-wheelchair:before {
    content: "\f193"
}

.fa-vimeo-square:before {
    content: "\f194"
}

.fa-turkish-lira:before, .fa-try:before {
    content: "\f195"
}

.fa-plus-square-o:before {
    content: "\f196"
}

.fa-space-shuttle:before {
    content: "\f197"
}

.fa-slack:before {
    content: "\f198"
}

.fa-envelope-square:before {
    content: "\f199"
}

.fa-wordpress:before {
    content: "\f19a"
}

.fa-openid:before {
    content: "\f19b"
}

.fa-institution:before, .fa-bank:before, .fa-university:before {
    content: "\f19c"
}

.fa-mortar-board:before, .fa-graduation-cap:before {
    content: "\f19d"
}

.fa-yahoo:before {
    content: "\f19e"
}

.fa-google:before {
    content: "\f1a0"
}

.fa-reddit:before {
    content: "\f1a1"
}

.fa-reddit-square:before {
    content: "\f1a2"
}

.fa-stumbleupon-circle:before {
    content: "\f1a3"
}

.fa-stumbleupon:before {
    content: "\f1a4"
}

.fa-delicious:before {
    content: "\f1a5"
}

.fa-digg:before {
    content: "\f1a6"
}

.fa-pied-piper:before {
    content: "\f1a7"
}

.fa-pied-piper-alt:before {
    content: "\f1a8"
}

.fa-drupal:before {
    content: "\f1a9"
}

.fa-joomla:before {
    content: "\f1aa"
}

.fa-language:before {
    content: "\f1ab"
}

.fa-fax:before {
    content: "\f1ac"
}

.fa-building:before {
    content: "\f1ad"
}

.fa-child:before {
    content: "\f1ae"
}

.fa-paw:before {
    content: "\f1b0"
}

.fa-spoon:before {
    content: "\f1b1"
}

.fa-cube:before {
    content: "\f1b2"
}

.fa-cubes:before {
    content: "\f1b3"
}

.fa-behance:before {
    content: "\f1b4"
}

.fa-behance-square:before {
    content: "\f1b5"
}

.fa-steam:before {
    content: "\f1b6"
}

.fa-steam-square:before {
    content: "\f1b7"
}

.fa-recycle:before {
    content: "\f1b8"
}

.fa-automobile:before, .fa-car:before {
    content: "\f1b9"
}

.fa-cab:before, .fa-taxi:before {
    content: "\f1ba"
}

.fa-tree:before {
    content: "\f1bb"
}

.fa-spotify:before {
    content: "\f1bc"
}

.fa-deviantart:before {
    content: "\f1bd"
}

.fa-soundcloud:before {
    content: "\f1be"
}

.fa-database:before {
    content: "\f1c0"
}

.fa-file-pdf-o:before {
    content: "\f1c1"
}

.fa-file-word-o:before {
    content: "\f1c2"
}

.fa-file-excel-o:before {
    content: "\f1c3"
}

.fa-file-powerpoint-o:before {
    content: "\f1c4"
}

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
    content: "\f1c5"
}

.fa-file-zip-o:before, .fa-file-archive-o:before {
    content: "\f1c6"
}

.fa-file-sound-o:before, .fa-file-audio-o:before {
    content: "\f1c7"
}

.fa-file-movie-o:before, .fa-file-video-o:before {
    content: "\f1c8"
}

.fa-file-code-o:before {
    content: "\f1c9"
}

.fa-vine:before {
    content: "\f1ca"
}

.fa-codepen:before {
    content: "\f1cb"
}

.fa-jsfiddle:before {
    content: "\f1cc"
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
    content: "\f1cd"
}

.fa-circle-o-notch:before {
    content: "\f1ce"
}

.fa-ra:before, .fa-rebel:before {
    content: "\f1d0"
}

.fa-ge:before, .fa-empire:before {
    content: "\f1d1"
}

.fa-git-square:before {
    content: "\f1d2"
}

.fa-git:before {
    content: "\f1d3"
}

.fa-hacker-news:before {
    content: "\f1d4"
}

.fa-tencent-weibo:before {
    content: "\f1d5"
}

.fa-qq:before {
    content: "\f1d6"
}

.fa-wechat:before, .fa-weixin:before {
    content: "\f1d7"
}

.fa-send:before, .fa-paper-plane:before {
    content: "\f1d8"
}

.fa-send-o:before, .fa-paper-plane-o:before {
    content: "\f1d9"
}

.fa-history:before {
    content: "\f1da"
}

.fa-genderless:before, .fa-circle-thin:before {
    content: "\f1db"
}

.fa-header:before {
    content: "\f1dc"
}

.fa-paragraph:before {
    content: "\f1dd"
}

.fa-sliders:before {
    content: "\f1de"
}

.fa-share-alt:before {
    content: "\f1e0"
}

.fa-share-alt-square:before {
    content: "\f1e1"
}

.fa-bomb:before {
    content: "\f1e2"
}

.fa-soccer-ball-o:before, .fa-futbol-o:before {
    content: "\f1e3"
}

.fa-tty:before {
    content: "\f1e4"
}

.fa-binoculars:before {
    content: "\f1e5"
}

.fa-plug:before {
    content: "\f1e6"
}

.fa-slideshare:before {
    content: "\f1e7"
}

.fa-twitch:before {
    content: "\f1e8"
}

.fa-yelp:before {
    content: "\f1e9"
}

.fa-newspaper-o:before {
    content: "\f1ea"
}

.fa-wifi:before {
    content: "\f1eb"
}

.fa-calculator:before {
    content: "\f1ec"
}

.fa-paypal:before {
    content: "\f1ed"
}

.fa-google-wallet:before {
    content: "\f1ee"
}

.fa-cc-visa:before {
    content: "\f1f0"
}

.fa-cc-mastercard:before {
    content: "\f1f1"
}

.fa-cc-discover:before {
    content: "\f1f2"
}

.fa-cc-amex:before {
    content: "\f1f3"
}

.fa-cc-paypal:before {
    content: "\f1f4"
}

.fa-cc-stripe:before {
    content: "\f1f5"
}

.fa-bell-slash:before {
    content: "\f1f6"
}

.fa-bell-slash-o:before {
    content: "\f1f7"
}

.fa-trash:before {
    content: "\f1f8"
}

.fa-copyright:before {
    content: "\f1f9"
}

.fa-at:before {
    content: "\f1fa"
}

.fa-eyedropper:before {
    content: "\f1fb"
}

.fa-paint-brush:before {
    content: "\f1fc"
}

.fa-birthday-cake:before {
    content: "\f1fd"
}

.fa-area-chart:before {
    content: "\f1fe"
}

.fa-pie-chart:before {
    content: "\f200"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-lastfm:before {
    content: "\f202"
}

.fa-lastfm-square:before {
    content: "\f203"
}

.fa-toggle-off:before {
    content: "\f204"
}

.fa-toggle-on:before {
    content: "\f205"
}

.fa-bicycle:before {
    content: "\f206"
}

.fa-bus:before {
    content: "\f207"
}

.fa-ioxhost:before {
    content: "\f208"
}

.fa-angellist:before {
    content: "\f209"
}

.fa-cc:before {
    content: "\f20a"
}

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
    content: "\f20b"
}

.fa-meanpath:before {
    content: "\f20c"
}

.fa-buysellads:before {
    content: "\f20d"
}

.fa-connectdevelop:before {
    content: "\f20e"
}

.fa-dashcube:before {
    content: "\f210"
}

.fa-forumbee:before {
    content: "\f211"
}

.fa-leanpub:before {
    content: "\f212"
}

.fa-sellsy:before {
    content: "\f213"
}

.fa-shirtsinbulk:before {
    content: "\f214"
}

.fa-simplybuilt:before {
    content: "\f215"
}

.fa-skyatlas:before {
    content: "\f216"
}

.fa-cart-plus:before {
    content: "\f217"
}

.fa-cart-arrow-down:before {
    content: "\f218"
}

.fa-diamond:before {
    content: "\f219"
}

.fa-ship:before {
    content: "\f21a"
}

.fa-user-secret:before {
    content: "\f21b"
}

.fa-motorcycle:before {
    content: "\f21c"
}

.fa-street-view:before {
    content: "\f21d"
}

.fa-heartbeat:before {
    content: "\f21e"
}

.fa-venus:before {
    content: "\f221"
}

.fa-mars:before {
    content: "\f222"
}

.fa-mercury:before {
    content: "\f223"
}

.fa-transgender:before {
    content: "\f224"
}

.fa-transgender-alt:before {
    content: "\f225"
}

.fa-venus-double:before {
    content: "\f226"
}

.fa-mars-double:before {
    content: "\f227"
}

.fa-venus-mars:before {
    content: "\f228"
}

.fa-mars-stroke:before {
    content: "\f229"
}

.fa-mars-stroke-v:before {
    content: "\f22a"
}

.fa-mars-stroke-h:before {
    content: "\f22b"
}

.fa-neuter:before {
    content: "\f22c"
}

.fa-facebook-official:before {
    content: "\f230"
}

.fa-pinterest-p:before {
    content: "\f231"
}

.fa-whatsapp:before {
    content: "\f232"
}

.fa-server:before {
    content: "\f233"
}

.fa-user-plus:before {
    content: "\f234"
}

.fa-user-times:before {
    content: "\f235"
}

.fa-hotel:before, .fa-bed:before {
    content: "\f236"
}

.fa-viacoin:before {
    content: "\f237"
}

.fa-train:before {
    content: "\f238"
}

.fa-subway:before {
    content: "\f239"
}

.fa-medium:before {
    content: "\f23a"
}

.white-panel {
    background: rgba(255, 255, 255, 0.9);
    padding: 0 0.8em
}

input[type="number"], input[type="text"], input[type="email"], input[type="password"], textarea, select {
    padding: 0.8em;
    max-width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.5)
}

input[type="number"] {
    text-align: center
}

textarea {
    width: 100%
}

select {
    border-radius: 0;
    background-color: #FFF;
    padding: 0.4em;
    border-radius: 0;
    line-height: normal;
    height: 3.04em
}

.form {
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    margin-bottom: 3.2em
}

.form legend {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.4rem;
    color: #6cc;
    padding: 1.6em 0 0.8em;
    margin: 0
}

.form label {
    display: block;
    padding-bottom: 0.8em
}

.form input[type="number"], .form input[type="text"], .form input[type="email"], .form input[type="password"] {
    width: 100%
}

.form-row {
    display: block;
    overflow: hidden;
    padding-bottom: 1.6em
}

.form-inline {
    display: inline-block;
    overflow: hidden;
    padding: 0 1.6em 1.6em 0
}

.form-stripe summary {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    cursor: pointer
}

.form-stripe span {
    display: inline-block;
    padding-bottom: 0.8em;
    margin: 0 0.8em
}

.form-stripe label {
    display: inline-block
}

#stripe_view_credit_cart {
    max-width: 180px
}

#stripe_view_credit_cart_security {
    max-width: 60px
}

.form-login {
    padding-bottom: 3.2em
}

.form-login .button-empty {
    float: right;
    padding-right: 0
}

.form-login .col-1-2:last-of-type {
    text-align: right
}

.form-login .col-1-2:last-of-type legend {
    width: 100%
}

.form-checkout {
    overflow: hidden;
    padding-bottom: 0.8em;
    margin-bottom: 0.8em;
    position: relative
}

.form-checkout h2 {
    margin-top: 0
}

.form-checkout .col-1-3 {
    margin-bottom: 0.8em
}

.form-checkout .fa-caret-right {
    color: #ff884c
}

#form-payment-execute-submit, #paymill_view_submit {
    display: none
}

.form-card {
    padding: 0 1.6em 0;
    margin-bottom: 0.8em
}

.form-card .message {
    border: 0px none;
    margin-bottom: 1.6em
}

.form .form-card-numbers {
    padding: 1.6em 0 1.6em
}

.form .form-card-numbers input {
    width: 23.8%
}

.form-card-security {
    clear: both;
    padding-bottom: 1.6em
}

.form-card-security input {
    max-width: 70px
}

.form-card-month, .form-card-year {
    float: left;
    padding-bottom: 1.6em;
    margin-right: 1.6em
}

#paymill_payment_error {
    min-height: 0px;
    padding: 0;
    border-bottom: 0px none
}

#paymill_payment_error li {
    padding: 0.8em
}

#paymill_payment_error li:last-of-type {
    border-bottom: 4px solid #EE3728
}

.form-address {
    padding: 1.6em
}

.form-address .message {
    border: 0px none;
    margin-bottom: 1.6em
}

.form-address .grid {
    min-width: 100px
}

html {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.header {
    text-align: center;
    background: rgba(102, 204, 204, 0.9);
    box-shadow: 0 0 2px rgba(153, 153, 153, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.header .grid {
    overflow: visible
}

.header a {
    color: #FFF
}

.header .logo {
    font-family: "Pacifico", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 2.8rem;
    display: inline-block;
    padding: 0 0.8em;
    color: #FFF;
    text-shadow: 1px 1px #999
}

.header .logo:hover {
    text-decoration: none
}

.header img {
    float: left
}

.progress, .progress-complete {
    width: 240px;
    margin: 0 auto;
    height: 32px;
    background: url(../img/progress.png);
    position: relative
}

.progress-complete {
    background-position: 0px 57px;
    margin-top: 0;
    position: absolute;
    left: 0
}

.progress-complete .progress-marker {
    position: absolute;
    top: 0;
    right: -26px;
    background: url(../img/markers.png);
    width: 26px;
    height: 32px
}

.progress .progress-status-1 {
    width: 19px
}

.progress .progress-status-2 {
    width: 111px
}

.progress .progress-status-3 {
    width: 203px
}

.progress .progress-status-4 {
    width: 295px
}

.progress .progress-status-5 {
    width: 386px
}

.progress .progress-status-6 {
    width: 478px
}

.progress .progress-status-2 .progress-marker {
    background-position: -26px 0
}

.progress .progress-status-3 .progress-marker {
    background-position: -52px 0
}

.progress .progress-status-4 .progress-marker {
    background-position: -78px 0
}

.progress .progress-status-5 .progress-marker {
    background-position: -104px 0
}

.progress .progress-status-6 .progress-marker {
    background-position: -130px 0
}

.checkout {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.8em
}

.checkout-title {
    text-align: center;
    margin-top: 0
}

.checkout-actions {
    overflow: hidden;
    position: relative;
    min-height: 65px
}

.checkout-actions .progress {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -127px
}

.checkout-actions .button, .checkout-actions .form-stripe button, .form-stripe .checkout-actions button, .checkout-actions .login-social a, .login-social .checkout-actions a {
    float: left
}

.checkout-actions .button-secondary, .checkout-actions .form-stripe button, .form-stripe .checkout-actions button {
    float: right !important
}

.checkout-actions-top {
    padding: 0.8em 0 0 0;
    border-top: 1px solid rgba(153, 153, 153, 0.2)
}

.checkout-actions-bottom {
    padding: 0 0 0.8em 0;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    margin-bottom: 1.6em
}

.user-nav {
    display: block;
    margin: 0;
    overflow: hidden
}

.user-nav li {
    display: inline-block;
    margin: 0 0.8em 0.8em 0;
    padding-right: 0.8em;
    border-right: 1px solid #FFF
}

.user-nav li:last-child {
    border-right: 0px none;
    margin-right: 0;
    padding-right: 0
}

.user-home {
    padding-bottom: 6.4em
}

.user-home a {
    background: #FFF;
    padding: 1.6em;
    text-align: center;
    display: block;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.4rem
}

.user-home a:hover {
    background: #ff884c;
    color: #FFF;
    text-decoration: none
}

.user-home i {
    display: block
}

.empty-page {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 3.2em;
    margin: 1.6em 0 3.2em
}

.empty-page .button, .empty-page .form-stripe button, .form-stripe .empty-page button, .empty-page .login-social a, .login-social .empty-page a {
    margin: 1.6em 0
}

.currency-nav {
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 0;
    background: rgba(153, 153, 153, 0.2);
    font-size: 0.8rem
}

.currency-nav ul {
    margin: 0.2em 0;
    overflow: hidden
}

.currency-nav li {
    float: left
}

.currency-nav a {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.4em 0.8em;
    opacity: .8
}

.currency-nav a.active {
    font-weight: bold;
    opacity: 1
}

.currency-nav a:hover {
    text-decoration: none;
    background: rgba(153, 153, 153, 0.2);
    opacity: 1
}

.order-list {
    overflow: hidden;
    padding-bottom: 6.4em
}

.order-item {
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 0.2em 0;
    padding: 0.8em
}

.order-item dt {
    display: none;
    opacity: .5
}

.order-item dd {
    padding-bottom: 0.8em
}

.order-title {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.7rem;
    margin: 0;
    font-weight: normal
}

.message {
    padding: 1.06667em 1.6em 0.8em 1.6em;
    margin: 0 0 0.8em;
    color: #999;
    overflow: hidden;
    border: 0.4em dotted #EDEDED;
    background: #FFF;
    position: relative;
    min-height: 54px
}

.message-info {
    color: #1E72A6;
    background: rgba(30, 114, 166, 0.1)
}

.message-info i {
    color: #1E72A6
}

.message-ko {
    color: #EE3728;
    background: rgba(238, 55, 40, 0.1)
}

.message-ko i {
    color: #EE3728
}

.message-ok {
    color: #6A932C;
    background: rgba(106, 147, 44, 0.1)
}

.message-ok i {
    color: #6A932C
}

.message-warning {
    color: #DFB84F;
    background: rgba(223, 184, 79, 0.1)
}

.message-warning i {
    color: #DFB84F
}

.login-social br {
    display: none
}

.rule {
    border-width: 1px 0 0 0;
    border-color: #CCC;
    border-style: solid;
    margin-bottom: 1.6em
}

.address-item {
    display: block;
    background: #FFF;
    overflow: hidden;
    padding: 0.2em;
    box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2)
}

.address-item dt, .address-item dd {
    float: left;
    padding-bottom: 0.8em
}

.address-item dt {
    opacity: .5;
    width: 50%;
    clear: left;
    text-align: right;
    padding-right: 0.8em
}

.address-item dd {
    max-width: 50%
}

.address-item dt.address-item-actions, .address-item dt.address-item-selection {
    display: none
}

.address-item dd.address-item-actions {
    max-width: 100%;
    padding-top: 0.8em;
    clear: both;
    display: block;
    float: none;
    text-align: center
}

.address-item dd.address-item-actions .button-primary {
    margin-right: 0.4em
}

.address-item .address-item-selection-item {
    width: 49%;
    text-align: center;
    display: inline-block
}

.address-item .address-item-selection-item .switch {
    display: block
}

.address-item dd.address-item-selection {
    max-width: 100%;
    padding: 0.8em;
    margin-bottom: 0.8em;
    clear: both;
    display: block;
    float: none;
    text-align: center;
    background: rgba(204, 204, 204, 0.5)
}

.address-item dd.address-item-selection label {
    margin: 0 0.8em
}

.address-item dd.address-item-selection input {
    margin-right: 0.4em
}

.address-list {
    padding-bottom: 4.8em
}

.address-list-add {
    position: absolute;
    right: 1.6em;
    margin-top: -4em
}

.address-list-profile .address-item {
    padding-top: 1.6em
}

.address-list-profile .address-item-selection {
    display: none !important
}

.product-list .product-item {
    min-height: 300px;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 0.8em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.product-view {
    padding: 0 0.8em 0.8em;
    background: rgba(255, 255, 255, 0.9)
}

.product-item {
    padding: 0.8em
}

.product-actions {
    padding: 0.4em 0;
    text-align: right;
    position: relative;
    max-height: 55px;
    margin-bottom: 0
}

.product-actions .fa-eye {
    position: absolute;
    left: 0
}

.product-actions .button, .product-actions .form-stripe button, .form-stripe .product-actions button, .product-actions .login-social a, .login-social .product-actions a {
    padding: 0.8em !important
}

.product-badge {
    position: absolute;
    right: -30px;
    top: 16px;
    color: #6A932C;
    background: #c0df93;
    padding: 0.8em;
    width: 126px;
    text-align: center;
    font-weight: bold;
    transform: rotate(45deg)
}

.product-pricing {
    display: inline-block;
    position: relative;
    margin: -2px 0.4em 0 0;
    padding: 0.4em 0.8em 0.4em 0.8em;
    background: #efdba5;
    color: #999;
    text-decoration: none;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    color: #999;
    border-radius: 0 2px 2px 0;
    transform: rotate(-5deg)
}

.product-pricing:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    right: -0.912em;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #efdba5;
    border-style: solid;
    border-width: 0.96em 0 0.96em 0.96em
}

.product-pricing:after {
    content: "";
    position: absolute;
    top: 0.8em;
    right: 0;
    float: right;
    width: 0.4em;
    height: 0.4em;
    border-radius: 0.4em;
    background: #EDEDED;
    box-shadow: -1px -1px 2px rgba(153, 153, 153, 0.2)
}

.product-pricing span {
    display: inline-block;
    padding: 0.35556em
}

.product-pricing-before {
    text-decoration: line-through;
    color: #EE3728;
    opacity: .8;
    position: absolute;
    margin-left: -65px;
    margin-top: 0;
    background-color: #fbd1cd
}

.product-pricing-before:before {
    border-color: transparent transparent transparent #fbd1cd
}

.product-pricing-now {
    font-weight: bold;
    color: #6A932C;
    background-color: #c0df93;
    font-size: 1.3rem;
    padding: 0.26667em 0.8em 0.26667em 0.8em
}

.product-pricing-now:before {
    border-color: transparent transparent transparent #c0df93
}

.product-title {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.7rem;
    margin: 0 0 0.4em;
    font-weight: normal;
    text-shadow: 1px 1px 0 #999
}

h1.product-title {
    font-size: 2.8rem
}

h3.product-title {
    color: #6cc
}

h4.product-title {
    margin: 0
}

h5.product-title {
    margin: 0 0 0.4em;
    font-size: 1.1rem
}

.product-image {
    max-width: 372px;
    max-height: 291px;
}
.product-image-container {
    text-align: center;
}
.image {
}

.product-thumbnail {
    border: solid 0.4em #FFF;
    max-width: 88px;
    max-height: 67px;
    box-shadow: 0 0 2px 1px rgba(153, 153, 153, 0.2);
    transition: all 200ms ease-out;
    position: relative;
    overflow: hidden;
    background: #FFF
}

.product-thumbnail:hover {
    opacity: .9;
    box-shadow: 0 0 2px 1px rgba(255, 136, 76, 0.4)
}

.product-thumbnail img {
    max-width: 100%
}

.product-to-basket {
    background: rgba(153, 153, 153, 0.1);
    padding: 0;
    margin-bottom: 1.6em;
    box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2)
}

.product-to-basket h5 {
    padding: 0.8em 0.8em 0;
    text-align: center
}

.product-to-basket img {
    display: block;
    margin: 0;
    position: relative;
    z-index: 100;
    width: 100%
}

.product-to-basket .product-actions {
    background: #FFF;
    padding: 0.4em;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    max-height: inherit;
    overflow: hidden
}

.product-to-basket .product-actions .button, .product-to-basket .product-actions .form-stripe button, .form-stripe .product-to-basket .product-actions button, .product-to-basket .product-actions .login-social a, .login-social .product-to-basket .product-actions a {
    box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2)
}

.product-to-basket .product-pricing:after {
    background: #FFF
}

.product-to-basket-group {
    overflow: hidden;
    margin-bottom: 1.6em
}

.product-related {
    margin-top: 1.6em;
    padding: 1.6em 0;
    background: rgba(0, 0, 0, 0.1)
}

.product-empty {
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 1.6em;
    margin: 1.6em 0 6.4em
}

.button, .form-stripe button, .login-social a {
    padding: 0.8em 1.6em;
    display: inline-block;
    background: #999;
    color: #FFF;
    text-align: center;
    min-width: 2.4em;
    border: 0px none
}

.button:hover, .form-stripe button:hover, .login-social a:hover {
    text-decoration: none;
    opacity: .8
}

.button.fa, .form-stripe button.fa, .login-social a.fa {
    padding: 0.4em
}

.button-primary {
    background: #6cc;
    color: #FFF
}

.button-secondary, .form-stripe button {
    background: #ff884c;
    color: #FFF
}

.button-empty {
    background: transparent;
    color: #ff884c
}

.button-empty:hover {
    background: transparent;
    text-decoration: underline
}

.coupon-add {
    position: absolute;
    padding: 0.8em 0;
    margin-top: -444px;
    width: 93%
}

.coupon-item, .coupon-item-preview {
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 0.8em 0;
    padding: 0.8em;
    border: 0.4em dotted #EDEDED
}

.coupon-item dt, .coupon-item-preview dt {
    display: none;
    opacity: .5
}

.coupon-item dd, .coupon-item-preview dd {
    padding-bottom: 0.8em
}

.footer {
    clear: both;
    text-align: left;
    background: rgba(102, 204, 204, 0.9);
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 2px rgba(153, 153, 153, 0.1);
    min-height: 150px;
    margin-top: 1.6em
}

.footer a {
    color: #FFF
}

.footer .leitmotiv {
    margin-top: 0.8em
}

.footer .logo {
    float: left;
    font-family: "Pacifico", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 1.7rem;
    display: inline-block;
    padding: 0 0.8em;
    color: #FFF;
    text-shadow: 1px 1px #999
}

.footer .logo:hover {
    text-decoration: none
}

.footer h5 {
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.3rem;
    margin: 0;
    font-weight: normal
}

.footer ul {
    list-style: disc;
    margin-left: 2.4em
}

.footer ul li {
    margin-bottom: 0.4em
}

.footer-nav {
    display: block;
    margin: 0.8em 0;
    overflow: hidden
}

.footer-nav li {
    display: inline-block;
    margin: 0 0.8em 0.8em 0;
    padding-right: 0.8em;
    border-right: 1px solid #FFF
}

.footer-nav li:last-child {
    border-right: 0px none;
    margin-right: 0;
    padding-right: 0
}

.cart-nav {
    display: block;
    text-align: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #FFF;
    color: #999;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2);
    z-index: 100
}

.cart-nav li {
    display: inline-block;
    padding: 0 0;
    width: 32%;
    text-align: center;
    vertical-align: middle;
    line-height: 120%
}

.cart-nav li:last-child {
    padding: 0
}

.cart-nav li:last-child a {
    background: #999;
    width: 100%;
    padding: 0.4em 0;
    color: #FFF
}

.cart-nav li:last-child a:hover {
    background: #ff884c;
    text-decoration: none
}

.cart-nav li small {
    display: block
}

.cart-nav li strong {
    color: #ff884c
}

.cart-list {
    display: block;
    overflow: hidden;
    margin-bottom: 0.8em
}

.cart-item, .cart-item-preview {
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 0.2em 0;
    padding: 0.8em
}

.cart-item dt, .cart-item-preview dt {
    display: none;
    opacity: .5
}

.cart-item dd, .cart-item-preview dd {
    padding-bottom: 0.8em
}

.cart-total {
    text-align: right;
    padding: 0.8em;
    margin-bottom: 0.8em;
    background: #FFF;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #6A932C
}

.cart-total span {
    display: inline-block;
    margin-right: 1.6em;
    opacity: .5;
    color: #999
}

.cart-shipping {
    text-align: right;
    padding: 0.8em;
    margin-bottom: 0.8em;
    background: #FFF;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #999
}

.cart-shipping span {
    display: inline-block;
    margin-right: 1.6em;
    opacity: .5;
    color: #999
}

.cart-actions {
    overflow: hidden;
    margin-bottom: 100px
}

.cart-actions .button-empty {
    color: #6cc
}

.cart-actions .fa-refresh:before {
    margin-right: 0.4em
}

.cart-preview {
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border-left: 0.2em solid rgba(153, 153, 153, 0.4)
}

.cart-preview h2 {
    padding: 0 0.8em;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, sans-serif
}

.cart-preview .product-title, .cart-preview .cart-shipping, .cart-preview .cart-total {
    font-size: 1rem !important
}

.cart-preview .cart-total {
    margin-bottom: 0
}

.cart-preview dt.cart-item-total {
    clear: left
}

.cart-preview .coupon-item-remove, .cart-preview .coupon-item-units, .cart-preview .coupon-item-total {
    display: none !important
}

.cart-item-preview .cart-item-image {
    float: right
}

.cart-item-preview .cart-item-image img {
    max-width: 100px
}

.cart-item-preview dt.cart-item-price, .cart-item-preview dt.cart-item-total, .cart-item-preview dt.cart-item-units {
    display: block;
    float: left;
    padding-right: 0.8em
}

.cart-item-preview .cart-item-price, .cart-item-preview .cart-item-total {
    float: left;
    padding-right: 1.6em
}

.cart-item-preview .cart-item-units {
    max-width: 80px;
    overflow: hidden
}

.cart-item-preview .cart-item-remove {
    clear: both;
    width: 100%
}

.cart-item-preview .cart-item-remove a {
    width: 100%
}

.coupon-item-preview dt.coupon-item-value, .coupon-item-preview dt.coupon-item-total, .coupon-item-preview dt.coupon-item-units {
    display: block;
    float: left;
    padding-right: 0.8em
}

.coupon-item-preview .coupon-item-value, .coupon-item-preview .coupon-item-total {
    float: left;
    padding-right: 1.6em
}

.coupon-item-preview .coupon-item-units {
    max-width: 80px;
    overflow: hidden
}

.coupon-item-preview .coupon-item-remove {
    clear: both;
    width: 100%
}

.coupon-item-preview .coupon-item-remove a {
    width: 100%
}

.coupon-item-preview dd {
    min-width: 120px
}

.switch {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
    position: relative;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.switch input {
    opacity: 0;
    position: absolute;
    top: 9px;
    left: 10px;
    padding: 0
}

.switch label {
    color: transparent;
    background: #bbb;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    text-indent: 100%;
    width: 4em;
    height: 2.08em;
    cursor: pointer;
    transition: left 0.15s ease-out;
    border-radius: 100px
}

.switch label:after {
    width: 1.6em;
    height: 1.6em;
    padding-top: 4px;
    font-family: "fontawesome";
    text-indent: 0;
    content: "";
    text-align: center;
    color: #bbb;
    display: block;
    background: #FFF;
    position: absolute;
    top: .2rem;
    left: .3rem;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: translate3d(0, 0, 0);
    transition: left 0.15s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    font-weight: normal;
    border-radius: 100px
}

.switch input:checked + label {
    background: #6A932C
}

.switch input:checked + label:after {
    left: 2.08em;
    color: #6A932C;
    content: "\f00c"
}

.switch input + label {
    margin-left: 0;
    margin-right: 0
}

.switch input[type="checkbox"] + label, .switch input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.53333em;
    margin-right: 0.4em;
    margin-bottom: 0;
    vertical-align: baseline
}

.blog-post {
    background: #FFF;
    border-bottom: 1px solid #CCC;
    position: relative
}

.blog-post h1 {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 2.8rem;
    font-weight: normal;
    padding-top: 0.8em
}

.blog-post h2 {
    text-align: left;
    margin: 0 auto 0.4em;
    font-family: "Open Sans", Tahoma, sans-serif;
    font-size: 1.7rem;
    font-weight: normal
}

.blog-post-mini {
    padding: 1.6em;
    background: #EDEDED;
    margin-bottom: 1.6em
}

.blog-post-content {
    padding: 1.6em;
    line-height: 150%;
    max-width: 800px;
    margin: 0 auto 3.2em
}

.blog-post-content p {
    margin-bottom: 0.8em
}

.blog-post-content ul {
    list-style: disc;
    margin-left: 1.6em
}

.blog-post-content ol {
    list-style: decimal;
    margin-left: 1.6em
}

.blog-post-date {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    margin-top: -1.6em;
    padding: 0.8em;
    background: #CCC;
    font-size: 0.8rem;
    color: #FFF
}

.pages {
    background: #FFF
}

.pages .cart-nav, .pages .category-nav {
    display: none
}

.pagination {
    clear: both;
    display: block;
    text-align: center;
    margin-bottom: 1.6em
}

.pagination li {
    display: inline-block
}

.pagination a {
    display: inline-block;
    padding: 0.4em;
    background: #FFF;
    margin: 0 0.4em
}

.pagination a:hover {
    text-decoration: none;
    background: #6cc;
    color: #FFF
}

.pagination .active {
    padding: 0.4em;
    font-weight: bold;
    background: #ff884c;
    color: #FFF;
    margin: 0 0.4em
}

.pagination .disabled {
    padding: 0.4em;
    opacity: .3;
    background: #d9d9d9;
    margin: 0 0.4em
}

.breadcrumb {
    background: rgba(255, 255, 255, 0.9);
    padding: 0.4em;
    margin-bottom: 0.8em
}

.breadcrumb ul {
    margin-top: 0
}

.breadcrumb li {
    display: inline-block;
    margin-right: 0.8em
}

.breadcrumb a {
    display: inline-block;
    margin-right: 0.4em;
    color: #999
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none
    }

    .mobile.d-ib, .mobile.d-b {
        display: none !important
    }

    .desktop {
        display: block !important
    }

    .desktop.d-ib, .desktop.inline-block {
        display: inline-block !important
    }

    td.desktop, th.desktop {
        display: table-cell !important
    }

    .header {
        text-align: left
    }

    .header .col-1-2 {
        position: relative;
        min-height: 82px
    }

    .header .user-nav {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(153, 153, 153, 0.2);
        padding: 0.4em 1.6em 0
    }

    .header .cart-nav {
        position: absolute;
        min-width: 300px;
        bottom: -1.6em;
        right: 0
    }

    .category-nav {
        display: block;
        position: relative;
        margin: 0;
        padding-bottom: 2px;
        overflow: visible
    }

    .category-nav li {
        display: inline-block;
        margin: 0.8em 0 0 0;
        vertical-align: top
    }

    .category-nav li.expand {
        margin-bottom: 4em
    }

    .category-nav li.expand a {
        border-color: #FFF;
        position: relative
    }

    .category-nav li.expand a:hover {
        text-decoration: none;
        color: #FFF;
        background: #6cc
    }

    .category-nav li.expand a.active {
        background: #ff884c;
        color: #FFF
    }

    .category-nav a {
        background: #FFF;
        display: inline-block;
        padding: 0.8em;
        box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2)
    }

    .category-nav a.active {
        border-color: #ff884c;
        background: #ff884c;
        color: #FFF
    }

    .category-nav a:hover {
        text-decoration: none;
        color: #FFF;
        background: #6cc
    }

    .category-nav li > ul {
        background: #FFF;
        box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2);
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0
    }

    .category-nav li > ul li {
        margin: 0
    }

    .category-nav li > ul a {
        border: 0px none;
        padding: 0.4em;
        margin: 0.4em;
        color: #ff884c;
        box-shadow: 0 0 0
    }

    .category-nav li > ul a.active {
        border-color: #ff884c;
        background: #ff884c;
        color: #FFF
    }

    .category-nav li > ul a:hover {
        border-color: #FFF;
        text-decoration: none;
        color: #FFF;
        background: #999
    }

    .product-list {
        overflow: hidden
    }

    .product-list .product-item {
        float: left;
        width: 31%;
        margin: 0 1% 2%;
        box-sizing: border-box
    }

    .product-list .product-thumbnail {
        min-height: 266px
    }

    .product-to-basket-group .product-to-basket {
        width: 44%;
        margin: 0 3% 3% 0;
        float: left;
        min-height: 125px
    }

    .product-to-basket-group p {
        text-align: right
    }

    .cart-item {
        position: relative;
        overflow: visible;
        min-height: 120px
    }

    .cart-item dt {
        display: block;
        position: absolute;
        top: 0.8em;
        padding: 0 0.8em
    }

    .cart-item dd {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0
    }

    .cart-item .product-thumbnail {
        margin-bottom: 0;
        min-height: 80px;
        width: 100%
    }

    .cart-item dt.cart-item-image, .cart-item dt.cart-item-remove {
        display: none
    }

    .cart-item dd.cart-item-image {
        width: 12%;
        box-sizing: border-box;
        padding-right: 0.8em
    }

    .cart-item dt.cart-item-name {
        left: 12%
    }

    .cart-item dd.cart-item-name {
        width: 50%
    }

    .cart-item dt.cart-item-units {
        left: 62%
    }

    .cart-item dd.cart-item-units {
        width: 5%
    }

    .cart-item dd.cart-item-units input {
        padding-left: 0;
        padding-right: 0
    }

    .cart-item dt.cart-item-price {
        left: 69%
    }

    .cart-item .cart-item-price {
        width: 10%
    }

    .cart-item dt.cart-item-total {
        left: 79%
    }

    .cart-item .cart-item-total {
        width: 10%
    }

    .cart-item dd.cart-item-remove {
        width: 9%
    }

    .cart-item .cart-item-units, .cart-item .cart-item-price, .cart-item .cart-item-total, .cart-item .cart-item-remove {
        text-align: right
    }

    .order-item {
        position: relative;
        overflow: visible;
        min-height: 120px
    }

    .order-item dt {
        display: block;
        position: absolute;
        top: 0.8em;
        padding: 0 0.8em
    }

    .order-item dd {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-bottom: 0
    }

    .product-thumbnail {
        margin-bottom: 0;
        min-height: 80px;
        width: 100%
    }

    dt.order-item-image {
        display: none
    }

    dd.order-item-image {
        width: 12%;
        box-sizing: border-box;
        padding-right: 0.8em
    }

    dt.order-item-id {
        left: 12%
    }

    dd.order-item-id {
        width: 35%
    }

    dt.order-item-state {
        left: 46%
    }

    dd.order-item-state {
        width: 15%
    }

    dt.order-item-date {
        left: 64%
    }

    .order-item-date {
        width: 15%
    }

    dt.order-item-total {
        left: 79%
    }

    .order-item-total {
        width: 15%
    }

    .order-item-total, .order-item-date, .order-item-state {
        text-align: right
    }

    .cart-actions .button, .cart-actions .form-stripe button, .form-stripe .cart-actions button, .cart-actions .login-social a, .login-social .cart-actions a {
        padding: 0.8em 1.6em;
        margin-left: 0.8em;
        float: right
    }

    .cart-actions .cart-actions-continue {
        float: left
    }

    .coupon-add {
        max-width: 50%;
        margin-top: -230px;
        padding: 0.8em;
        margin-left: -1px;
        background: #EDEDED
    }

    input {
        width: auto
    }

    button {
        width: auto
    }

    .coupon-item {
        position: relative;
        min-height: 80px
    }

    .coupon-item dt {
        display: block;
        position: absolute;
        top: 0.8em;
        padding: 0
    }

    .coupon-item dd {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 1.06667em 0 0 0
    }

    .product-thumbnail {
        margin-bottom: 0;
        min-height: 80px;
        width: 100%
    }

    dt.coupon-item-remove {
        display: none
    }

    dd.coupon-item-code {
        width: 12.5%
    }

    dt.coupon-item-name {
        left: 14%
    }

    dd.coupon-item-name {
        width: 50%
    }

    dt.coupon-item-units {
        left: 64%
    }

    dd.coupon-item-units {
        width: 5%;
        text-align: center
    }

    dt.coupon-item-value {
        left: 68%
    }

    .coupon-item-value {
        width: 10%
    }

    dt.coupon-item-total {
        left: 78%
    }

    .coupon-item-total {
        width: 10%
    }

    dd.coupon-item-remove {
        width: 9%
    }

    .coupon-item-units, .coupon-item-value, .coupon-item-total, .coupon-item-remove {
        text-align: right
    }

    .address-list .address-item {
        width: 47%;
        display: inline-block;
        vertical-align: top;
        margin: 0 1% 1.6em
    }
}

@media handheld, only screen and (max-width: 767px) {
    .desktop {
        display: none
    }

    .desktop.d-ib, .desktop.d-b {
        display: none !important
    }

    .mobile {
        display: block !important
    }

    .mobile.d-ib, .mobile.inline-block {
        display: inline-block !important
    }

    td.mobile, th.mobile {
        display: table-cell !important
    }

    .category-nav {
        display: block;
        overflow: hidden
    }

    .category-nav li {
        display: block;
        overflow: hidden;
        padding: 0;
        text-align: center;
        margin-bottom: 1px
    }

    .category-nav li a {
        display: block;
        margin: 2px;
        padding: 0.8em;
        background: #FFF;
        color: #ff884c;
        box-shadow: 0 2px 2px rgba(153, 153, 153, 0.2)
    }

    .category-nav li a:hover {
        text-decoration: none;
        background: #ff884c;
        color: #FFF
    }

    .category-nav li a.active {
        border-color: #ff884c;
        background: #ff884c;
        color: #FFF
    }

    .category-nav li > ul {
        margin-left: 1.6em
    }

    .cart-item-image {
        float: right
    }

    .cart-item-image img {
        max-width: 100px
    }

    dt.cart-item-price, dt.cart-item-total, dt.cart-item-units {
        display: block;
        float: left;
        padding-right: 0.8em
    }

    .cart-item-price, .cart-item-total {
        float: left;
        padding-right: 1.6em
    }

    .cart-item-units {
        max-width: 80px;
        overflow: hidden
    }

    .cart-item-remove {
        clear: both;
        width: 100%
    }

    .cart-item-remove a {
        width: 100%
    }

    .order-item-image {
        float: right
    }

    .order-item-image img {
        max-width: 100px
    }

    dt.order-item-total, dt.order-item-date, dt.order-item-state {
        display: block;
        float: left;
        padding: 0 0.8em 0.8em 0;
        clear: left
    }

    dd.order-item-total, dd.order-item-date, dd.order-item-state {
        float: left;
        padding-right: 1.6em
    }

    dd.order-item-total {
        color: #6A932C;
        font-weight: bold
    }

    .cart-actions {
        padding-top: 4em
    }

    .cart-actions .button, .cart-actions .form-stripe button, .form-stripe .cart-actions button, .cart-actions .login-social a, .login-social .cart-actions a {
        display: block;
        width: 100%;
        margin-bottom: 1.6em
    }

    .coupon-add input {
        width: 60%
    }

    .coupon-add button {
        width: 38%
    }

    dt.coupon-item-value, dt.coupon-item-total, dt.coupon-item-units {
        display: block;
        float: left;
        padding-right: 0.8em
    }

    .coupon-item-value, .coupon-item-total {
        float: left;
        padding-right: 1.6em
    }

    .coupon-item-units {
        max-width: 80px;
        overflow: hidden
    }

    .coupon-item-remove {
        clear: both;
        width: 100%
    }

    .coupon-item-remove a {
        width: 100%
    }
}