.order-progress,.order-progress-complete {
    width: 240px;
    margin: 0 auto;
    height: 32px;
    background:url(img/progress.png);
    position:relative;
}
.order-progress-size-3, .order-progress-size-3 .order-progress-complete{
    width: 240px;
}
.order-progress-size-4, .order-progress-size-4 .order-progress-complete{
    width: 333px;
}
.order-progress-size-5, .order-progress-size-5 .order-progress-complete{
    width: 426px;
}
.order-progress-size-6, .order-progress-size-6 .order-progress-complete{
    width: 520px;
}
.order-progress-size-7, .order-progress-size-7 .order-progress-complete{
    width: 612px;
}
.order-progress-complete {
    background-position: 0 57px;
    margin-top: 0;
    position: absolute;
    left: 0;
}
.order-progress-complete .order-progress-marker{
    position: absolute;
    top: 0;
    right: -26px;
    background:url(img/markers.png);
    width: 26px;
    height: 32px;
}
.order-progress .order-progress-status-1 {
    width: 19px;
}
.order-progress .order-progress-status-2 {
    width:111px;
}
.order-progress .order-progress-status-3 {
    width:203px;
}
.order-progress .order-progress-status-4 {
    width:295px;
}
.order-progress .order-progress-status-5 {
    width:386px;
}
.order-progress .order-progress-status-6 {
    width:478px;
}
.order-progress .order-progress-status-7 {
    width:570px;
}
.order-progress .order-progress-status-2 .order-progress-marker{
    background-position: -26px 0;
}
.order-progress .order-progress-status-3 .order-progress-marker{
    background-position: -52px 0;
}
.order-progress .order-progress-status-4 .order-progress-marker{
    background-position: -78px 0;
}
.order-progress .order-progress-status-5 .order-progress-marker{
    background-position: -104px 0;
}
.order-progress .order-progress-status-6 .order-progress-marker{
    background-position: -130px 0;
}
.order-progress .order-progress-status-7 .order-progress-marker{
    background-position: -156px 0;
}

.checkout-actions {
    overflow: hidden;
    position: relative;
    min-height: 65px;
}
.checkout-actions .order-progress {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -127px;
}
.checkout-actions .order-progress-size-3 {
    margin-left: -127px;
}
.checkout-actions .order-progress-size-4 {
    margin-left: -160px;
}
.checkout-actions .order-progress-size-5 {
    margin-left: -210px;
}
.checkout-actions .order-progress-size-6 {
    margin-left: -260px;
}
.checkout-actions .order-progress-size-7 {
    margin-left: -306px;
}

.checkout-actions .button {
    float: left;
}

.checkout-actions .button-secondary {
    float: right !important;
}

.checkout-actions-top {
    padding: 0 0 0;
    border-top:1px solid white;
}