{% extends "FOSUserBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/Login-Form-Clean.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="login-clean">
        <form role="form" action="{{ path('fos_user_security_check') }}" method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><img src="{{ asset('bundles/zoolyxcore/images/Zoolyx.png') }}"></div>
            <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Paswoord" required>
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">{% trans %}login.persistent{% endtrans %}</label>
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block" type="submit">{% trans %}login.login{% endtrans %}</button>
            </div>
            <div class="form-group">
                <a class="btn btn-default btn-block" type="button" href="{{ path('zoolyx_account_registration') }}">{% trans %}login.register{% endtrans %}</a>
            </div>
            <a href="{{ path('zoolyx_account_forgot_password') }}" class="forgot">{% trans %}login.forgotten{% endtrans %}</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </form>
    </div>

{% endblock fos_user_content %}
