{% extends "ZoolyxCoreBundle:Veterinary:Report/Line/layout.html.twig" %}

{% block request_id %}{{ report.practiceReference }}{% endblock %}
{% block date_created %}{% trans %}message.afwachting{% endtrans %}{% endblock %}

