{% extends "ZoolyxCoreBundle:Veterinary:Report/Line/layout.html.twig" %}

{% block anchor %}<a href="{{ path("zoolyx_report",{ 'hash': report.hash}) }}" style="color:black; padding:0">{% endblock %}
{% block anchor_close %}</a>{% endblock %}
{% block pet_image %}<img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ reportBuilder.petManager.getSpeciesNameForReport(report) ~ '.png', absolute=true) }}" alt="{{ reportBuilder.petManager.getSpeciesNameForReport(report) }}">{% endblock %}
{% block pet_name %}{{ report | reportType | firstUpper}}{% endblock %}
{% block question %}{% if reportBuilder.hasQuestion(report) %}<a href="{{ path('zoolyx_report_question', {'hash': report.hash}) }}" style="font-size: 25px; color: {% if reportBuilder.QuestionHasNewEvent(report) %}red{% else %}lightgrey{% endif %}"><span class="glyphicon glyphicon-envelope"></span></a>{% endif %}{% endblock %}
{% block owner %}{% if report.owner %}{{ report.owner | ownerName }}{% endif %}{% endblock %}
{% block request_id %}{{ report.requestId }}{% endblock %}
{% block practice_reference %}{{ report.practiceReference }}{% endblock %}
{% block date_received %}{{ reportBuilder.getDateReceived(report) | niceDate }}{% endblock %}
{% block date_created %}
    {% if report | isCompleted %}
       <span class="report_completed">{{ report.createdOn | niceDate }}</span>
    {% else %}
       {{ report.createdOn | niceDate }}
    {% endif %}
{% endblock %}

