{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Attention!</strong> Vous êtes sur le point de retirer les droits de gestion de {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} ({{ veterinaryPractice.veterinary.account.email }}) pour le cabinet{{ veterinaryPractice.practice.name }}.
            </div>
            <p>Par conséquence:</p>
            <ul>
                <li>Ce compte/vétérinaire ne peut plus ajouter, enlever ou transférer des autres membres.</li>
                <li>Ce compte/vétérinaire ne peut plus donner des droits d'accès aux autres membres du cabinet.</li>
                <li>Ce compte/vétérinaire ne peut plus modifier l'adresse du cabinet.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_remove_admin_confirm', {id: id, veterinaryPracticeId:veterinaryPractice.id}) }}" class="btn btn-success">Bevestig</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}