{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Opgelet!</strong> Je staat op het punt {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} ({{ veterinaryPractice.veterinary.account.email }}) toe te voegen aan de praktijk {{ veterinaryPractice.practice.name }}.
            </div>
            <p>Verleende rechten:</p>
            <ul>
                <li>Dit account/dierenarts krijgt toegang tot alle rapporten van de praktijk.</li>
                <li>Alle andere leden van de praktijk krijgen toegang tot alle rapporten die reeds verbonden zijn aan dit account/dierenarts.</li>
                <li>Dit account/dierenarts kan staalophaling vragen voor het praktijkadres.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <form action="{{ path('zoolyx_practice_add_veterinary_confirm', {id: id}) }}" method="post">
                <input type="hidden" name="transfer_code" value="{{ veterinaryPractice.transferCode }}" />
                <input type="submit" class="btn btn-success" value="Bevestig" />
            </form>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}