{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Attention!</strong> Vous êtes sur le point d'ajouter {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} ({{ veterinaryPractice.veterinary.account.email }}) au cabinet{{ veterinaryPractice.practice.name }}.
            </div>
            <p>Par conséquence:</p>
            <ul>
                <li>Ce compte/vétérinaire aura accès aux tous les rapports du cabinet.</li>
                <li>Les autres membres auront accès aux rapports existants déjà liés à ce compte/vétérinaire.</li>
                <li>Ce compte/vétérinaire peut demander le passage du coursier à l'adresse du cabinet.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <form action="{{ path('zoolyx_practice_add_veterinary_confirm', {id: id}) }}" method="post">
                <input type="hidden" name="transfer_code" value="{{ veterinaryPractice.transferCode }}" />
                <input type="submit" class="btn btn-success" value="Bevestig" />
            </form>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}