{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Opgelet!</strong> Je staat op het punt {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} te verwijderen uit de praktijk {{ veterinaryPractice.practice.name }}.
            </div>
            <p>Gevolgen:</p>
            <ul>
                <li>Dit account/dierenarts geeft niet langer toegang tot alle rapporten van de praktijk.</li>
                <li>Dit account/dierenarts behoudt wel toegang tot rapporten waarvan hij/zij zelf de aanvrager was.</li>
                <li>Dit account/dierenarts kan niet langer een staalophaling vragen voor deze praktijk.</li>
                <li>De resterende leden van de praktijk behouden toegang tot rapporten waarvan het verwijderde account/dierenarts aanvrager was.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_remove_veterinary_confirm', {id: id, veterinaryPracticeId:veterinaryPractice.id}) }}" class="btn btn-success">Bevestig</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}