{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Attentions!</strong> Vous êtes sur le point d'enlever {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} du cabinet {{ veterinaryPractice.practice.name }}.
            </div>
            <p>Par conséquence:</p>
            <ul>
                <li>Ce compte/vétérinaire n'a plus accès à tous les rapports du cabinet.</li>
                <li>Ce compte/vétérinaire garde l'accès aux rapports dont il/elle était demandeur.</li>
                <li>Ce compte/vétérinaire ne peut plus demander le passage du coursier pour ce cabinet.</li>
                <li>Les membres restant du cabinet gardent l'accès aux rapports dont le compte/vétérinaire enlevé était demandeur.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_remove_veterinary_confirm', {id: id, veterinaryPracticeId:veterinaryPractice.id}) }}" class="btn btn-success">Bevestig</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}