{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                <strong>Opgelet!</strong> Je staat op het punt de beheersrechten van {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} ({{ veterinaryPractice.veterinary.account.email }}) in te trekken voor de praktijk {{ veterinaryPractice.practice.name }}.
            </div>
            <p>Ingetrokken rechten:</p>
            <ul>
                <li>Dit account/dierenarts kan niet langer andere leden toevoegen, verwijderen of transfereren.</li>
                <li>Dit account/dierenarts kan niet langer andere leden van de praktijk beheersrechten geven.</li>
                <li>Dit account/dierenarts kan niet langer het praktijkadres wijzigen.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_remove_admin_confirm', {id: id, veterinaryPracticeId:veterinaryPractice.id}) }}" class="btn btn-success">Bevestig</a>
        </div>
        <div class="col-xs-6 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Annuleer</a>
        </div>
    </div>
{% endblock %}