{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.instellingen{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.instellingen{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}

    <div class="row">
        <div class="col-xs-12">
            <p>
                De transfercode voor {{ veterinaryPractice.veterinary.firstName }} {{ veterinaryPractice.veterinary.lastName }} ({{ veterinaryPractice.veterinary.account.email }}) is helaas vervallen
            </p>
            <p>Gelieve aan deze dierenarts een nieuwe transfer code aan te vragen</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="{{ path('zoolyx_practice_settings', {id: id}) }}" class="btn btn-danger">Ga verder</a>
        </div>
    </div>
{% endblock %}