{% extends "ZoolyxShopBundle::Cart/Item/layout.html.twig" %}

{% block Item_Image %}
    <img src="/shop/analyse.png" alt="{{ cartLine.parameterProfile.reference }}" class="product-thumbnail" />
{% endblock %}

{% block Item_Name %}
    {{ cartLine.parameterProfile.reference }}
{% endblock %}
