<dl class="cart-item">
    <dt class="cart-item-image">Image</dt>
    <dd class="cart-item-image">
        {% block Item_Image %}{% endblock %}
    </dd>
    <dt class="cart-item-name">Item</dt>
    <dd class="cart-item-name">
        {% block Item_Name %}{% endblock %}
    </dd>
    <dt class="cart-item-units">{% block Item_Units %}{% endblock %}</dt>
    <dd class="cart-item-units">{% block Item_Units_Content %}{% endblock %}</dd>
    <dt class="cart-item-price">Price</dt>
    <dd class="cart-item-price">€{{ (cartLine.price/100) | number_format(2, ',', '.') }}</dd>
    <dt class="cart-item-total">Total</dt>
    <dd class="cart-item-total">€{{ (cartLine.price/100) | number_format(2, ',', '.') }}</dd>
    <dt class="cart-item-remove">Remove</dt>
    <dd class="cart-item-remove"><a href="{{ path('shop_cart_remove',{id:cartLine.id }) }}" class="fa fa-trash-o button"></a></dd>
</dl>