{% extends "ZoolyxShopBundle::Cart/Item/layout.html.twig" %}

{% block Item_Image %}
    {% if cartLine.product.visible %}
    <a href="{{ path('zoolyx_shop_product',{id:cartLine.product.id }) }}">
        <img src="/shop/{{ cartLine.product.imageName }}" alt="{{ cartLine.product.name(app.request.locale) }}" class="product-thumbnail" />
    </a>
    {% else %}
        <img src="/shop/{{ cartLine.product.imageName }}" alt="{{ cartLine.product.name(app.request.locale) }}" class="product-thumbnail" />
    {% endif %}
{% endblock %}

{% block Item_Name %}
    {% if cartLine.product.visible %}
        <a href="{{ path('zoolyx_shop_product',{id:cartLine.product.id }) }}" class="purchasable-title">{{ cartLine.product.name(app.request.locale) }}</a>
    {% else %}
        {{ cartLine.product.name(app.request.locale) }}
    {% endif %}
{% endblock %}

{% block Item_Units %}{% if cartLine.product.quantifiable %}Item{% endif %}{% endblock %}

{% block Item_Units_Content %}{% if cartLine.product.quantifiable %}<div><input type="number" id="store_cart_form_type_cart_cartLines_0_quantity" name="store_cart_form_type_cart[cartLines][0][quantity]" required="required" min="0" value="{{ cartLine.items }}" /></div>{% endif %}{% endblock %}