{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.contractors{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.contractors{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-xs-6">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Lims Referentie</th>
                    <th>translation</th>
                    <th>validation</th>
                    <th>Last Login</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for contractor in pager.currentPageResults %}
                    <tr>
                        <td>{{ contractor.getUserName() }}</td>
                        <td>{{ contractor.getEmail() }}</td>
                        <td>{{ contractor.getContractorId() }}</td>
                        <td>{{ contractor.getXslFile() }}</td>
                        <td>{{ contractor.getXsdFile() }}</td>
                        <td>
                            {% if contractor.getLastLogin() is null %}
                                never
                            {% else %}
                                {{ contractor.getLastLogin() | date("d M Y")}}
                            {% endif %}
                        </td>
                        <td>

                            <a class="btn btn-primary" href="{{ path('admin_contractor',{'contractorId':contractor.getId()}) }}">Edit contractor</a>

                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
    {% endif %}
{% endblock %}
