{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Contractor</h1>
        </div>
        <div class="col-xs-12">
            <a href="{{ path("admin_contractors") }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                terug naar overzicht
            </a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Contractor Details</h3>
            <table class="table">
                <form action="{{ path('admin_contractor',{'contractorId':contractor.getId()}) }}" method="POST">
                    <tr>
                        <td class="text-right">username</td>
                        <td>
                            <input type="text" name="username" class="form-control" value="{{ contractor.username }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">email</td>
                        <td>
                            <input type="text" name="email" class="form-control" value="{{ contractor.email }}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">LIMS referentie</td>
                        <td>
                            <input type="text" name="contractor_id" class="form-control" value="{{ contractor.contractorId }}" />
                        </td>
                    </tr>

                    <tr><td>&nbsp;</td><td><input type="submit" value="update contractor"/></td></tr>
                </form>

            </table>
        </div>
    </div>
{% endblock %}
