{% extends "ZoolyxCoreBundle::empty.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/report.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}


{% block Main %}
    <a href="{{ path('zoolyx_api_download',{'id': report.hash ~ report.language}) }}">download</a><br/>
    {% if report.hasOriginalRequest %}
        original request:
        {% for file in report.report.originalRequest.files %}
            <a href="{{ asset(attachment_path ~ file.name, absolute=true) }}" target="_new" />{{ file.name }}</a>
        {% endfor %}
        <br />
    {% else %}
        no original request found<br />
    {% endif %}
    {% for language in report.supportedLanguages %}
        {% if report.report.hasVersion(language) %}
            <a href="{{ path('zoolyx_api_view',{'id': report.hash ~ language}) }}">view report in {{ language }}</a><br>
        {% else %}
            <a href="{{ path('zoolyx_api_translate',{'id': report.hash, 'language' : language}) }}">request translation to {{ language }}</a><br>
        {% endif %}
    {% endfor %}
    {{ include('ZoolyxCoreBundle:Report:report.html.twig', { 'report': report, 'avoidPageBreakInGroup': false, 'isPdf': false }) }}
{% endblock %}