{% extends "ZoolyxCoreBundle::empty.html.twig" %}


{% block Main %}
    <p>a request to translate this report has been sent.</p>
    <a href="{{ path('zoolyx_api_view',{'id': reportId}) }}">go back to the report</a><br/>
{% endblock %}