{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block Request %}
    {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5}) }}
    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <p>
                    {% trans %}report_additional_request.confirmation{% endtrans %}
                </p>
                {% if additionalRequest %}
                    <a class="fusion-button button-default button-small" href="{{ path("zoolyx_report",{ 'hash': hash}) }}">
                        {% trans %}report_additional_request.return_to_report{% endtrans %}
                    </a>
                {% else %}
                    <p>
                   	 	{% trans %}request.pdf_instructions{% endtrans %}
                	</p>
                    <a class="fusion-button button-default button-small" href="{{ path("request_print_document") }}">
                        {% trans %}request.pdf_button{% endtrans %}
                    </a>
                    {% if app.user.hasRole("ROLE_VETERINARY") %}
						<p></p>
						<p>
							{% trans %}request.pickup{% endtrans %}
						</p>
						<a class="fusion-button button-default button-small" target="_blank" href="{{ path("veterinary_pickup") }}">
							{% trans %}request.pickup_button{% endtrans %}
						</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

