A{% if notification.isNew %} new lab report{% else %}n update{% endif %} has been uploaded for your myzoolyx account.

{% if report.owner.lastName is defined %}Owner: {{ report.owner.firstName }} {{ report.owner.lastName }}{% endif %}
Your ref: {{ report.practiceReference }}
Our ref: {{ report.requestId }}

{% for sample in report.defaultVersion.samples %}
  {{ sample.code }}({{ sample.pet.name }}) - {% if sample.completed %} Complete {% else %} Partial {% endif %}
{% endfor %}

Click this link to view the report:
{{ absolute_url_generator.generate('zoolyx_report',{'hash':report.hash}) }}

{% if user.hasRole('ROLE_VETERINARY') %}
Click this link to ask a question regarding this report:
{{ absolute_url_generator.generate('zoolyx_report_question',{'hash':report.hash}) }}
{% endif %}


If your account isn't activated yet or you forgot the password, please use the "Password forgotten"-link on the login page. Your username is {{ user.email }}.

If you want to receive less of these emails or no emails at all, configure your preferences here: {{ absolute_url_generator.generate('zoolyx_account_settings') }}