Er is een {% if notification.isNew %}nieuw rapport{% else %}update{% endif %} beschikbaar via myzoolyx.

{% if report.owner.lastName is defined %}Eigenaar: {{ report.owner.firstName }} {{ report.owner.lastName }}{% endif %}
Uw ref: {{ report.practiceReference }}
Onze ref: {{ report.requestId }}

{% for sample in report.defaultVersion.samples %}
  {{ sample.code }}({{ sample.pet.name }}) - {% if sample.completed %} Volledig {% else %} Voorlopig {% endif %}
{% endfor %}

Klik op deze link om het rapport te bekijken:
{{ absolute_url_generator.generate('zoolyx_report',{'hash':report.hash}) }}

{% if user.hasRole('ROLE_VETERINARY') %}
Klik op deze link om een vraag te stellen in verband met dit rapport:
{{ absolute_url_generator.generate('zoolyx_report_question',{'hash':report.hash}) }}
{% endif %}


Account nog niet geactiveerd of paswoord vergeten? Gebruik de "Paswoord vergeten"-link op de loginpagina. Uw gebruikersnaam is {{ user.email }}.

Indien u minder of geen emails hiervoor wenst te ontvangen, wijzig uw accountvoorkeuren hier: {{ absolute_url_generator.generate('zoolyx_account_settings') }}