{% if notification.isNew %}Un nouveau rapport{% else %}Une mise à jour{% endif %} est disponible via myzoolyx.

{% if report.owner.lastName is defined %}Propriétaire: {{ report.owner.firstName }} {{ report.owner.lastName }}{% endif %}
Votre réf: {{ report.practiceReference }}
Notre réf: {{ report.requestId }}

{% for sample in report.defaultVersion.samples %}
  {{ sample.code }}({{ sample.pet.name }}) - {% if sample.completed %} Complet {% else %} Partiel {% endif %}
{% endfor %}

Cliquez ce lien pour consulter le rapport:
{{ absolute_url_generator.generate('zoolyx_report',{'hash':report.hash}) }}

{% if user.hasRole('ROLE_VETERINARY') %}
Cliquez ce lien pour poser une question sur ce rapport.
{{ absolute_url_generator.generate('zoolyx_report_question',{'hash':report.hash}) }}
{% endif %}


Compte pas encore activé ou mot de passe oublié? Utilisez le lien "Mot de passe oublié" sur la page de connexion. Votre identifiant est {{ user.email }}.

Si vous souhaitez de recevoir moins ou aucun de ce type de message modifiez vos préférences ici: {{ absolute_url_generator.generate('zoolyx_account_settings') }}

