<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Laboverslag beschikbaar</title>
    <style type="text/css">
        .button__shadow {
            border-bottom: 2px solid rgba(0,0,0,0.1);
            border-radius: 4px;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }
        @media (min-width: 500px) {
            .button, .button__shadow {
                display: inline-block !important;
                width: auto !important;
            }
        }


        .body {
            font-family: -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, Helvetica, sans-serif;
            line-height: initial;
            max-width: 580px;
            font-size: 1rem
        }
        p, h1 {
            box-sizing: border-box;
            margin: 0;
            margin-bottom: 0.5em;
            padding: 0;
        }
        h1 {
            font-size: 1.25rem;
        }
        a.button-default {
            background: #204dd5;
        }
        a.button-alert {
            background: rgb(169, 0, 48);
        }
        a.button {
            border: 1px solid #000;
            border-radius: 3px;
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 1rem;
            font-weight: 600;
            padding: 12px 20px;
            text-align: center;
            text-decoration: none;
            width: 100%;
        }
        p.button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body class="body">
<h1>
    A{% if notification.isNew %} new lab report{% else %}update{% endif %} has been uploaded for your myzoolyx account.
</h1>
<p>
    {% if report.owner.lastName is defined %}Owner: {{ report.owner.firstName }} {{ report.owner.lastName }}<br />{% endif %}
    Your ref: {{ report.practiceReference }}<br />
    Our ref: {{ report.requestId }}<br />
</p>
<p>&nbsp;</p>
<table>
    {% for sample in report.defaultVersion.samples %}
    <tr>
        <td>{{ sample.code }}</td>
        <td>{{ sample.pet.name }}</td>
        <td>{% if sample.completed %} Complete {% else %} Partial {% endif %}</td>
    </tr>
    {% endfor %}
</table>
<p>
<span class="button__shadow">
    <a class="button button-default" href="{{ absolute_url_generator.generate('zoolyx_report',{'hash':report.hash}) }}">View the report</a>
</span>
</p>
<p>&nbsp;</p>
{% if user.hasRole('ROLE_VETERINARY') %}
<p>
	Click this button to ask a question regarding this report.
</p>
<p>
<span class="button__shadow">
    <a class="button button-alert" href="{{ absolute_url_generator.generate('zoolyx_report_question',{'hash':report.hash}) }}">Ask a question</a>
</span>
</p>
{% endif %}
<p>&nbsp;</p>
<p>
If your account isn't activated yet or you forgot the password, please use the "Password forgotten"-link on the login page. Your username is <strong>{{ user.email }}</strong>.
</p>
<p>&nbsp;</p>
<p>
If you want to receive less of these emails or no emails at all, configure your preferences.
</p>
<p>
<span class="button__shadow">
    <a class="button button-default" href="{{ absolute_url_generator.generate('zoolyx_account_settings') }}">Change preference</a>
</span>
<p>
{% if user.hasRole('ROLE_VETERINARY') %}
<a href="https://www2.zoolyx.be/latest-news-nl" target="_blank">
	<img src="https://www2.zoolyx.be/wp-content/uploads/2019/01/latest-news-nl.jpg" >
</a>
{% endif %}
</body>