{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxcore/css/ionicons.min.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxshop/css/progress.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/zoolyxcore/css/scroll-to.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block PageHeaderTitle %}
    {% if requestData is defined and requestData.isAdditionalRequest %}
        {% trans %}menu.bijaanvragen{% endtrans %}
    {% else %}
        {% trans %}menu.nieuwe_aanvraag{% endtrans %}
    {% endif %}
{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">
            {% if requestData is defined and requestData.isAdditionalRequest %}
                {% trans %}menu.bijaanvragen{% endtrans %}
            {% else %}
                {% trans %}menu.nieuwe_aanvraag{% endtrans %}
            {% endif %}
        </span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to the report" href="{% if app.user.hasRole("ROLE_SUPER_ADMIN") or app.user.hasRole("ROLE_ADMINISTRATOR") %}{{ path("admin_reports") }}{% elseif app.user.hasRole("ROLE_OWNER") %}{{ path("owner_report_index") }}{% else %}{{ path("veterinary_report_index") }}{% endif %}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>
    <div class="scroll_target clearfix width-100"/>
    {% block Message %}{% endblock %}
    {% block Request %}{% endblock %}
    <a href="#0" id="js-cd-top" class="cd-top">Top</a>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/scroll-to.js', absolute=true) }}"></script> 
{% endblock %}
