<li class="myzoolyx_row" role="presentation">
    <div class="row {% block row_header %}{% endblock %}">
        <div class="col-xs-6 col-sm-3 col-md-2">
            {% block veterinary %}{% endblock %}
        </div>
        {% block anchor %}{% endblock %}
        <div class="col-xs-6 col-sm-3 col-md-2">
            {% block pet %}
            <div class="row">
                <div class="col-xs-4">
                    {% block pet_image %}{% endblock %}
                </div>
                <div class="col-xs-6">
                    {% block pet_name %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3">
            {% block owner %}{% endblock %}
        </div>
        <div class="hidden-xs col-sm-1 col-md-2">
            {% block request_id %}{% endblock %}
        </div>
        <div class="hidden-xs col-sm-4 col-md-3">
            <div class="row">
                <div class="col-sm-6 text-right">
                    {% block date_received %}{% endblock %}
                </div>
                <div class="col-sm-6 text-right">
                    {% block date_created %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block anchor_close %}{% endblock %}
    <div class ="row">
	    <div class="col-xs-2">
    	      {% block question %}{% endblock %}
    	</div>
    </div>
</li>
