{% extends "ZoolyxCoreBundle:Contractor:Report/Line/layout.html.twig" %}

{% block veterinary %}{% trans %}report.veterinary{% endtrans %}{% endblock %}
{% block row_header %}myzoolyx_row_header{% endblock %}
{% block pet %}{% trans %}report.pet{% endtrans %}{% endblock %}
{% block owner %}{% trans %}report.owner{% endtrans %}{% endblock %}
{% block request_id %}{% trans %}report.sample_nr{% endtrans %}{% endblock %}
{% block completed %}{% trans %}report.state{% endtrans %}{% endblock %}
{% block date_received %}{% trans %}report.date_received{% endtrans %}{% endblock %}
{% block date_created %}{% trans %}report.update{% endtrans %}{% endblock %}

