{% extends "ZoolyxCoreBundle:Contractor:Report/Line/layout.html.twig" %}

{% block practice_reference %}{{ report.practiceReference }}{% endblock %}
{% block status %}{% trans %}message.afwachting{% endtrans %}{% endblock %}

