{% set column_header = 'yes' %}
{% extends "ZoolyxCoreBundle::Report/Row/layout.html.twig" %}

{% block column_result %}
    {{ include('ZoolyxCoreBundle::Report/Row/Result/cumulative_headers.html.twig') }}
{% endblock %}

{% block column_unit_content %}
    <span class="text-extra-small">{% trans into report.language %}report.unit{% endtrans %}</span>
{% endblock %}

{% block column_reference_content %}
    <span class="text-extra-small">{% trans into report.language %}report.reference{% endtrans %}</span>
{% endblock %}
