{% extends "ZoolyxCoreBundle::Report/Row/layout.html.twig" %}

{% block full %}
    {% for file in parameter.files %}
        <div class="col-xs-6">

            {% if file|isImage %}
                <a href="{{ asset(attachment_path ~ file.name, absolute=true) }}" target="_new">
                    <img class="img-responsive" src="{{ asset(attachment_path ~ file.name, absolute=true) }}" />
                </a>
            {% elseif file|isHtml %}
                <iframe id="frame" src="{{ asset(attachment_path ~ file.name, absolute=true) }}" style="width: 820px; height: 436px;"></iframe>
            {% else %}
                <a href="{{ asset(attachment_path ~ file.name, absolute=true) }}" target="_new">
                    <i class="fa {{ file | icon }} fa-3x"></i>
                </a>
            {% endif %}

        </div>
    {% endfor %}
    {% if parameter.reference.image %}
        <div class="col-xs-6">
            <a href="{{ asset('bundles/zoolyxcore/images/reference/' ~ parameter.reference.image, absolute=true) }}" target="_new">
                <img class="img-responsive" src="{{ asset('bundles/zoolyxcore/images/reference/' ~ parameter.reference.image, absolute=true) }}" />
            </a>
        </div>
    {% endif %}
{% endblock %}
