<div class="row {% block row_class %}{% endblock %}">
    {% block full %}
    <div class="col-xs-6 col-md-4 {% block column_description_class %}{% endblock %}">
        <div class="row">
            <div class="col-xs-10">
                {% block column_description_content %}{% endblock %}
            </div>
            <div class="col-xs-2 text-right" style="padding-left:0; padding-right: 5px;">
                {% block arrows %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-8 " style="padding-left:0;">
        {% block column_comment %}
        <div class="row">
            {% if (column_header is not defined or (column_header is defined and column_header != 'yes')) and parameter is not defined or (parameter is defined and parameter.parameterBase.unit is empty and parameter.reference.display is empty)  %}
            <div class="col-xs-12 col-md-6"> <!-- geen header, en plaats-->
            {% else %}
            <div class="col-xs-4 col-md-6">
            {% endif %}
                {% block column_result %}{% endblock %}
            </div>
            <div class="col-xs-8 col-md-6">
                <div class="row">
                    <div class="col-xs-4 col-md-3 ">
                        <div class="row">
                            {% block column_unit_content %}{% endblock %}
                        </div>
                    </div>
                    <div class="col-xs-8 {% block column_reference_content_width %}col-md-3{% endblock %} text-left">
                        <div class="row">
                            {% block column_reference_content %}{% endblock %}
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-5" style="padding-right:0;">
                        {% block column_bar_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
