{% extends "ZoolyxCoreBundle::Report/Row/layout.html.twig" %}

{% set unitaryValueManager = report.getUnitaryValueManager(parameter) %}
{% set parameterManager = report.getParameterManager(parameter) %}

{% block row_class %}{% if not parameterManager.isFinal %}parameter-is-not-final{% endif %} row-height{% endblock %}

{% block column_description_class %}{% if parameterManager.isTitle %}text-bold{% endif %}{% endblock %}

{% block column_description_content %}
    {{ parameterManager.description }}
        <div class="col-sm-2 hidden-xs">
            {% if parameterManager.hasValidLink %}
          <a href="{{ parameterManager.link }}" target="_new">
            <span class="glyphicon glyphicon-link"></span>
          </a>
            {% endif %}
        </div>
{% endblock %}

{% block arrows %}
    {% if parameterManager.exceeds %}<span class="glyphicon glyphicon-arrow-{% if parameterManager.isHigh %}up{% endif %}{% if parameterManager.isLow %}down{% endif %} red" aria-hidden="true"></span>{% endif %}{% if parameterManager.exceedsALot %}<span class="glyphicon glyphicon-arrow-{% if parameterManager.isVeryHigh %}up{% endif %}{% if parameterManager.isVeryLow %}down{% endif %} red" aria-hidden="true"></span>{% endif %}
{% endblock %}

{% block column_result %}
    {% if parameterManager.isCumulative%}
        {{ include('ZoolyxCoreBundle::Report/Row/Result/cumulative_parameter.html.twig', {report: report, parameter: parameter }) }}
    {% else %}
        {{ include('ZoolyxCoreBundle::Report/Row/Result/parameter.html.twig', {report: report, parameter: parameter }) }}
    {% endif %}
{% endblock %}

{% block column_unit_content %}
    <span class="text-extra-small">{{ parameterManager.unit }}</span>
{% endblock %}

{% block column_reference_content %}
    {% if parameter.reference %}
        {% if not unitaryValueManager.hasValidHigh %}
            {{ parameter.reference.display }}
        {% else %}
            <div class="monospace">
                {% set display = parameter.reference.display | prepareDisplay %}
                {% for i in 0..display|length %}
                    <div><span class="text-extra-small">{{ display[i:1] }}</span></div>
                {% endfor %}
                <div style="clear:both;"></div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block column_reference_content_width %}
    {% if unitaryValueManager.hasValidHigh %}
        col-md-3
    {% endif %}
{% endblock %}

{% block column_bar_content %}
    {% if unitaryValueManager.hasValidLowHigh %}
        <div class="unitary_bar">
            <div class="unitary_bar_element unitary_bar_full"></div>
            <div class="unitary_bar_element unitary_bar_segment unitary_bar_center"></div>
            <div class="unitary_bar_element unitary_bar_reference" style="left: {{ unitaryValueManager.getUnitaryValueBar }}%"></div>
        </div>
    {% elseif unitaryValueManager.hasValidHigh %}
        <div class="unitary_bar">
            <div class="unitary_bar_element unitary_bar_full"></div>
            <div class="unitary_bar_element unitary_bar_segment unitary_bar_low"></div>
            <div class="unitary_bar_element unitary_bar_reference" style="left: {{ unitaryValueManager.getUnitaryValueBar }}%"></div>
        </div>
    {% endif %}
{% endblock %}