{% extends "ZoolyxCoreBundle::Report/Row/layout.html.twig" %}

{% block column_comment %}
    {% set comment = report.getReferenceComment(sample,parameter) %}
    {% if comment != ''  %}
        <small><i>{{ report.getReferenceComment(sample,parameter) | nl2br}}</i></small><br>
    {% endif %}
{% endblock %}
