{% extends "ZoolyxCoreBundle::Report/Row/layout.html.twig" %}

{% block column_description_content %}
    {% trans into report.language %}report.sample_nr{% endtrans %}
{% endblock %}

{% block column_result %}
    {{ include('ZoolyxCoreBundle::Report/Row/Result/cumulative_samples.html.twig', {report: report}) }}
{% endblock %}
