<div class="row" style="margin-top:20px;">
    <div class="col-xs-offset-2 col-xs-10">
        {% trans %}report_additional_request.selected_sample{% endtrans %}
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <div class="row">
            <div class="col-xs-2">
                {{ sampleCode }}
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-1">
                        <img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ speciesName ~ '.png', absolute=true) }}" alt="">
                    </div>
                    <div class="col-xs-1">
                        {% if sample.pet.gender == "M" or sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                        {% if sample.pet.gender == "V" or sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                    </div>
                    <div class="col-xs-10">
                        {{ sample.pet.name | firstUpper}}
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                {{ sample.pet.chipNbr }}
            </div>
            <div class="col-xs-1">
                {{ status }}
            </div>
        </div>
    </div>
</div>
