{% extends "ZoolyxCoreBundle:Veterinary:Report/Line/layout.html.twig" %}

{% block row_class %}myzoolyx_row_header{% endblock %}
{% block row_header %}myzoolyx_row_header{% endblock %}
{% block pet %}{% trans %}report.pet{% endtrans %}{% endblock %}
{% block owner %}{% trans %}report.owner{% endtrans %}{% endblock %}
{% block request_id %}{% trans %}report.sample_nr{% endtrans %}{% endblock %}
{% block practice_reference %}{% trans %}report.your_reference{% endtrans %}{% endblock %}
{% block completed %}{% trans %}report.state{% endtrans %}{% endblock %}
{% block date_received %}{% trans %}report.date_received{% endtrans %}{% endblock %}
{% block date_created %}{% trans %}report.update{% endtrans %}{% endblock %}

