*,
*:before,
*:after { box-sizing: border-box; }
.frm_container input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select,
textarea
{
    font-size: 15px;
    width: 100%;
    padding: 0.5em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.frm_container input:focus,textarea:focus
{
    outline: 0;
    border-color: #ac1517;
}
.frm_container input[type="radio"] { display: none; }
.frm_container input[type="radio"] + label
{
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
}
.frm_container input[type="radio"] + label:first-of-type
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.frm_container input[type="radio"] + label:last-of-type
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.frm_container input[type="radio"] + label i { padding-right: 0.4em; }
.frm_container input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active
{
    background-color: #ac1517;
    color: #fff;
    border-color: #ac1517;
}
.frm_container select:first-of-type
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.frm_container select:last-of-type
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.frm_container select:focus,
select:active { outline: 0; }
.frm_container select option
{
    background-color: #7e7e7e;
    color: #fff;
}
.input-group
{
    margin-bottom: 1em;
    zoom: 1;
}
.input-group:before,
.input-group:after
{
    content: "";
    display: table;
}
.input-group:after { clear: both; }
.frm_container
{
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.frm_row
{
    zoom: 1;
    padding-top: 0.5em;
}
.frm_row:before,
.frm_row:after
{
    content: "";
    display: table;
}
.frm_row:after { clear: both; }
.frm_col-half
{
    padding-right: 10px;
    float: left;
    width: 50%;
}
.frm_col-half:last-of-type { padding-right: 0; }
@media only screen and (max-width: 540px)
{
    .frm_col-half
    {
        width: 100%;
        padding-right: 0;
    }
}