#viewport-area { min-height: 100%; }
.parameter-is-not-final { color: grey; }
.parameter-exceeds { background-color: #ccc; }

.category
{
    background-color: rgb(169, 0, 48);
	border: 1px solid #999;
	border-radius: 5px;
    color: white;
}

.parameter-profile
{
	cursor: pointer;
	border-radius: 5px;
}

.parameter-profile-completed { color: grey; }

.parameter-profile-selected { background-color: orange; }

.parameter-description-2
{
	font-style: italic;
	font-weight: bold;
	font-size: 10px;
}

.parameters-used
{
	font-style: italic;
	font-weight: bold;
	font-size: 10px;
	color: #f66;
}

.pagerfanta { }

.pagerfanta a,
.pagerfanta span
{
	display: inline-block;
	/*border: 1px solid blue;*/
	color: black;
	margin-right: .2em;
	padding: .25em .35em;
}

.pagerfanta a { text-decoration: none; }
.pagerfanta a:hover { background: #ccf; }
.pagerfanta .dots { border-width: 0; }

.pagerfanta .current
{
	background: #ccf;
	font-weight: bold;
}

.pagerfanta .disabled
{
	border-color: #ccf;
	color: #ccf;
}

.zlx_form input, .zlx_form select
{
	height: 34px;
	font-size: 14px;
	border-radius: 4px;
}

.zlx_form select
{
    color: black;
}

.zlx_form input[type="radio"], input[type="checkbox"] {
    height: 13px;
    line-height: normal;
}

.zlx_form .fusion-button {
	color: white;
}

.report_completed
{
    font-weight: bold;
    color: #337ab7;
}

.myzoolyx_row {
    border-top: 1px solid #e5e4e3;
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    font-size: 16px;
    line-height: 1.53846154;
    font-family: "Open Sans";
}

.myzoolyx_row2 {
    padding-bottom: 8px;
    padding-top: 8px;
    vertical-align: top;
    font-size: 16px;
    line-height: 1.53846154;
    font-family: "Open Sans";
}

.myzoolyx_row_header{
	font-weight: bold;
    background-color: rgb(169, 0, 48);
    border: 1px solid #999;
    border-radius: 5px;
    color: white;
}

@media only screen and (max-width: 960px)
{
	#page-title { min-height: 150px; }
}
.date_expected {
    color: darkgray;
    font-style: italic;
}