.pdf-header-content {
    padding-top: 30px;
}

.report-header-container {
    border: 1px solid #000;
    background-color: #eee;
    padding: 10px;
}

.no-page-break {
    display:block;
    page-break-inside: avoid;
}
.sample-container {
    border: 1px solid #000;
    background-color: #eee;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.parameter-group-container {
    border: 1px solid #000;
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 0;
    font-weight: bold;
}

.parameter-range {
    padding: 1px;
}

.text-bold {
    font-weight: bold;
}

.text-extra-small {
    font-size: x-small;
}

.row-height {
    min-height: 1.5em;
}

.monospace > div {
    float: left; /* Enable widths */
    width: 0.45em;            /* Set width across all characters */
    height: 0.5em;
    text-align: center;    /* Even out spacing */
}

.unitary_bar {
    width: 100%;
    border: 0 solid #000;
    position: relative;
    height: 18px;
    overflow: hidden;
}
.unitary_bar_element {
    position: absolute;
    top: 2px;
    height: 16px;
}
.unitary_bar_full {
    width: 100%;
    background-color: #ffaaaa;
    border: 0.1em solid #cccccc;
}
.unitary_bar_segment {
    width: 33.33%;
    background-color: #aaffaa;
    border-top: 0.1em solid #cccccc;
    border-bottom: 0.1em solid #cccccc;
}
.unitary_bar_low {
    left: 0;
}
.unitary_bar_center {
    left: 33.33%;
}
.unitary_bar_high {
    left: 66.67%;
}
.unitary_bar_reference {
    width: 0;
    height: 0;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-color: transparent;
    border-bottom: 16px solid black;
}

.red {
    color: red;
}

.spacer10 {
    height: 10px;
}
.spacer50 {
    height: 50px;
}