{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block scripts %}
    {{ parent() }}
    <script>
        var language = "{{ report.language }}";
    </script>
    <script type="text/javascript" src="{{ asset('bundles/zoolyxcore/js/profiles.js', absolute=true) }}"></script>
{% endblock %}

{% block Request %}
    <div class="checkout">
        <h1 class="checkout-title text-center">{% trans %}report_additional_request.select_profiles{% endtrans %}</h1>
        {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5,step: 2, buttonId: 'confirm'}) }}
    </div>
    
    {{ include('ZoolyxCoreBundle:Request:summary/selected_sample.html.twig') }}

    <hr>

	<div class="col-xs-12">
		<div class="row myzoolyx_row myzoolyx_row_header">
			<div class="col-xs-12">
				{% trans %}report_additional_request.selected_profiles{% endtrans %}
			</div>
		</div>
		<div class="row">
					<div id="selected-profiles-container">
			</div>
		</div>
    </div>
    
	<div class="col-xs-12">
		<div class="row myzoolyx_row">
			<div class="col-xs-12 text-right">
			{% trans %}report_samples.total{% endtrans %}: <span id="total">0</span>€
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
			Excl {{ router.requestData.vat }}% {% trans %}report_samples.vat{% endtrans %}
			</div>
		</div>
    </div>

    <div style="clear:both"></div>
    
    <div class="row zlx_form" style="margin-top:40px;">
        <div class="col-xs-12 col-sm-6" style="margin-bottom:20px">
            <div class="input-group">
                <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" data-toggle="tooltip" title="Search" id="search-button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom:20px">
            <div class="input-group">
                <input type="text" name="breed" id="breed" class="form-control" placeholder="{% trans %}menu.enter_filter_term{% endtrans %}" value="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" data-toggle="tooltip" title="Remove Filter" id="remove_filter">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
            <div id="breed-container" style="position:relative; display:none;">
                <div style="position:absolute; width:100%; max-height: 200px; overflow:hidden; overflow-y: scroll; z-index: 10">
                    <div class="list-group" id="breed-list"></div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-xs-12">
		<div id="profiles">
			<div class="row" id="categories-container"></div>
		</div>
    </div>

    <script>
        var categories = [
            {% for category in categories %}
            {
                reference: '{{ category.reference }}',
                description: '{{ category.description.description | replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""}) }}',
                profiles: [
                    {% for profile in category.parameterProfiles %}
                    {
                        reference: '{{ profile.reference }}',
                        description: '{{ profile.description.description | replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""})  }}',
                        description2:'{{ profile.description2 | replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""}) }}',
                        url: '{{ profile.url }}',
                        price: '{{ profile.price.value | kommaToDot }}',
                        paList: [{% for pa in profile.parameters %}'{{ pa.parameterId }}',{% endfor %}],
                        breedList: [{% for breed in profile.breeds %}'{{ breed.breedId }}',{% endfor %}]
                    },

                    {% endfor %}
                ]
            },
            {% endfor %}
        ];
        var parameters_in_report = [
            {% for parameter in parametersInSample %}
            {
                id: '{{ parameter.parameterBase.parameterId }}',
                description:'{{ parameter.parameterBase.description(report.language).description }}'
            },
            {% endfor %}
        ];
        var parameter_profiles_in_sample = [
            {% for parameterProfile in parameterProfilesInSample %}
            {
                'reference': '{{ parameterProfile.reference }}',
                'price': {{ parameterProfile.price.value }}
            },
            {% endfor %}
        ];
        var breeds = [
            {% for breed in breeds %}
            {
                'id': {{ breed.id }},
                'breed': '{{ breed.breedId }}',
                'description': '{{ breed.description }}'
            },
            {% endfor %}
        ];
        {% set pet = router.requestData.sample.pet %}
        var currentBreed = '{% if pet.breedCode is not null %}{{ pet.breedCode }}{% endif %}';
        var selectedProfiles =[
            {% for profile in selectedProfiles %}
            '{{ profile }}',
            {% endfor %}
        ];

        var instruction_add = '{% trans %}report_additional_request.select_profiles_instruction{% endtrans %}';
        var instruction_del = '{% trans %}report_additional_request.remove_profiles_instruction{% endtrans %}';
        var samplesUsedMessage = '{% trans %}report_additional_request.parameters_used{% endtrans %}';
        var allParametersUsedMessage = '{% trans %}report_additional_request.all_parameters_used{% endtrans %}';
        var overrides = '{% trans %}report_additional_request.overrides{% endtrans %}';

        var confirmAction = '{{ path('request_submit_profiles') }}';
    </script>
{% endblock %}

