{% extends "ZoolyxTicketBundle::layout.html.twig" %}

{% block tickets_container %}
    <script>
        var currentPath = '{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}';
        var filters = {{ filters | json_encode() | raw }};
        function toggleFilter(name) {
            if (inArray(name,filters)) {
                unset(name,filters)
            } else {
                filters.push(name);
            }
            setAction();
            $("#search-form").submit();
        }
        function clearFilter() {
            filters = [];
            setAction();
            $("#search-form").submit();
        }
        function setAction() {
            var keyword = $("#keyword").val();
            var parameters = [];
            if (filters.length) parameters.push('filter='+filters.join(','));
            if (keyword != '') parameters.push('key='+encodeURIComponent(keyword));

            var action = currentPath;
            if (parameters.length) action+= '?'+parameters.join('&');
            $("#search-form").attr("action", action);
        }
        function inArray(needle, haystack) {
            var length = haystack.length;
            for(var i = 0; i < length; i++) {
                if(haystack[i] == needle) return true;
            }
            return false;
        }
        function unset(needle,haystack) {
            var length = haystack.length;
            for(var i = 0; i < length; i++) {
                if(haystack[i] == needle) {
                    haystack.splice(i, 1);
                    return;
                }
            }
        }
    </script>
    <div class="row">
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 20px;">
            <div class="row">
                <div class="col-xs-2 text-center">
                    <span class="label label-warning" style="cursor:pointer" onclick="toggleFilter('New')">
                        New &nbsp;
                        {% if 'New' in filters %}
                            <span class="glyphicon glyphicon-ok" style="color:darkgreen;" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-3 text-center">
                    <span class="label label-primary" style="cursor:pointer" onclick="toggleFilter('Assigned')">
                        Assigned &nbsp;
                        {% if 'Assigned' in filters %}
                           <span class="glyphicon glyphicon-ok" style="color:darkgreen;" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-2 text-center">
                    <span class="label label-success" style="cursor:pointer" onclick="toggleFilter('Open')">
                        Open &nbsp;
                        {% if 'Open' in filters %}
                            <span class="glyphicon glyphicon-ok" style="color:darkgreen;" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-3 text-center">
                    <span class="label label-default" style="cursor:pointer" onclick="toggleFilter('Closed')">
                        Closed &nbsp;
                        {% if 'Closed' in filters %}
                            <span class="glyphicon glyphicon-ok" style="color:darkgreen;" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </span>
                </div>
                <div class="col-xs-2 text-center">
                    <span class="label label-danger" style="cursor:pointer" onclick="clearFilter()">
                        All &nbsp;
                        {% if filters | length == 0 %}
                            <span class="glyphicon glyphicon-ok" style="color:darkgreen;" aria-hidden="true"></span>&nbsp;
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-bottom: 10px;">
            <form id="search-form" action="" method="post" class="zlx_form">
                <div class="input-group">
                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="{% if keyword is defined%}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" data-toggle="tooltip" title="Search" onclick="setAction()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation">
            <div style="padding: 10px 15px;">
                <div class="row myzoolyx_row_header">
                    <div class="col-xs-1">
                        {% trans %}ticket.status{% endtrans %}
                    </div>
                    <div class="col-xs-3">
                        {% trans %}ticket.date{% endtrans %}
                    </div>
                    <div class="col-xs-3">
                        {% trans %}ticket.assigned_to{% endtrans %}
                    </div>
                    <div class="col-xs-3">
                        {% trans %}ticket.requestor{% endtrans %}
                    </div>
                    <div class="col-xs-2">
                        {% trans %}ticket.report{% endtrans %}
                    </div>
                </div>
            </div>
        </li>
        {% for ticket in pager.currentPageResults %}
            <li role="presentation">
                <a href="{{ path("zoolyx_ticket_ticket",{ 'id': ticket.id}) }}" style="color:black;{% if ticketValidator.hasNewContent(ticket, app.user) %}background-color:lightcoral{% endif %}">
                    <div class="row">
                        <div class="col-xs-1">
                            <span class="label
                                {% if ticket.state.name=="New" %}label-warning{% endif %}
                                {% if ticket.state.name=="Assigned" %}label-primary{% endif %}
                                {% if ticket.state.name=="Open" %}label-success{% endif %}
                                {% if ticket.state.name=="Closed" %}label-default{% endif %}
                            ">{{ ticket.state.name }}</span>
                        </div>
                        <div class="col-xs-3">
                            {{ ticket.lastUpdateOn | date('Y-m-d H:i:s')  }}

                        </div>
                        <div class="col-xs-3">
                            {% if ticket.assignedAdministrator %}
                                {{ ticket.assignedAdministrator.username}}
                            {% elseif ticket.assignedGroup %}
                        		{{ ticket.assignedGroup.name }}
                    		{% endif %}
                        </div>
                        <div class="col-xs-3">
                            {% if ticket.owner %}
                                {{ ticket.owner | accountName }}
                            {% else %}
                                <span style="color:#aaa;">{% trans %}ticket.unknown{% endtrans %}</span>
                            {% endif %}
                        </div>
                        <div class="col-xs-2">
                            {% if ticket.report %}
                                {{ ticket.report.requestId }}
                            {% else %}
                                <span style="color:#aaa;">{% trans %}ticket.unknown{% endtrans %}</span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}

    <div class="row">
        <div class="col-xs-12 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
    </div>
    
{% endblock %}