{% extends "ZoolyxTicketBundle::layout.html.twig" %}

{% block tickets_container %}
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans %}ticket.new_ticket{% endtrans %}</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-xs-12">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_errors(form.content) }}
                                {{ form_widget(form.content, {'attr': {'class': 'form-control internal-message'}}) }}
                            </div>
                            <div class="form-group">
                                <p>{% trans %}ticket.attachments{% endtrans %}</p>
                                {{ form_errors(form.attachments) }}
                                {{ form_widget(form.attachments, {'attr': {'class': 'form-control internal-message'}}) }}
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        {{ form_errors(form.internal) }}
                                        {{ form_widget(form.internal, {}) }}
                                        <label for="{{ form.internal.vars.id }}" id="message_label"></label>
                                        <span id="switch_internal_external"></span>
                                    </div>
                                </div>
                                <div class="col-xs-4 text-right">
                                    {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            console.log( "ready!" );
            var internalExternalCheckbox = $('#Ticket_internal');
            internalExternalCheckbox.hide();

            var updateInternalExternal = function() {
                if (internalExternalCheckbox.is(':checked')) {
					$('#Ticket_content').removeClass('external-message').addClass('internal-message');
					$('#message_label').html('This message is internal');
					var $switchButton1 = $('<a class="btn btn-xs btn-danger">Make public</a>');
					$switchButton1.click(function() {
						internalExternalCheckbox.prop("checked",false);
						updateInternalExternal(internalExternalCheckbox);
					});
					$('#switch_internal_external').html($switchButton1);
                } else {
                    $('#Ticket_content').removeClass('internal-message').addClass('external-message');
                    $('#message_label').html('This message is visible for the customer');
                    var $switchButton2 = $('<a class="btn btn-xs btn-success">Keep internal</a>');
                    $switchButton2.click(function() {
                        internalExternalCheckbox.prop("checked",true);
                        updateInternalExternal(internalExternalCheckbox);
                    });
                    $('#switch_internal_external').html($switchButton2);
                }
            };
            updateInternalExternal();
        });
    </script>
{% endblock %}