{% for event in events|reverse %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-3">
            {{ event.createdOn | date('Y-m-d H:i:s') }}
        </div>
        <div class="col-xs-9">
            {{ include('ZoolyxTicketBundle:TicketEvent:' ~ event|getTwig ~ '.html.twig', {  }) }}
        </div>
    </div>
{% endfor %}
