{% extends "ZoolyxTicketBundle::layout.html.twig" %}

{% block tickets_container %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% trans %}ticket.status{% endtrans %}: {{ ticket.state.name }}
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                    	<label class="control-label col-xs-4">
                    		{% trans %}ticket.requestor{% endtrans %} 
           				</label>
           			 	<div class="col-xs-8"> 
           					{{ ticket.owner | accountName }} ({{ ticket.owner.email }})
           				</div>
                    </div>


                    <hr>
                    <div class="row">
                        <label class="control-label col-xs-4">
                            {% trans %}ticket.assigned_to{% endtrans %}
                        </label>
                        <div class="col-xs-8">
                            {% if ticket.assignedAdministrator %}
                                {{ ticket.assignedAdministrator.userName }}
                            {% elseif ticket.assignedGroup %}
                                {{ ticket.assignedGroup.name }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <form action="{{ absolute_url(path('zoolyx_ticket_assign',{ 'id': ticket.id})) }}" method="get" class="col-xs-12 zlx_form">
                            <div class="col-xs-8">
                                <select  class="col-xs-12" name="assignmentId">
                                    <option value="1">{% trans %}ticket.select{% endtrans %}...</option>
                                    {% for administrationGroup in administrationGroups %}
                                        <option value="g_{{ administrationGroup.id }}">{{ administrationGroup.name }}</option>
                                        {% for administrator in administrationGroup.administrators %}
                                            <option value="p_{{ administrator.id }}">- {{ administrator.username }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="btn btn-default" type="submit" value="{% trans %}ticket.assign{% endtrans %}">
                        </form>
                    </div>

                    <hr>
                    <div class="row">
                     	<label class="control-label col-xs-4">
                        	{% trans %}ticket.copied_to{% endtrans %}
                		</label>
                		<div class="col-xs-8"> 
                    		{% if ticket.copied is empty %}
                        		 <p>geen</p>
                    		{% else %}
                        		{% for copy in ticket.copied %}
                                    <div class="row">
                                        <div class="col-xs-9">{{ copy.email }}</div>
                                        <div class="col-xs-3"><a href="{{ absolute_url(path('zoolyx_ticket_remove_copy',{ 'id': ticket.id, 'copyId': copy.id})) }}">X</a></div>
                                    </div>
                                {% endfor %}
                    		{% endif %}
                    	</div>
                    </div>
                    
                	<div class="row">
						<form action="{{ absolute_url(path('zoolyx_ticket_add_copy',{ 'id': ticket.id})) }}" method="get" class="col-xs-12 zlx_form">
							<div class="col-xs-8">
								<input type="email" name="email" placeholder="geef een emailadress">
							</div>
							<input class="btn btn-default" type="submit" value="{% trans %}ticket.add_copy{% endtrans %}">
						</form>
                    </div>

					<hr>
                    <div class="row">
                        <div  class="col-xs-8">
                            {% if ticket.state.name == "New" %}
                                <a href="{{ absolute_url(path('zoolyx_ticket_close',{id: ticket.id})) }}" class="btn btn-danger">{% trans %}ticket.close{% endtrans %}</a>
                            {% endif %}
                            {% if ticket.state.name == "Assigned" %}
                                <a href="{{ absolute_url(path('zoolyx_ticket_open',{id: ticket.id})) }}" class="btn btn-success">{% trans %}ticket.open{% endtrans %}</a>
                                <a href="{{ absolute_url(path('zoolyx_ticket_close',{id: ticket.id})) }}" class="btn btn-danger">{% trans %}ticket.close{% endtrans %}</a>
                            {% endif %}
                            {% if ticket.state.name == "Open" %}
                                <a href="{{ absolute_url(path('zoolyx_ticket_close',{id: ticket.id})) }}" class="btn btn-danger">{% trans %}ticket.close{% endtrans %}</a>
                            {% endif %}
                            {% if ticket.state.name == "Closed" %}
                                <a href="{{ absolute_url(path('zoolyx_ticket_open',{id: ticket.id})) }}" class="btn btn-warning">{% trans %}ticket.reopen{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans %}ticket.context{% endtrans %}</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="row">
                            <label class="control-label col-xs-2">
                              {% trans %}ticket.vet{% endtrans %}
                            </label>
                        </div>
                        {% if ticket.veterinary %}
                        <div class="row">
                                <div class="col-xs-2 text-right">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <div class="col-xs-10">
                                    {{ ticket.veterinary.firstName }} {{ ticket.veterinary.lastName }} ({{ ticket.veterinary.language }})
                                </div>
                            </div>
                        <div class="row">
                                <div class="col-xs-2 text-right">
                                    <span>@</span>
                                </div>
                                <div class="col-xs-10">
                                    {{ ticket.veterinary.account.email }}
                                </div>
                            </div>
                        <div class="row">
                            {% for telephoneNumber in ticket.veterinary | telephoneNumbers %}
                            <div class="col-xs-2 text-right">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </div>
                            <div class="col-xs-10">
                                {{ telephoneNumber.value }} ({{ telephoneNumber.description }})
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="row">
 					       <div class="col-xs-12 zlx_form">
 					         <div class="col-xs-8">
 					         	<input id="input-vet" type="text" placeholder="{% trans %}ticket.vet{% endtrans %}" />
 					         </div>
 					         <button id="select-vet" class="btn btn-default"> {% trans %}ticket.assign{% endtrans %}</button>
 					         <div id= "input-vet-results" class="col-xs-12" style="display:none"></div>
 	 				       </div>
 					    </div>
                    </div>

                    <hr>
                    <div>
                        <div class="row">
                            <label class="control-label col-xs-2">
                                {% trans %}ticket.owner{% endtrans %}
                            </label>
                        </div>
                        {% if ticket.contextOwner %}
                            <div class="row">
                                <div class="col-xs-2 text-right">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <div class="col-xs-10">
                                    {{ ticket.contextOwner.firstName }} {{ ticket.contextOwner.lastName }} ({{ ticket.contextOwner.language }})
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 text-right">
                                    <span>@</span>
                                </div>
                                <div class="col-xs-10">
                                    {{ ticket.contextOwner.account.email }}
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-xs-12 zlx_form">
                                <div class="col-xs-8">
                                    <input id="input-owner" type="text" placeholder="{% trans %}ticket.owner{% endtrans %}" />
                                </div>
                                <button id="select-owner" class="btn btn-default"> {% trans %}ticket.assign{% endtrans %}</button>
                                <div id= "input-owner-results" class="col-xs-12" style="display:none"></div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                            <label class="control-label col-xs-2">
                              {% trans %}ticket.report{% endtrans %}
                            </label>
                            <div class="col-xs-7">
                            {% if ticket.report %}
                                <a href="{{ absolute_url(path('zoolyx_report',{ 'hash': ticket.report.hash})) }}" target="_new">{{ ticket.report.requestId }}</a>
 		                    {% endif %}
                            </div>
                    </div>
 					<div class="row">
 					       <div class="col-xs-12 zlx_form">
 					         <div class="col-xs-8">
 					         	<input id="input-report" type="text" placeholder="{% trans %}ticket.report{% endtrans %}" />
 					         </div>
 					         <button id="select-report" class="btn btn-default"> {% trans %}ticket.assign{% endtrans %}</button>
 					         <div id= "input-report-results" class="col-xs-12" style="display:none"></div>
 	 				       </div>
 					</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans %}ticket.history{% endtrans %}</h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-xs-12">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="form-group">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control internal-message'}}) }}
                                {%for error in form.content.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                            <div class="form-group">
                                <p>{% trans %}ticket.attachments{% endtrans %}</p>
                                {{ form_widget(form.attachments, {'attr': {'class': 'form-control internal-message'}}) }}
                                {%for error in form.attachments.vars.errors%}
                                    <p style="color:red">{{error.message}}</p>
                                {%endfor%}
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        {{ form_errors(form.internal) }}
                                        {{ form_widget(form.internal, {}) }}
                                        <label for="{{ form.internal.vars.id }}" id="message_label"></label>
                                        <span id="switch_internal_external"></span>
                                    </div>
                                </div>
                                <div class="col-xs-4 text-right">
                                    {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <hr>
                    {{ include('ZoolyxTicketBundle:Default:ticket_history.html.twig', {  'events': ticket.events  }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var ticketId = "{{ ticket.id }}";
        var searchVeterinaryUrl = "{{ absolute_url(path('zoolyx_service_api_search_veterinary_base')) }}";
        var searchOwnerUrl = "{{ absolute_url(path('zoolyx_service_api_search_owner_base')) }}";
        var setVeterinaryUrl = "{{ absolute_url(path('zoolyx_ticket_set_veterinary_base')) }}";
        var setOwnerUrl = "{{ absolute_url(path('zoolyx_ticket_set_owner_base')) }}";
        var searchReportUrl = "{{ absolute_url(path('zoolyx_service_api_search_report_base')) }}";
        var setReportUrl = "{{ absolute_url(path('zoolyx_ticket_set_report_base')) }}";

        $(function() {
            console.log( "ready!" );
            var internalExternalCheckbox = $('#Ticket_internal');
            internalExternalCheckbox.hide();

            var updateInternalExternal = function() {
                if (internalExternalCheckbox.is(':checked')) {
					$('#Ticket_content').removeClass('external-message').addClass('internal-message');
					$('#message_label').html('This message is internal');
					var $switchButton1 = $('<a class="btn btn-xs btn-danger">Make public</a>');
					$switchButton1.click(function() {
						internalExternalCheckbox.prop("checked",false);
						updateInternalExternal(internalExternalCheckbox);
					});
					$('#switch_internal_external').html($switchButton1);
                } else {
                    $('#Ticket_content').removeClass('internal-message').addClass('external-message');
                    $('#message_label').html('This message is visible for the customer');
                    var $switchButton2 = $('<a class="btn btn-xs btn-success">Keep internal</a>');
                    $switchButton2.click(function() {
                        internalExternalCheckbox.prop("checked",true);
                        updateInternalExternal(internalExternalCheckbox);
                    });
                    $('#switch_internal_external').html($switchButton2);
                }
            };
            updateInternalExternal();

            $('#input-vet').click(function() {
                var $input = $('#input-vet'); 
                var $results = $('#input-vet-results'); 
                $results.append($results);
                $results.show();

                $input.on('keyup paste',function() {
                    var inputValue = $(this).val();
                    console.log('changed to '+inputValue);
                    if (inputValue.length > 3) {
                        $results.html('searching ...');
                        $.get( searchVeterinaryUrl+inputValue, function( data ) {
                            var results = data.results;
                            $results.html('');
                            if (results.length == 0) $results.html('No results');
                            _.each(results, function(result) {
                                var $result = $('<div style="cursor:pointer">'+result.first_name+' '+result.last_name+'</div>');
                                $results.append($result);
                                $result.click(function() {
                                    console.log('selecting '+result.id);
                                    $results.html('');
                                    document.getElementById('input-vet').value = result.first_name+' '+result.last_name;
                                    var $selectButton = $('#select-vet'); 
                                    $selectButton.click(function() {
                                        console.log('will select '+result.id);
                                        window.location.replace(setVeterinaryUrl+ticketId+'/'+result.id);
                                    })
                                })
                            });
                        })
                        .fail(function() {
                            console.log( "error" );
                        });
                    }
                })
            });
            
            $('#input-owner').click(function() {
                var $input = $('#input-owner'); 
                var $results = $('#input-owner-results'); 
                $results.append($results);
                $results.show();

                $input.on('keyup paste',function() {
                    var inputValue = $(this).val();
                    console.log('changed to '+inputValue);
                    if (inputValue.length > 3) {
                        $results.html('searching ...');
                        $.get( searchOwnerUrl+inputValue, function( data ) {
                            var results = data.results;
                            $results.html('');
                            if (results.length == 0) $results.html('No results');
                            _.each(results, function(result) {
                                var $result = $('<div style="cursor:pointer">'+result.first_name+' '+result.last_name+'</div>');
                                $results.append($result);
                                $result.click(function() {
                                    console.log(result);
                                    console.log('selecting '+result.id);
                                    $results.html('');
                                    document.getElementById('input-owner').value = result.first_name+' '+result.last_name;
                                    var $selectButton = $('#select-owner'); 
                                    $selectButton.click(function() {
                                        console.log('will select '+result.id);
                                        window.location.replace(setOwnerUrl+ticketId+'/'+result.id);
                                    })
                                })
                            });
                        })
                        .fail(function() {
                            console.log( "error" );
                        });
                    }
                })
            });
            
            $('#input-report').click(function() {
                var $input = $('#input-report'); 
                var $results = $('#input-report-results'); 
                $results.append($results);
                $results.show();

                $input.on('keyup paste',function() {
                    var inputValue = $(this).val();
                    console.log('changed to '+inputValue);
                    if (inputValue.length > 4) {
                        $results.html('searching ...');
                        $.get( searchReportUrl+inputValue, function( data ) {
                            var results = data.results;
                            $results.html('');
                            if (results.length == 0) $results.html('No results');
                            _.each(results, function(result) {
                                var $result = $('<div style="cursor:pointer">'+result.request_id+'</div>');
                                $results.append($result);
                                $result.click(function() {
                                    console.log('selecting '+result.request_id);
                                    $results.html('');
                                    //$results.append(result.request_id+'<br>');
                                    document.getElementById('input-report').value = result.request_id;
                                    var $selectButton = $('#select-report');                                     
                                    $selectButton.click(function() {
                                        console.log('will select '+result.id);
                                        window.location.replace(setReportUrl+ticketId+'/'+result.id);
                                    })
                                })
                            });
                        })
                                .fail(function() {
                                    console.log( "error" );
                                });
                    }
                })

            })
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}