{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.reports{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.reports{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-sm-12 col-md-2">
            {% block Menu %}{% endblock %}
        </div>
        <div class="col-sm-12 col-md-10">
            {% block Content %}{% endblock %}
        </div>
    </div>
{% endblock %}