{% extends "ZoolyxCoreBundle:Veterinary:Report/container.html.twig" %}
{% block Menu %}
    <ul class="nav nav-pills nav-stacked text-right">
        <li class="{% if veterinaryPracticeId == 0 and not shared %}active{% endif %}">
            <a href="{{ path("veterinary_report_index") }}">All</a>
        </li>
        {% for veterinaryPractice in veterinaryPractices %}
        <li class="{% if veterinaryPracticeId == veterinaryPractice.id %}active{% endif %}" >
            <a href="{{ path("veterinary_report_group", {'veterinaryPracticeId': veterinaryPractice.id}) }}" {% if veterinaryPractice.role == 2 %}style="color:darkgrey;{% if veterinaryPracticeId == veterinaryPractice.id %}background-color:lightgrey;{% endif %}"{% endif %}>{{ veterinaryPractice | practiceSummary }}</a>

        </li>
        {% endfor %}
        <li class="{% if shared %}active{% endif %}">
            <a href="{{ path("veterinary_report_shared") }}">Shared</a>
        </li>
        <!--
        <li>
            <a href="{{ path('veterinary_practices') }}">Beheer praktijken</a>
        </li>
        -->
    </ul>
{% endblock %}

{% block Content %}
    <script>
        function submitFor() {
            var keyword = $("#keyword").val();
            $("#search-form").attr("action", keyword == '' ? '{{ path("veterinary_report_index") }}' : '{{ path("veterinary_search_base") }}'+keyword);
        }
    </script>
    <div class="row">
        <div class="col-xs-2 text-center">
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh" onclick="location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-10">
            <form id="search-form" action="" method="post" class="zlx_form">
                <div class="input-group">
                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="{% if keyword is defined%}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" data-toggle="tooltip" title="Search" onclick="submitFor()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
    </div>

    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}

    <ul class="nav nav-pills nav-stacked">
        {{ include('ZoolyxCoreBundle::Veterinary/Report/Line/header.html.twig') }}
        {% for report in pager.currentPageResults %}
            {% if report.hasAVersion %}
                {{ include('ZoolyxCoreBundle::Veterinary/Report/Line/line.html.twig') }}
            {% else %}
                {{ include('ZoolyxCoreBundle::Veterinary/Report/Line/line_new.html.twig') }}
            {% endif %}
        {% endfor %}
    </ul>

    <div class="row">
        <div class="col-xs-12 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
