<div style="padding-bottom: 40px">

        <h3>{% trans %}report_questions{% endtrans%}</h3>
        <ul class="nav nav-pills nav-stacked">
            {% for t in report.report.tickets %}
                {% if ticket is not null and ticket.id == t.id %}
                    <li class="active">
                        <a href="#">{{ t.owner.email }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('zoolyx_report_ticket', {'hash':report.hash,'ticketId':t.id}) }}">{{ t.owner.email }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% for account in report.getRemainingAccountsWithAccess %}
                {% if  ticketOwner.id == account.id %}
                    <li class="active">
                        <a href="#">{{ account.email }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('zoolyx_report_question_new', {'hash':report.hash,'accountId':account.id}) }}">{{ account.email }}</a>
                    </li>
                {% endif %}
        	{% endfor %}
        </ul>
</div>