<div class="row">
    <div class="col-xs-3">
        {% if app.user.hasRole('ROLE_ADMINISTRATOR') %}
            {{ include('ZoolyxTicketBundle:User:ticket_menu_admin.html.twig', {}) }}
        {% else %}
            {{ include('ZoolyxTicketBundle:User:ticket_menu.html.twig', {}) }}
        {% endif %}
    </div>
    <div class="col-xs-9">

        {% if ticket %}
            {{ include('ZoolyxTicketBundle:User:ticket_history.html.twig', { 'events': ticket.events }) }}
            <hr>
        {% endif %}

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_widget(form.content, {'attr': {'class': 'form-control internal-message'}}) }}
                    {%for error in form.content.vars.errors%}
                        <p style="color:red">{{error.message}}</p>
                    {%endfor%}
                </div>
                <div class="form-group">
                    <p>{% trans %}ticket.attachments{% endtrans %}</p>
                    {{ form_widget(form.attachments, {'attr': {'class': 'form-control internal-message'}}) }}
                    {%for error in form.attachments.vars.errors%}
                        <p style="color:red">{{error.message}}</p>
                    {%endfor%}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
