{% for event in events %}
{% if event | showToUser %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-12">
            {{ event.createdOn | niceDate }}
        </div>
        <div class="col-xs-12">
            {{ include('ZoolyxTicketBundle:TicketEvent:' ~ event|getTwig ~ '.html.twig', {  }) }}
        </div>
    </div>
{% endif %}
{% endfor %}
