<div style="padding-bottom: 40px">
    {% if tickets|length > 0 %}
        <p>Existing questions:</p>
        <ul class="nav nav-pills nav-stacked">
            {% for t in tickets %}
                {% if ticket is not null and ticket.id == t.id %}
                    <li class="active">
                        <a href="#">{{ t.owner.email }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('zoolyx_report_ticket', {'hash':report.hash,'ticketId':t.id}) }}">{{ t.owner.email }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>