{% extends "ZoolyxTicketBundle::user_layout.html.twig" %}

{% block tickets_container %}
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" data-toggle="tooltip" title="Back to overview" href="{{ path("zoolyx_user_tickets") }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </a> {% trans %}report_menu.back{% endtrans %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ include('ZoolyxTicketBundle:User:ticket.html.twig', {}) }}
        </div>
    </div>
{% endblock %}

