{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.staalophaling{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">Test Adresvalidatie</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <p>resultaat:</p>
    <p>{{ address.streetName }} {{ address.streetNumber }} {{ address.boxNumber }}</p>
    <p>{{ address.postalCode }} {{ address.municipalityName }}</p>
    <p>{{ address.countryName }}</p>

{% endblock %}