{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.staalophaling{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">Test Adresvalidatie</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div style="font-weight: bold; color: red">
            {% if errors is not empty %}
                {% for error in errors%}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% if warnings is not empty %}
                {% for warning in warnings%}
                    <p>{{ warning[0] }}: {{ warning[1] }}</p>
                {% endfor %}
            {% endif %}
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}