{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}

{% block Request %}
    {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 7,step: 1}) }}
    <div class="row" style="margin-top:40px;">
        <div class="col-xs-offset-2 col-xs-10">
            <p>{% trans %}report_additional_request.select_sample_instruction{% endtrans %}.</p>

            <ul class="nav nav-pills nav-stacked">
                {% for sample in samples %}
                    <li role="presentation">
                        <a href="{{ path('zoolyx_report_additional_request_select_sample', { 'sampleId': sample.id}) }}">
                            <div class="row">
                                <div class="col-xs-2">
                                    {{ sample.code }}
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <img style="margin: 0 auto; height: 20px;" src="{{ asset('bundles/zoolyxcore/images/animals/' ~ report.petSpeciesName(sample.pet) ~ '.png', absolute=true) }}" alt="{{ report.petSpeciesName }}">
                                        </div>
                                        <div class="col-xs-1">
                                            {% if sample.pet.gender == "M" or sample.pet.gender == "MN" %}<i class="icon ion-male"></i>{% endif %}
                                            {% if sample.pet.gender == "V" or sample.pet.gender == "VN" %}<i class="icon ion-female"></i>{% endif %}
                                        </div>
                                        <div class="col-xs-10">
                                            {{ sample.pet.name | firstUpper}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    {{ sample.pet.chipNbr }}
                                </div>

                                <div class="col-xs-1">
                                    {{ sample.completed | statusAsText(report.language) | upper }}
                                </div>
                            </div>
                        </a>
                    </li>
                {%  endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

