{% extends "ZoolyxCoreBundle::Request/request_layout.html.twig" %}
 
{% block Request %}

    {{ form_start(form,{ 'attr': {'class': 'form-horizontal zlx_form', 'action':path('request_submit_pet_form')} }) }}

    <div class="checkout text-center">
        <h1 class="checkout-title text-center">{% trans %}request.admin{% endtrans %}</h1>
        {{ include('ZoolyxCoreBundle:Request:step/progress.html.twig', {size: 5,step: 0, buttonId: 'confirm'}) }}
    </div>
    <div class="row">
	    <div class="form-group col-xs-12 col-sm-6">
        	<label class="col-xs-4 text-right">{% trans %}request.practice_ref{% endtrans %}</label>
        	<div class="col-xs-8">
        	    {% if requestData.editPracticeReference %}
                    {{ form_widget(form.practiceReference) }}
                    {%for error in form.practiceReference.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                {% else %}
                    {{ requestData.practiceReference }}
                {% endif %}
       	    </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
      	  <label class="col-xs-4 text-right">{% trans %}request.request_date{% endtrans %}</label>
        	<div class="col-xs-8">
            	{% if requestData.requestDate is defined %}{{ requestData.requestDate | date('d-m-Y H:i:s')}}{% endif %}
        	</div>
        </div>
    </div>
    {% if form.limsId is defined %}
        {% if requestData.isAdministrator() %}
            <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                    <div class="control-label col-xs-4 text-right"><label for="search_lims"></label></div>
                    <div class="col-xs-8">
                        <input type="text" id="search_lims" placeholder="{% trans %}request.search_lims_id.placeholder{% endtrans %}">
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <div class="control-label col-xs-4 text-right">{{ form_label(form.limsId) }}</div>
                <div class="col-xs-8">
                    {{ form_widget(form.limsId,{'attr': {'class': "lims-id"} }) }}
                    {%for error in form.limsId.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div id="form-container">

            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><h3>{% trans %}request.ad{% endtrans %}</h3></div>
                </div>
                <div class="form-group">
					<div class="control-label col-sm-3">{{ form_label(form.lastName) }}</div>
					<div class="col-xs-12 col-sm-6">
						{{ form_widget(form.lastName) }}
						{%for error in form.lastName.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
					</div>
	            </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.firstName) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.firstName) }}
                        {%for error in form.firstName.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.street) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.street) }}
                        {%for error in form.street.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.zipCode) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.zipCode) }}
                        {%for error in form.zipCode.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.city) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.city) }}
                        {%for error in form.city.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.country) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.country) }}
                        {%for error in form.country.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.telephone) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.telephone) }}
                        {%for error in form.telephone.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.email) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.email) }}
                        {%for error in form.email.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.language) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.language) }}
                        {%for error in form.language.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><h3>{% trans %}request.pe{% endtrans %}</h3></div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.name) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.name) }}
                        {%for error in form.name.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.chipNbr) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.chipNbr) }}
                        {%for error in form.chipNbr.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.speciesCode) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.speciesCode) }}
                        {%for error in form.speciesCode.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.breedCode) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.breedCode) }}
                        {%for error in form.breedCode.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.gender) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.gender) }}
                        {%for error in form.gender.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.birthDate) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.birthDate) }}
                        {%for error in form.birthDate.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6"><h3>{% trans %}request.invoice{% endtrans %}</h3></div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.invoiceFor) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {% for key, item in form.invoiceFor.children %}
                            <div>
                                {{ form_widget(item,{'attr': {'class': "invoice-for", 'placeholder': "Voer BTW nummer in"}} ) }}
                                {{ form_label(item) }}
                            </div>
                        {% endfor %}
                        {%for error in form.invoiceFor.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-sm-3">{{ form_label(form.vatNbr) }}</div>
                    <div class="col-xs-12 col-sm-6">
                        {{ form_widget(form.vatNbr) }}
                        {%for error in form.vatNbr.vars.errors%}<p style="color:red">{{error.message}}</p>{%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
{% block scripts %}
    <script>
        $( function() {
            var $FormDataVatNbr = $('#FormData_vatNbr');
            var $FormDataFaId = $('#FormData_faId');
            if ($('#FormData_invoiceFor_0').prop("checked")) {
                $FormDataVatNbr.attr('readonly','readonly');
            } else {
                $FormDataVatNbr.removeAttr('readonly');
                $FormDataVatNbr.val('');
                $FormDataFaId.val('');
            }

            $('select#FormData_limsId').on('change', function() {
                loadVatForLimsId(this.value, true);
            });

            $('input.invoice-for').on('change', function() {
                console.log("changed");
                var selection =  this.value;
                if (selection == 1) { //veterinary
                    var $limsId = $('select#FormData_limsId');
                    if ($limsId.length) {
                        var limsId = $('select#FormData_limsId').val();
                        loadVatForLimsId(limsId);
                    } else {
                        loadVatForLimsId('{{ requestData.limsId }}');
                    }
                } else {
                    $FormDataVatNbr.removeAttr('readonly');
                    $FormDataVatNbr.val('');
                    $FormDataFaId.val('');
                }
            });

            $('select#FormData_country').on('change', function() {
                updateRegex();
            });
            updateRegex();

            $('select#FormData_speciesCode').on('change', function() {
                var speciesCode = this.value;
                $.ajax({
                    url:  "{{ path('zoolyx_service_api_species_base') }}/"+speciesCode+"/breed/nl",
                    type: "GET",
                    dataType: 'JSON',
                    success:function(data) {
                        var $formBreedCode = $('#FormData_breedCode');
                        $formBreedCode.empty();
                        var $option = $('<option value="">'+'{% trans %}request.pe_breed.placeholder{% endtrans %}'+'</option>');
                        $formBreedCode.append($option);
                        _.each(data.results, function(result){
                            var $option = $('<option value="'+result.id+'">'+result.description+'</option>');
                            $formBreedCode.append($option);
                        });
                    }
                });
            });

            {% if requestData.isAdministrator() %}
            var lastKey = '';
            $('#search_lims').on('keyup paste', function() {
                var searchKey = $(this).val();
                if (searchKey != lastKey && searchKey.length>2) {
                    lastKey = searchKey;
                    $.ajax({
                        url:  "{{ path('zoolyx_service_api_veterinary_practice_base') }}/search/"+searchKey,
                        type: "GET",
                        dataType: 'JSON',
                        success:function(data) {
                            var $formLimsId = $('#FormData_limsId');
                            $formLimsId.empty();
                            var $option = $('<option value="">'+'{% trans %}request.select_lims_id.placeholder{% endtrans %}'+'</option>');
                            $formLimsId.append($option);
                            _.each(data.results, function(result){
                                var $option = $('<option value="'+result.limsId+'">'+result.name+'</option>');
                                $formLimsId.append($option);
                            });
                        }
                    });
                }
            });
            {% endif %}
        } );

        function updateRegex() {
            var countryCode = $('#FormData_country').val();
            var zipCoderegex = "";
            var $FormDataZipCode = $('#FormData_zipCode');
            switch(countryCode) {
                case "BE":
                    zipCoderegex = "\\d{4}";
                    break;
                case "LU":
                    zipCoderegex = "\\d{4}";
                    break;
                case "NL":
                    zipCoderegex = "\\d{4}[ ]?[A-Z]{2}";
                    break;
                case "FR":
                    zipCoderegex =  "\\d{2}[ ]?\\d{3}";
                    break;
                default:
                    zipCoderegex =  "\\d{4}";
                    break;
            }
            console.log(zipCoderegex);
            $FormDataZipCode.attr('pattern',zipCoderegex);
        }

        function loadVatForLimsId(limsId, useDefault) {
            useDefault = typeof useDefault == "undefined" ? false : useDefault;
            console.log(limsId);
            $.ajax({
                url:  "{{ path('zoolyx_service_api_veterinary_practice_base') }}/"+limsId+"/vat",
                type: "GET",
                dataType: 'JSON',
                success:function(data) {
                    console.log(data);
                    var vatNbr = data.result.vatNbr;
                    var faId = data.result.faId;
                    var invoiceDefault = data.result.default;
                    var $vatNbr = $('#FormData_vatNbr');
                    var $faId = $('#FormData_faId');
                    $vatNbr.val(vatNbr);
                    $faId.val(faId);
                    if (vatNbr == '') {
                        $vatNbr.removeAttr('readonly');
                    } else {
                        $vatNbr.attr('readonly','readonly');
                    }
                    if (useDefault) {
                        if (invoiceDefault == 1) { // veterinary
                            $("#FormData_invoiceFor_0").prop("checked", true);
                            //$("#FormData_invoiceFor_1").prop("checked", false);
                        } else { //owner
                            //$("#FormData_invoiceFor_0").prop("checked", false);
                            var $FormDataVatNbr = $('#FormData_vatNbr');
                            var $FormDataFaId = $('#FormData_faId');
                            $FormDataVatNbr.removeAttr('readonly');
                            $FormDataVatNbr.val('');
                            $FormDataFaId.val('');
                            $("#FormData_invoiceFor_1").prop("checked", true);
                        }
                    } else {
                        $("#FormData_invoiceFor_0").prop("checked", true);
                    }

                }
            });
        }
    </script>
{% endblock %}

