{% extends "::main_min.html.twig" %}

{% block head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
{% endblock %}

{% block container_class 'container' %}

{% block container %}
            {% block Main %}{% endblock %}
{% endblock %}

{% block scripts %}



{% if app.user %}

{% endif %}

{% endblock %}
