{% extends '::main.html.twig' %}

{% block title %}Error{% endblock %}
{% block container %}
    <h1>Something went wrong</h1>

    <p>
        {% block error_message %}{% endblock %}
    </p>
    <p>
        Click here to <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}