<div class="jumbotron text-center">
        <p>
            {% if app.request.locale == 'fr' %}
               Cette fonctionnalité est en cours de développement et sera bientôt disponible. Ce page est uniquement accesible pour faire des tests.
            {% else %}
                Deze functionaliteit is in ontwikkeling en zal weldra beschikbaar zijn. Deze pagina is enkel beschikbaar voor testdoeleinden.
            {% endif %}
        </p>
</div>