{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.logged_out{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.logged_out{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}

{% block Main %}
    <div class="jumbotron text-center">
        <p>
            {% if app.request.locale == 'fr' %}
                Vous avez été déconnecté avec succès
            {% else %}
                U bent succesvol uitgelogd
            {% endif %}
        </p>

    </div>

{% endblock %}

