{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Veterinary</h1>
        </div>
        <div class="col-xs-12">
            <a href="{{ path("admin_user", {userId:veterinary.account.id}) }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                terug
            </a>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-3 col-md-6">
                <div>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right">
                        {{ form_label(form.fa) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_widget(form.fa) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right">

                    </div>
                    <div class="col-xs-6">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                <div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
