{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block Main %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage User</h1>
        </div>
        <div class="col-xs-12">
            <a href="{{ path("admin_users") }}{% if page is defined %}?page={{ page }}{% endif %}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                terug naar overzicht
            </a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>User Details</h3>
            <table class="table">
                <tr><td>username</td><td>{{ user.username }}</td></tr>
                <tr><td>email</td><td>{{ user.email }}</td></tr>
                <tr><td>first name</td><td>{{ user.firstName }}</td></tr>
                <tr><td>last name</td><td>{{ user.lastName }}</td></tr>
            </table>
            {% if veterinary %}
            <h3>Veterinary Details
                <a href="{{ path("admin_edit_veterinary",{veterinaryId: veterinary.id}) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </h3>
            {% for veterinaryPractice in veterinary.veterinaryPractices %}
                Practice : {{ veterinaryPractice.practice.name }}
                {% if veterinaryPractice.vat %}, BTW {{ veterinaryPractice.vat.vat }}{% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Current roles</h3>
            <table class="table">
                {% for role in user.roles %}
                <tr>
                    <td>{{ role }}</td>
                    <td>
                        {% if role=="ROLE_USER" or role=="ROLE_SUPER_ADMIN" %}
                            &nbsp;
                        {% else %}
                            <a href="{{ path('admin_take_role',{'userId': user.id, 'role': role}) }}">remove this role</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h3>Add role</h3>
            <table class="table">
                {% for role in roles | filterRoles(user.roles) %}
                    <tr>
                        <td>{{ role }}</td>
                        <td>
                            <a href="{{ path('admin_give_role',{'userId': user.id, 'role': role}) }}">add this role</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
