{% extends "ZoolyxCoreBundle::layout.html.twig" %}

{% block PageHeaderTitle %}{% trans %}menu.users{% endtrans %}{% endblock %}
{% block PageHeaderBreadcrumb %}
    <span itemscope="">
        <span itemprop="title">{% trans %}menu.users{% endtrans %}</span>
    </span>
    <span class="fusion-breadcrumb-sep">•</span>
{% endblock %}


{% block Main %}
    <script>
        function submitFor() {
            var keyword = $("#keyword").val();
            $("#search-form").attr("action", keyword == '' ? '{{ path("admin_users") }}' : '{{ path("admin_users") }}?key='+keyword);
        }
    </script>
    <div class="row">
        <div class="col-xs-12 col-sm-6 page-links pagination">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 text-right">
            <form id="search-form" action="" method="post">
                <div class="input-group zlx_form">
                    <input type="text" name="keyword" id="keyword" class="form-control" placeholder="{% trans %}menu.enter_search_term{% endtrans %}" value="{% if keyword is defined%}{{ keyword }}{% endif %}">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-secondary" data-toggle="tooltip" title="Search" onclick="submitFor()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Last Login</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in pager.currentPageResults %}
                    <tr>
                        <td>{{ user.getUserName() }}</td>
                        <td>{{ user.getEmail() }}</td>
                        <td>{{ user.getFirstName() }}</td>
                        <td>{{ user.getLastName() }}</td>
                        <td>
                            {% if user.getLastLogin() is null %}
                                never
                            {% else %}
                                {{ user.getLastLogin() | date("d M Y")}}
                            {% endif %}
                        </td>
                        <td>
                            {% for role in user.roles | mainRoles %}
                                <label class="label {{ role | roleStyle }}">{{ role }}</label>
                            {% endfor %}
                        </td>
                        <td>
                            {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <a class="btn btn-primary" href="{{ path('admin_user',{'userId':user.getId()}) }}{% if pager.currentPage %}?page={{ pager.currentPage}}{% endif %}">Edit</a>
                            <a class="btn btn-primary" href="{{ path('zoolyx_account_settings',{'_switch_user': user.getUsername()}) }}">Impersonate</a>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}
    
    <div class="col-xs-12 page-links pagination">
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
        {% endif %}
    </div>
{% endblock %}
