{% extends "ZoolyxCoreBundle:Veterinary:Report/container.html.twig" %}
{% block Menu %}
    <div class="row">
        <div style="height: 80px;"></div>
    </div>
    <ul class="nav nav-pills nav-stacked text-right">
        <li>
            <a href="{{ path("veterinary_report_index") }}">All</a>
        </li>
        {% for veterinaryPractice in veterinaryPractices %}
        <li>
            <a href="{{ path("veterinary_report_group", {'veterinaryPracticeId': veterinaryPractice.id}) }}">{{ veterinaryPractice | practiceSummary }}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{{ path("veterinary_report_shared") }}">Shared</a>
        </li>
        <li class="active">
            <a href="{{ path('veterinary_practices') }}">Beheer praktijken</a>
        </li>
    </ul>
{% endblock %}

{% block Content %}
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
    {% endif %}

    {% if pager.currentPageResults|length == 0 %}
        {% trans %}menu.no_result_found{% endtrans %}
    {% endif %}

    <ul class="nav nav-pills nav-stacked">
        {% for practice in pager.currentPageResults %}
            <li role="presentation">
                <a href="{{ path("veterinary_practice",{ 'id': practice.id}) }}" style="color:black; padding:0">
                    <div class="row">
                        <div class="col-xs-6">
                            {{ practice.name }}
                        </div>
                        <div class="col-xs-6">
                            {{ practice.street }}, {{ practice.zipCode }} {{ practice.city }}
                        </div>
                        <div class="col-xs-12">
                            {{ practice.description }}
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'default', pagerfanta_opts) }}
    {% endif %}
{% endblock %}
