{% extends "ZoolyxCoreBundle:Veterinary:Report/container.html.twig" %}
{% block Menu %}
    <div class="row">
        <div style="height: 80px;"></div>
    </div>
    <ul class="nav nav-pills nav-stacked text-right">
        <li>
            <a href="{{ path("veterinary_report_index") }}">All</a>
        </li>
        {% for veterinaryPractice in veterinaryPractices %}
        <li>
            <a href="{{ path("veterinary_report_group", {'veterinaryPracticeId': veterinaryPractice.id}) }}">{{ veterinaryPractice | practiceSummary }}</a>
        </li>
        {% endfor %}
        <li>
            <a href="{{ path("veterinary_report_shared") }}">Shared</a>
        </li>
        <li class="active">
            <a href="{{ path('veterinary_practices') }}">Beheer praktijken</a>
        </li>
    </ul>
{% endblock %}

{% block Content %}
    {{ form(form) }}
{% endblock %}
