{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}

    <a href="#mobile-menu" class="button mobile"><i class="fa fa-arrow-down"></i> Menu</a>

    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="product-list">
            {% for product in products %}
                {{ include('ZoolyxShopBundle::Default/Product/product.html.twig', {product: product}) }}
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

