{% extends "ZoolyxShopBundle::layout.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/zoolyxshop/css/main.css', absolute=true) }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block Main %}
    <div class="grid message-grid">
        <div class="col-1-1">
        </div>
    </div>

    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="product-view">
                <h1 class="product-title">{{ product.name(app.request.locale) }}</h1>
                <div class="grid">
                    <div class="col-1-2" style="text-align: center">
                        <a href="/shop/{{ product.imageName }}" class="product-thumbnail">
                            <img class="product-image" src="/shop/{{ product.imageName }}" alt="{{ product.name(app.request.locale) }}" />
                        </a>
                    </div>
                    <div class="col-1-2">
                        <div class= "product-to-basket">
                            <h5 class="product-title desktop">{{ product.name(app.request.locale) }}</h5>
                            <p class="product-actions">
                                <span class="product-pricing">€{{ (product.price/100) | number_format(2, ',', '.') }}</span>
                                <a title="Add to cart"
                                   class="fa fa-shopping-cart button button-secondary"
                                   data-test="add-product-24-to-cart"
                                   href="{{ path('shop_cart_add_product',{id:product.id}) }}"> Add to cart</a>
                            </p>
                        </div>

                        <p>{{ product.shortDescription(app.request.locale) }}</p>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-1">

                </div>
            </div>
        </div>
    </div>



    <div id="mobile-menu" class="grid mobile">
        <ul class="category-nav" data-test="category-nav">
            <li>
                <a href="http://www.opt.localhost/repositories/bart/elcodi/bamboo5/web/app_dev.php/shop/"  class="active">New</a>
            </li>
            <li >
                <a href="http://www.opt.localhost/repositories/bart/elcodi/bamboo5/web/app_dev.php/category/sample-containers/3"
                        >
                    Sample containers
                </a>
            </li>
        </ul>

    </div>
{% endblock %}

